$topSpace:80px;
$lightGrey:rgba(242, 242, 242, 1); //used for background
$mediumGrey:rgba(200, 200, 200, 1); //used for borders
$darkGrey:rgba(121, 121, 121, 1); //used for language button
$successButtonColor:rgba(235, 68, 90, 1); //used for Login,research
$infoButtonColor:rgba(52, 125, 237, 100); //used for Register
$linkButtonColor:#347DED;
$secondaryButtonColor: white;
$radiusButtons: 6px;
$leftMenuButtonColor:#1B1B1B;
$leftMenuWidth: 179px;
$off-wht: rgba(white,.4);


/****************** Mixin Functions
_____  ._______  ___.___ _______
/     \ |   \   \/  /|   |\      \
/  \ /  \|   |\     / |   |/   |   \
/    Y    \   |/     \ |   /    |    \
\____|__  /___/___/\  \|___\____|__  /
\/          \_/            \/
*****************/
@mixin btn-theme($btn-color, $type) {
  @if $type == 'standard' {
    width: 100%;
    border-color: darken($btn-color, 20%);
    background-color: $btn-color !important;
    &:hover {
      background-color: darken($btn-color, 6%);
      border-color: darken($btn-color, 20%);
      box-shadow: 0 .125em $off-wht, inset 0 .063em $off-wht, inset 0 -.188em lighten($btn-color, 2%);
    }
    &:active {
      box-shadow: 0 .063em $off-wht, inset 0 0 1.094em darken($btn-color, 40%), inset 0 .063em darken($btn-color, 20%),inset 0 -0.188em darken($btn-color, 20%);
    }
  } @else if $type == 'secondary' {
    width: 100%;
    color: $btn-color !important;
    border-color: darken($btn-color, 20%);
    background-color: white !important;
    border: solid;
    border-width: 2px;
    &:hover {
      background-color: darken($btn-color, 6%);
      border-color: darken($btn-color, 20%);
      box-shadow: 0 .125em $off-wht, inset 0 .063em $off-wht, inset 0 -.188em lighten($btn-color, 2%);
    }
    &:active {
      box-shadow: 0 .063em $off-wht, inset 0 0 1.094em darken($btn-color, 40%), inset 0 .063em darken($btn-color, 20%),inset 0 -0.188em darken($btn-color, 20%);
    }
  } @else if $type == 'link' {
    width: 100%;
    color: $btn-color !important;
  } @else if $type == 'Language' {
    width: 134px;
    height: 36px;
    margin-left: 10px;
    color: $darkGrey;
    background-color: $btn-color;
    border: solid;
    border-width: 1px;
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    line-height: normal;
  }
}

@mixin trans($val...) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  transition: $val;
}
/*** End Mixin ****/



/************** Button Guide
\______   \__ ___/  |__/  |_  ____   ____   ______
|    |  _/  |  \   __\   __\/  _ \ /    \ /  ___/
|    |   \  |  /|  |  |  | (  <_> )   |  \\___ \
|______  /____/ |__|  |__|  \____/|___|  /____  >
\/                              \/     \/
***************/
.btn {
  height: 40px;
  padding: 10px 12px;
  opacity: 1;
  border-radius: $radiusButtons;
  /** added mixin **/
  @include trans(0.2s ease-in-out);
}

.btn:hover {
  opacity: 0.8;
}

.btn-success {
  @include btn-theme($successButtonColor, 'standard');
}

.btn-info {
  @include btn-theme($infoButtonColor, 'standard');
}

.btn-link {
    @include btn-theme($linkButtonColor, 'link');
}

//Secondary buttons have a white background, the color is the one of the text
.btn-secondary {
  @include btn-theme($successButtonColor, 'secondary');
}

.languageButton, .languageButton:focus, .languageButton:hover{
  @include btn-theme($lightGrey, 'Language');
}

//Header buttons are smaller
.smallButton {
  padding: 6px 12px;
  height: 30px;
  width: auto;
}

.logoutButton {
  color: $darkGrey;
}




/*********** End Buttons ****************/




//Logo Metaverse Login and Register pages
.logoMetaverseLogin {
  width: 170px;
  height: 65px;
}

.padding-big-top{
  padding-top:$topSpace;
}

.mnemonic_red{
  background-color: rgba(242, 242, 242, 1);
  color: red;
  border: 10px solid transparent;
  width:100%;
}

.plusCheckBox {
  padding-left: 20px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
}

.languageButtonLogin {
  width: 144px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0);
  border-width: 1px;
  border-color: rgba(121, 121, 121, 1);
}

/***********Top bar***********/
.header{
  display: flex;
  flex-flow: row wrap;
  height: 50px;
}

//Logo Metaverse top bar
.logoMetaverseSmall {
  width: 90px;
  height: 34px;
  position: absolute;
  left: 27px;
  top: 8px;
}

.header {
  height:50px;
  overflow:hidden;
  margin:0 auto;
  background-color: $lightGrey;
  border-top: 1px solid $mediumGrey;
  border-bottom: 1px solid $mediumGrey;
  border-radius: 0px;
}

//Research div, including the texbox and the button
.research {
  flex-flow: row;
  margin-top: 8px
}

.researchTextBox{
  width: 75%;
  height: 30px;
  display:inline;
  border-radius: 6px;
  margin-right: 8px;
}

.header .own {
  float:left;
  height: 50px;
  font-size: 24px;
}

.header-right {
  float:right;
  display:inline;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 6px;
}

.userName {
  padding-right: 12px;
  margin-top: 4px;
}


.menuButtonSmallScreen {
  position: absolute;
  right:5px;
  top: 5px;
}

/***********Left Menu***********/
.leftnav {
  background-color: $lightGrey;
  width: $leftMenuWidth;
  min-height: 700px;
  height: auto;
  left: 0px;
  float: left;
}

.leftMenu {
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.leftMenuButtons {
  color: $leftMenuButtonColor;
}

.leftMenuButtons:focus{
  color:red;
}

.leftMenuButtons:hover{
  color:red;
  //font-weight: bold;
}

.dropdown-header {
  padding-top: 10px;
  padding-left: 0px;
}

.menuLine {
  margin-bottom: 10px;
  height: 1px;
  background: $mediumGrey;
}

.version {
  width: $leftMenuWidth;
  padding-left: auto;
  padding-right: auto;
  height:40px;
  text-align:center;
  color:$leftMenuButtonColor;
  float:left;
  position:absolute;
  bottom: 10px;
}

.redMenu {
  color: red;
}




/***********Language***********/
//Flags language
.en, .zh ,.de {
  width: 24px;
}

.dropdown-menu {
  position:relative;
}



/****************Commun to all pages****************/
.content{
  right: 0px;
  height:auto;
  margin: 10px 30px;
}

.admin {
  overflow:hidden;
  min-height:700px;
  padding-top: 20px;
  padding-left: 20px;
}

.headline {
  font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight: 650;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  font-kerning: normal;

}

.layout {
  //display: inline-block;
  width:100%;
}

//Loading spinner, on the top right
#nprogress .spinner-icon {
  width: 26px;
  height: 26px;
  border: dotted 4px transparent;
  border-bottom-color: rgba(73,155,234,1);
  border-right-color: rgba(221,227,32,1);
  border-top-color: rgba(227,34,34,1);

  -webkit-animation: nprogress-spinner 1000ms linear infinite;
  animation: nprogress-spinner 1000ms linear infinite;
}


/****************Mining view****************/


//Spinner when miningTable
.miningSpinner {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-left: 10px;
  border: dotted 4px transparent;
  border-bottom-color: rgba(73,155,234,1);
  border-right-color: rgba(221,227,32,1);
  border-top-color: rgba(227,34,34,1);
  -webkit-animation: nprogress-spinner 1000ms linear infinite;
  animation: nprogress-spinner 1000ms linear infinite;

}

.configText {
  position:relative;
  margin-top: 20px;
  margin-left: 20px;
  height: 70px;

}

.miningRecommendation {
  display: inline-block
}

.miningEnd {
  padding: 10px 0px;
}


.miningTable {
  position:relative;
}


/*******************Account settings*********************/
.exportAccount {
  display: inline-block;
  margin: 10px;
}
