$topSpace:80px;
$lightGrey:rgba(242, 242, 242, 1); //used for background
$mediumGrey:rgba(200, 200, 200, 1); //used for borders
$darkGrey:rgba(121, 121, 121, 1); //used for language button
$successButtonColor:rgba(235, 68, 90, 1); //used for Login,research
$infoButtonColor:rgba(52, 125, 237, 100); //used for Register
$radiusButtons: 6px;
$leftMenuButtonColor:#1B1B1B;
$leftMenuWidth: 179px;

//Logo Metaverse Login and Register pages
.logoMetaverse {
  width: 170px;
  height: 65px;
}

.padding-big-top{
  padding-top:$topSpace;
}

.mnemonic_red{
	background-color: rgba(242, 242, 242, 1);
	color: red;
  border: 10px solid transparent;
}

//input.css-checkbox[type="checkbox"] + label.css-label {

.plusCheckBox {
  padding-left: 20px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
}

.languageButtonLogin {
  width: 144px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0);
  border-width: 1px;
  border-color: rgba(121, 121, 121, 1);
}


.btn {
  height: 40px;
  padding: 10px 12px;
  opacity: 1;
  border-radius: $radiusButtons
}

.btn:hover{
  opacity: 0.8;
}

.btn-success {
  background-color: $successButtonColor !important;
  border: none;
}

.btn-info {
  background-color: $infoButtonColor !important;
  border: none;
}

.btn-link {

}

/***********Top bar***********/
.header{
  display: flex;
  flex-flow: row wrap;
  height: 50px;
}

//Logo Metaverse top bar
.logoMetaverseSmall {
  width: 90px;
  height: 34px;
}

.logo {
  position: absolute;
  left: 27px;
  top: 8px;
}

.panel {
  height:50px;
  overflow:hidden;
  margin:0 auto;
  background-color: $lightGrey;
  border-top: 1px solid $mediumGrey;
  border-bottom: 1px solid $mediumGrey;
  border-radius: 0px;
}

//Research div, including the texbox and the button
.research {
  flex-flow: row;
  margin-top: 8px
}

.researchTextBox{
  width: 75%;
  height: 30px;
  display:inline;
  border-radius: 6px;
  margin-right: 8px;
}

.header .own {
  float:left;
  height: 50px;
  font-size: 24px;
}

.header-right {
  float:right;
  display:inline;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 6px;
}

.userName {
  padding-right: 12px;
  margin-top: 4px;
}

.headerButton {
  padding: 6px 12px;
  height: 30px;
}

.logoutButton {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #6B6B6B;
  padding: 6px 12px;
}

.menuButtonSmallScreen {
  position: absolute;
  right:5px;
  top: 5px;
}

/***********Left Menu***********/
.leftnav {
  background-color: $lightGrey;
  width: $leftMenuWidth;
  min-height: 700px;
  height: auto;
  left: 0px;
  float: left;
}

.leftMenu {
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.leftMenuButtons {
  color: $leftMenuButtonColor;
}

.leftMenuButtons:focus{
  color:red;
}

.leftMenuButtons:hover{
  color:red;
  //font-weight: bold;
}

.dropdown-header {
  padding-top: 10px;
  padding-left: 0px;
}

.menuLine {
  margin-bottom: 10px;
  height: 1px;
  background: $mediumGrey;
}

.version {
  width: $leftMenuWidth;
  padding-left: auto;
  padding-right: auto;
  height:40px;
  text-align:center;
  color:$leftMenuButtonColor;
  float:left;
  position:absolute;
  bottom: 10px;

}




/***********Language***********/
//Flags language
.en, .zh ,.de {
    width: 24px;
}

.dropdown-menu {
  position:relative;
}

.languageButton, .languageButton:focus, .languageButton:hover{
  width: 134px;
  height: 36px;
  margin-left: 10px;
  color: $darkGrey;
  background-color: $lightGrey;
  border: solid;
  border-width: 1px;

  font-family: 'ArialMT', 'Arial';
  font-weight: 400;
  font-size: 13px;
  //color: #333333;
  text-align: center;
  line-height: normal;
}


//****************Commun to all pages****************
.content{
  right: 0px;
  height:auto;
  padding: 10px;
}

.admin {
  overflow:hidden;
  min-height:700px;
  padding-top: 20px;
 padding-left: 20px;
}

.headline {
  font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight: 650;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  font-kerning: normal;

}

.layout {
  //display: inline-block;
  width:100%;
}
