$topSpace:80px;
$lightGrey:rgba(242, 242, 242, 1); //used for background
$mediumGrey:rgba(200, 200, 200, 1); //used for borders
$darkGrey:rgba(121, 121, 121, 1); //used for language button
$veryDarkGrey: #5E5E5E; //user for text in assets
$successButtonColor:rgba(235, 68, 90, 1); //used for Login,research
$infoButtonColor:rgba(52, 125, 237, 100); //used for Register
$linkButtonColor:#347DED;
$blueGeneralColor:#347DED;
$secondaryButtonColor: white;
$radiusButtons: 6px;
$leftMenuButtonColor:#1B1B1B;
$leftMenuWidth: 179px;
$off-wht: rgba(white,.4);


/****************** Mixin Functions
_____  ._______  ___.___ _______
/     \ |   \   \/  /|   |\      \
/  \ /  \|   |\     / |   |/   |   \
/    Y    \   |/     \ |   /    |    \
\____|__  /___/___/\  \|___\____|__  /
\/          \_/            \/
*****************/
@mixin btn-theme($btn-color, $type) {
  @if $type == 'standard' {
    width: 100%;
    border-color: darken($btn-color, 20%) !important;
    background-color: $btn-color !important;
    &:hover {
      background-color: darken($btn-color, 6%);
      border-color: darken($btn-color, 20%);
      box-shadow: 0 .125em $off-wht, inset 0 .063em $off-wht, inset 0 -.188em lighten($btn-color, 2%);
    }
    &:active {
      box-shadow: 0 .063em $off-wht, inset 0 0 1.094em darken($btn-color, 40%), inset 0 .063em darken($btn-color, 20%),inset 0 -0.188em darken($btn-color, 20%);
    }
  } @else if $type == 'secondary' {
    width: 100%;
    color: $btn-color !important;
    border-color: darken($btn-color, 20%) !important;
    background-color: white !important;
    border: solid;
    border-width: 2px;
    &:hover {
      background-color: darken($btn-color, 6%);
      border-color: darken($btn-color, 20%);
      box-shadow: 0 .125em $off-wht, inset 0 .063em $off-wht, inset 0 -.188em lighten($btn-color, 2%);
    }
    &:active {
      box-shadow: 0 .063em $off-wht, inset 0 0 1.094em darken($btn-color, 40%), inset 0 .063em darken($btn-color, 20%),inset 0 -0.188em darken($btn-color, 20%);
    }

  } @else if $type == 'link' {
    width: 100%;
    color: $btn-color !important;
    background-color: transparent !important;
    border-width: 0 !important;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }

  } @else if $type == 'language' {
    padding-top: 6px;
    width: 134px;
    height: 36px;
    margin-left: 6px;
    color: $darkGrey;
    background-color: transparent !important;
    border: solid;
    border-width: 1px;
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    line-height: normal;
    border-color: $btn-color !important;

  }
}

@mixin trans($val...) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  transition: $val;
}
/*** End Mixin ****/

//Radio buttons to add in the Mixin
.radioButton {
    div {
      overflow: hidden;
    }

    span {
      margin-right: 10px;
    }

    label {
      width: 160px;
      height: 36px;
      color: $blueGeneralColor;
      font-size: 14px;
      border-radius: 6px;
      border: 1px solid $blueGeneralColor;
      font-weight: normal;
      text-align: right;
      padding-right: 20px;
      margin-top: 10px;
    }

    input {
        &:empty {
            display: none;
            ~ label {
                position: relative;
                line-height: 2.5em;
                text-indent: 3.25em;
                cursor: pointer;
                user-select: none;

                &:before {
                    position: absolute;
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 2.5em;
                    border-radius: 3px 0 0 3px;
                }
            }
        }

        &:hover:not(:checked) ~ label {
            opacity: 0.8;

            &:before {
                content: '\2714';
                text-indent: .9em;
                color: $blueGeneralColor;
            }
        }

        &:checked ~ label {
            color: white;
            background-color: $blueGeneralColor;

            &:before {
                content: '\2714';
                height: 20px;
                text-indent: .9em;
                color: white;
                background-color: $blueGeneralColor;
            }
        }

        &:focus ~ label:before {
            opacity: 0.8;
        }
    }
}


/************** Button Guide
\______   \__ ___/  |__/  |_  ____   ____   ______
|    |  _/  |  \   __\   __\/  _ \ /    \ /  ___/
|    |   \  |  /|  |  |  | (  <_> )   |  \\___ \
|______  /____/ |__|  |__|  \____/|___|  /____  >
\/                              \/     \/
***************/
.btn {
  height: 40px;
  padding: 10px 12px;
  opacity: 1;
  border-radius: $radiusButtons;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  /** added mixin **/
  @include trans(0.2s ease-in-out);
}

.btn:hover {
  opacity: 0.8;
}

.btn-success {
  @include btn-theme($successButtonColor, 'standard');
}

.btn-info {
  @include btn-theme($infoButtonColor, 'standard');
}

.btn-link {
    @include btn-theme($linkButtonColor, 'link');
}

//Secondary buttons have a white background, the color is the one of the text
.btn-secondary {
  @include btn-theme($successButtonColor, 'secondary');
}

.languageButton, .languageButton:focus, .languageButton:hover {
  @include btn-theme($lightGrey, 'language');
}

.languageButtonRegister, .languageButtonRegister:focus, .languageButtonRegister:hover {
  @include btn-theme(transparent, 'language');
}



//Header buttons are smaller
.smallButton {
  padding: 6px 12px;
  height: 30px;
  width: auto;
}

.logoutButton {
  color: $darkGrey !important;
  font-size: 14px;
}

.addressLinkButton {
  padding: 6px;
  padding-left: 10px;
  font-family: 'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
}

.createAddressButton {
  width: auto;
  margin-top: 10px;
}

.checkboxCircle {
	background: white;

  margin: 0px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  position: relative;
outline: 0;
}

.checkboxCircle label {
  cursor: pointer;
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: -2px;
  top: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

  background: $lightGrey;
  outline: 0;
}

.checkboxCircle label:after {
  opacity: 0;
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	background: $blueGeneralColor;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 4px;
	left: 5px;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  outline: 0;
}

.checkboxCircle label:hover::after {
	filter: alpha(opacity=30);
	opacity: 0.3;
  outline: 0;
}

.checkboxCircle input[type=checkbox]:checked + label:after {
	filter: alpha(opacity=90);
	opacity: 0.9;
}

.checkboxCircle :focus {
  outline: 0;
}


/*********** End Buttons ****************/



/*****************Login page****************/
//Logo Metaverse Login and Register pages
.logoMetaverseLogin {
  width: 170px;
  height: 65px;
}

.padding-big-top{
  padding-top:$topSpace;
}

.mnemonic_red{
  background-color: rgba(242, 242, 242, 1);
  color: red;
  border: 10px solid transparent;
  width:100%;
}

.languageButtonLogin {
  width: 144px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0);
  border-width: 1px;
  border-color: rgba(121, 121, 121, 1);
}


/******************Register page*************/
.importAccountText {
  padding-left: 10px;
}

/***********Top bar***********/
.header{
  display: flex;
  flex-flow: row wrap;
  height: 50px;
}

//Logo Metaverse top bar
.logoMetaverseSmall {
  width: 90px;
  height: 34px;
  position: absolute;
  left: 27px;
  top: 8px;
}

.header {
  height:50px;
  overflow:hidden;
  margin:0 auto;
  background-color: $lightGrey;
  border-top: 1px solid $mediumGrey;
  border-bottom: 1px solid $mediumGrey;
  border-radius: 0px;
}

//Research div, including the texbox and the button
.research {
  flex-flow: row;
  margin-top: 8px
}

.researchTextBox{
  width: 75%;
  height: 30px;
  display:inline;
  border-radius: 6px;
  margin-right: 8px;
}

.header .own {
  float:left;
  height: 50px;
  font-size: 24px;
}

.header-right {
  float:right;
  display:inline;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 6px;
}

.userName {
  padding-right: 12px;
  margin-top: 4px;
}


.menuButtonSmallScreen {
  position: absolute;
  right:5px;
  top: 5px;
}

/***********Left Menu***********/
.leftnav {
  background-color: $lightGrey;
  width: $leftMenuWidth;
  min-height: 700px;
  height: auto;
  left: 0px;
  float: left;
}

.leftMenu {
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.leftMenuButtons {
  color: $leftMenuButtonColor;
}

.leftMenuButtons:focus{
  color:red;
}

.leftMenuButtons:hover{
  color:red;
  //font-weight: bold;
}

.dropdown-header {
  padding-top: 10px;
  padding-left: 0px;
}

.menuLine {
  margin-bottom: 10px;
  height: 1px;
  background: $mediumGrey;
}

.version {
  width: $leftMenuWidth;
  padding-left: auto;
  padding-right: auto;
  height:40px;
  text-align:center;
  color:$leftMenuButtonColor;
  float:left;
  position:absolute;
  bottom: 10px;
}

.redMenu {
  color: red;
}




/***********Language***********/
//Flags language
.languageFlag {
  width: 24px;
}

.dropdown-menu {
  top: auto;
}



/****************Commun to all pages****************/
.content{
  right: 0px;
  height:auto;
  margin: 10px 30px;
}

.admin {
  overflow:hidden;
  min-height:700px;
  padding-top: 20px;
  padding-left: 20px;
}

.headline {
  font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight: 650;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  font-kerning: normal;

}

.layout {
  //display: inline-block;
  width:100%;
}

//Loading spinner, on the top right
#nprogress .spinner-icon {
  width: 26px;
  height: 26px;
  border: dotted 4px transparent;
  border-bottom-color: rgba(73,155,234,1);
  border-right-color: rgba(221,227,32,1);
  border-top-color: rgba(227,34,34,1);

  -webkit-animation: nprogress-spinner 1000ms linear infinite;
  animation: nprogress-spinner 1000ms linear infinite;
}

.noPaddingLeftRight {
  padding-left: 0px;
  padding-right: 0px;
}


/****************Mining view****************/


//Spinner when miningTable
.miningSpinner {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-left: 10px;
  border: dotted 4px transparent;
  border-bottom-color: rgba(73,155,234,1);
  border-right-color: rgba(221,227,32,1);
  border-top-color: rgba(227,34,34,1);
  -webkit-animation: nprogress-spinner 1000ms linear infinite;
  animation: nprogress-spinner 1000ms linear infinite;

}

.configText {
  position:relative;
  margin-top: 20px;
  margin-left: 20px;
  height: 70px;

}

.miningRecommendation {
  display: inline-block
}

.miningEnd {
  padding: 10px 0px;
}


.miningTable {
  position:relative;
}


/*******************Account settings*********************/
.exportAccount {
  display: inline-block;
  margin: 10px;
}


/********************Assets*****************************/
.tabsMenu > li.active > a{
    text-decoration: underline;
}

/********************My assets**************************/
.assetBox {
  background-color: $lightGrey;
  width: 265px;
  height: 120px;
  margin: 10px;
  border-radius: 0px;

}

//Contains the logo of the asset
.assetBoxSymbolImg {
  width: 30%;
  height: 120px;
  margin-left: 10px;

}

.assetSymbol {
  position: absolute;
  margin-top: 40px;
  width: 40px;
  height: 40px;
  background-color: white;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.assetBoxTextInfo {
  width: 70%;
  display: inline-block;
  float: right;
}

.assetBoxSymbolName {
  width: 100%;
  color: $blueGeneralColor;
  float:left;
  line-height:30px;
  font-size: 16px;
  text-overflow: ellipsis; //for CSS3
  overflow: hidden; //for older browsers
}

.assetBoxTitle {
  width: 100%;
  color: $veryDarkGrey;
  float:left;
  line-height:12px;
  font-size: 12px;
  padding-top:10px;
}

.assetBoxValue {
  width: 100%;
  color: $veryDarkGrey;
  float:left;
  line-height:16px;
  font-size: 16px;
}

.createAsset {
  margin: 10px;
}

//Table to check one asset
.currentAsset {
  font-weight: 200;
  font-style: normal;
  font-size: 24px;

}

.assetEmptyColumn {
  width: 10px;
}

.assetDataColumn {
  width: 160px;
  text-align: right;
  padding-right: 20px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;

}

.assetValueColumn {
  width: auto;
  margin-left: 10px;
  font-family: 'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight: 200;

}


/********************Home page*************************/
//Select asset type button
.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  width: 100px;
  align-items: inline-block;
}
.selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    position: relative;
    left: -25px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    color: $blueGeneralColor;
}
.selectdiv select {
  /*Remove the by default arrow*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radioButton {
  margin-bottom: 20px;
}

.oneRadioButton {

}

.customDates {
  margin-top: 10px;
  margin-bottom: 10px;
}

.calendarInput {
  width: 90%;

}

//History
//Big screens
.transactionListLarge {


}

.transactionLine {
  height: 40px;
}

.receiveSign {
  color:red;
}

.sendSign {
  color: green;
}

.issueSign {
  color: blue;
}


//Display of the history for large screens
.transactionBoxLarge {
  color: $veryDarkGrey;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
}

.transactionBoxLargeTime {
  font-size: 14px;
}

.transactionBoxLargeAddress {
  font-size: 12px;
}

.transactionBoxLargeAmount {
  font-size: 16px;
}

.linkToExplorerButton {
  text-align: center;
  color: $successButtonColor !important;
}

//Display of the history for small screens
.transactionBoxSmall {
  margin-top: 15px;
  height: 120px;
  border-bottom: 1px solid $mediumGrey;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
}

.transactionBoxSmallAmount {
  color: $veryDarkGrey;
  font-weight: 200;
  font-size: 28px;
}

.transactionBoxSmallAddress {
    color: $mediumGrey;
    font-weight: 400;
    font-size: 14px;
}

.transactionBoxSmallTime {
  color: $veryDarkGrey;
  font-weight: 400;
  font-size: 16px;
}

.transactionBoxSmallLinkToExplorer {
  padding-top: 50px;
}


/**********************ETP Addresses*******************/
.emptyAdresses {
  padding-left: 10px;
}


.addressBox {
  background-color: $lightGrey;
  width: 400px;
  height: 120px;
  margin: 10px;
  border-radius: 0px;
}

.addressBoxSymbolImg {
  width: 20%;
  height: 120px;
  margin-left: 10px;
}

.addressBoxTextInfo {
  width: 80%;
  display: inline-block;
  float: right;
}

.copyAndQrCode {
  width: 100%;
  height: 16px;
  float: right;
}

.copyAddress {
  float: right;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
}

.qrCode {
  float: right;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
}


.addressText {
  padding-top: 36px;
}

.addressBoxName {
  width: 100%;
  color: $blueGeneralColor;
  float:left;
  font-size: 14px;
}

.addressBoxValue {
  width: 100%;
  color: $veryDarkGrey;
  float:left;
  font-size: 18px;
}

.addressBoxAddress {
  width: 100%;
  color: $darkGrey;
  float:left;
  font-size: 14px;
  padding-top:4px;
}
