<div class="bg">

<div class="container">
            <div class="registerBox panel" >
                <div class="text-center margin-big padding-big-top">
                	<img src="images/logo-black.png" alt="" />
                </div>
                <div class="registerUser" style="padding:0 20px;">
				        <div>
							<p>{{ 'REGISTER.CHOOSE_ACCOUNT_NAME' | translate }}: <i>*</i></p>
				        	<p class="hint1"></p>
				        	<span class="span1"></span>
                    <input type="text" ng-model="vm.user.username" required>
				        </div>
				        <div>
							<p>{{ 'REGISTER.CHOOSE_PASSWORD' | translate }}: <i>*</i></p>
				        	<p class="hint2"></p>
				        	<span class="span2"></span>
				            <input type="password" ng-model="vm.user.password" required>
				         </div>
				         <div>
							 <p >{{ 'REGISTER.REPEAT_PASSWORD' | translate }}: <i>*</i></p>
				         	<p class="hint3"></p>
				         	<span class="span3"></span>
				            <input type="password" ng-model="vm.user.password_repeat">
				        </div>
				        <p class="hint"></p>
				        <div class="submit">
                    <a href="#!/login" class="btn btn-default">{{ 'REGISTER.LOGIN_BUTTON' | translate }}</a>

                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button ng-click="vm.register()" type="submit" class="newBtn" ng-disabled="form.$invalid || vm.dataLoading">{{ 'REGISTER.REGISTGER_BUTTON' | translate }}</button>

				        </div>

                </div>
                <br><br>
                <div class="alert" ng-class="{ 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" >
                  <div class="" ng-bind="flash.message">
                  </div>
                </div>
            </div>
</div>
</div>
