<div class="AStitle-tabs">
	<ul class="nav nav-pills tabsMenu">
		<li role="presentation"><a href="#!/advanced/lock/{{sendfrom}}" class="btn-link-menu">{{'LOCK.HEADLINE' | translate}} <span ng-show="status.is_mining && status.block_type == 'PoS'" class="miniSpinner"></span></a></li>
		<li class="active" role="presentation"><a class="btn-link-menu">{{'HEADLINE_OPTIMIZE_VOTE' | translate}} <span ng-show="status.is_mining && status.block_type == 'PoW'" class="miniSpinner"></span></a></li>
	</ul>
</div>

<form ng-hide="confirmation" class="ddbr row">
	<div class="col-xs-12 col-sm-6">
		<!--Sender-->
		<div class="form-group">
			<label for="addressFrom" class="control-label">{{ 'MINING.MINER' | translate }}</label>
			<span ng-show="!balancesLoaded" class="miniSpinner"></span>
			<select name="addressFrom" type="address" class="form-control" placeholder="" ng-model="sendfrom" ng-change="addressChanged(sendfrom)" ng-class="{validInput: !error.sendfrom && !error.sendfrom_nothing_to_split, wrongInput: error.sendfrom || error.sendfrom_nothing_to_split}">
				<option ng-repeat="oneAddress in listAddresses | orderBy:'available':true" value="{{oneAddress.address}}" title="{{oneAddress.available | assetformat : 8}} ETP" ng-if="myDidsAddresses[oneAddress.address] && oneAddress.address.charAt(0) != '3'">{{myDidsAddresses[oneAddress.address]}} - {{oneAddress.address}} - {{oneAddress.available | assetformat : 8}} ETP</option>
				<option ng-repeat="oneAddress in listAddresses | orderBy:'available':true" value="{{oneAddress.address}}" title="{{oneAddress.available | assetformat : 8}} ETP" ng-if="!myDidsAddresses[oneAddress.address] && oneAddress.available != 0 && oneAddress.address.charAt(0) != '3'">{{oneAddress.address}} - {{oneAddress.available | assetformat : 8}} ETP</option>
			</select>
			<div ng-show="error.sendfrom_nothing_to_split" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'MESSAGES.OPTIMIZE_NOTHING_TO_SPLIT' | translate }}</div>
		</div>

		<!--Votes-->
		<div class="form-group votesNumber" ng-show="sendfrom && nbr_vote.stake_utxo_available">
			<span ng-hide="stakeUtxoLoaded" class="mediumSpinner"></span>
			<div ng-hide="!stakeUtxoLoaded">
				<h4>
					{{ 'OPTIMIZE.CURRENT_NBR_VOTE' | translate }}:
					<span class="correctInputComment"> {{nbr_vote.stake_utxo_available}} {{ 'POS_MINING.VOTE_AVAILABLE' | translate }},</span>
					<span class="warningInputComment"> {{nbr_vote.stake_utxo_waiting}} {{ 'POS_MINING.VOTE_WAITING' | translate }}</span>
				</h4>
				<h4 ng-hide="nbrMaxVote == maxRecipients && (nbrMaxVote <= nbr_vote.stake_utxo_available - nbr_vote.stake_utxo_waiting)">{{ 'OPTIMIZE.MAX_NBR_VOTE' | translate }}: 
					<span class="totalDue">{{nbrMaxVote}}</span>
					<span class="profit" ng-hide="nbrMaxVote == maxRecipients">(+{{nbrMaxVote - nbr_vote.stake_utxo_available - nbr_vote.stake_utxo_waiting}})</span>
				</h4>
				<div ng-show="nbrMaxVote == maxRecipients" class="warningInputComment"><span class="glyphicon glyphicon-warning-sign"></span> {{ 'OPTIMIZE.VOTE_LIMIT' | translate }}</div>
			</div>
		</div>

		<!--Fee-->
		<div class="form-group">
			<label for="fee" class="control-label col-xs-6 noPaddingLeftRight">{{ 'TRANSFER_FEE' | translate }}</label>
			<input type="number" step="0.00000001" class="form-control" name="fee" id="" ng-model="transactionFee" ng-class="{validInput: !error.fee_empty && !error.fee_too_low, wrongInput: error.fee_empty || error.fee_too_low}">
			<div ng-show="error.fee_too_low" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'MESSAGES.TOO_LOW_FEE' | translate }}</div>
		</div>

		<div class="row">
			<!--Submit button-->
			<div class="col-xs-6">
				<button type="submit" class="btn btn-success" id="transferBtn" ng-click="checkInputs()" ng-disabled="!submittable">{{ 'LOCK.ORGANIZE' | translate}}</button>
			</div>
			<!--Return button-->
			<div class="col-xs-6">
				<a href="#!/advanced/pos" class="btn btn-success btn-success-secondary">{{ 'MINING.BACK_MINING' | translate }}</a>
			</div>
		</div>

	</div>

	

	<!--Lock explanation-->
	<div class="col-xs-12 col-sm-6">
		<div class="assetDetailsPanel panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{'OPTIMIZE.EXPLANATION_TITLE' | translate}}</h3>
			</div>
			<div class="panel-body">
				<div class="col-xs-12 noPaddingLeftRight assetDataLine">
					<div class="assetDataColumn col-xs-12 noPaddingLeftRight">
						{{ 'OPTIMIZE.EXPLANATION_INTRO' | translate }}
					</div>
				</div>
				<div class="col-xs-12 noPaddingLeftRight assetDataLine">
					<div class="assetDataColumn col-xs-12 noPaddingLeftRight">
						{{ 'OPTIMIZE.EXPLANATION_ACTION' | translate }}
					</div>
				</div>
				<div class="col-xs-12 noPaddingLeftRight assetDataLine">
					<div class="assetDataColumn col-xs-12 noPaddingLeftRight">
						{{ 'OPTIMIZE.EXPLANATION_WARNING_AGE' | translate }}
					</div>
				</div>
			</div>
		</div>
	</div>

</form>

<form ng-show="confirmation" class="row">
	<br/>
	<div class="col-lg-6 col-md-12">
		<div class="assetDetailsPanel panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{'TRANSFER.CONFIRMATION_TITLE' | translate}}</h3>
			</div>
			<div class="panel-body">
				<div class="col-xs-12 noPaddingLeftRight assetDataLine">
					<div ng-show="!myDidsAddresses[sendfrom]" class="assetDataColumn col-xs-4 noPaddingLeftRight">{{ 'ADDRESS' | translate }}</div>
					<div ng-show="myDidsAddresses[sendfrom]" class="assetDataColumn col-xs-4 noPaddingLeftRight">{{ 'AVATAR' | translate }}</div>
					<div ng-show="!myDidsAddresses[sendfrom]" class="assetValueColumn col-xs-8 noPaddingLeftRight">{{sendfrom}}</div>
					<div ng-show="myDidsAddresses[sendfrom]" class="assetValueColumn col-xs-8 noPaddingLeftRight">{{myDidsAddresses[sendfrom]}}</div>
				</div>
				<div class="col-xs-12 noPaddingLeftRight assetDataLine">
					<div class="assetDataColumn col-xs-4 noPaddingLeftRight">{{ 'OPTIMIZE.CURRENT_NBR_VOTE' | translate }}</div>
					<div class="assetValueColumn col-xs-8 noPaddingLeftRight">
						<div>{{nbr_vote.stake_utxo_available}} {{ 'POS_MINING.VOTE_AVAILABLE' | translate }}</div>
						<div>{{nbr_vote.stake_utxo_waiting}} {{ 'POS_MINING.VOTE_WAITING' | translate }}</div>
					</div>
				</div>
				<div class="col-xs-12 noPaddingLeftRight assetDataLine">
					<div class="assetDataColumn col-xs-4 noPaddingLeftRight">{{ 'OPTIMIZE.MAX_NBR_VOTE' | translate }}</div>
					<div class="assetValueColumn col-xs-8 noPaddingLeftRight">{{nbrMaxVote}}</div>
				</div>
				<div class="col-xs-12 noPaddingLeftRight assetDataLine">
					<div class="assetDataColumn col-xs-4 noPaddingLeftRight">{{ 'TRANSFER_FEE' | translate }}</div>
					<div class="assetValueColumn col-xs-8 noPaddingLeftRight">{{transactionFee}} ETP</div>
				</div>
			</div>
		</div>
		<!--Password-->
		<div class="form-group">
			<label for="password" class="control-label">{{ 'TRANSFER_PASSWORD' | translate }}</label>
			<input type="password" class="form-control" name="password" id="" ng-model="password" required ng-model="password" ng-class="{validInput: !errorPassword, wrongInput: errorPassword}">
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 form-group noPaddingLeftRight">
		<br>
		<!--Submit button-->
		<div class="col-xs-6 col-sm-6 col-md-3">
			<button type="submit" class="btn btn-success" ng-click="transferMore(sendfrom, recipents, transactionFee, password)" ng-disabled="errorPassword">{{ 'LOCK.ORGANIZE' | translate}}</button>
		</div>
		<!--Return button-->
		<div class="col-xs-6 col-sm-6 col-md-3">
			<button class="btn btn-success btn-success-secondary" ng-click="confirmation = false; password = ''">{{ 'CANCEL_BUTTON' | translate }}</button>
		</div>
	</div>
</form>
