<div class="content">
  <div class="headline"><em></em>{{ 'HEADLINE_ASSETS' | translate }}</div>
  <div class="body-content">
    <form method="post" class="form-x" action="">
      <div class="mainContent1">
        <div class="row assetBoxWrapper">
          <dl id="outer_wrap">
            <dd class="panel assetBox">
              <span class="span1">ETP</span>
              <span class="span3">{{ 'BALANCE_CONFIRMED' | translate }}</span>
              <span class="span2">{{balance['total-confirmed']}}</span>
            </dd>
            <a href="#!/asset/details/{{asset.symbol}}" ng-repeat="asset in assets">
            <dd class="panel assetBox" >
              <span class="span1 assetBoxSymbol">{{asset.symbol}}</span>
              <span class="span3">{{ 'ISSUER' | translate }}</span>
              <span class="span2">{{asset.issuer}}</span>
              <span class="span3">{{ 'STATUS' | translate }}</span>
              <span class="span2">{{asset.status}}</span>
            </dd>
          </a>
            <div class="assetBoxAdd assetBox">
              <a href="#!/asset/create"><img src="images/add.png" alt="" /></a>
            </div>
          </dl>
        </div>
        <div>
          <div class="headline"><em></em>{{ 'HEADLINE_TRANSACTIONS' | translate }}</div>
          <div class="transaction_list">

            <div class="no_transaction_message">
              {{'MESSAGES.NO_LISTED_TRANSACTIONS' | translate}}
            </div>

          <div class="transactionbox" ng-repeat="transaction in transactions">



            <div class="row">
              <div class="col-md-1">
                <img src="images/receiveBig.png">
              </div>
              <div class="col-md-11">
                  <div class="row">
                    <div class="col-md-12 hash">
                    {{transaction.hash}}
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      {{transaction.value}} {{transaction.type}}
                    </div>
                    <div class="col-md-4">
                      {{ 'TRANSFER_RECIPENT' | translate }}: <div ng-repeat="recipent in transaction.recipents">{{recipent.address}}</div>
                    </div>
                  </div>
              </div>
            </div>

            </div>
          </div>
</div>
        </div>


      </form>
    </div>
  </div>
</div>
