<div class="content">
  <div class="headline">{{ 'NAV_WALLET' | translate }}</div>
</br>
<div class="body-content">
  <form method="post" class="form-x" action="">
    <div class="mainContent1">
      <div class="row assetBoxWrapper">
        <dl id="outer_wrap">
          <!--ETP Balance-->
          <a href="#!/account/addresses">
            <dd class="panel assetBox col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" >
              <span class="assetBoxSymbolImg"><img class="assetSymbol" src="favicon.png" alt=""/></span>
              <span class="assetBoxTextInfo">
                <span class="assetBoxSymbolName">ETP</span>
                <span class="assetBoxTitle">{{ 'BALANCE' | translate }}</span>
                <span class="assetBoxValue">{{balance['total-unspent']/100000000}}</span>
                <span class="assetBoxTitle">{{ 'FROZEN' | translate}}</span>
                <span class="assetBoxValue">{{balance['total-frozen']/100000000}}</span>
              </span>
            </dd>
          </a>
          <!--All others assets balance-->
          <a href="#!/asset/details/{{asset.symbol}}" ng-repeat="asset in assets">
            <dd class="panel assetBox col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" >
              <span class="assetBoxSymbolImg"><img class="assetSymbol" src="favicon.png" alt=""/></span>
              <span class="assetBoxTextInfo">
                <span class="assetBoxSymbolName">{{asset.symbol}}</span>
                <span class="assetBoxTitle">{{ 'BALANCE' | translate }}</span>
                <span class="assetBoxValue">{{asset.quantity | assetformat : asset.decimal_number}}</span>
                <span class="assetBoxTitle">{{ 'STATUS' | translate }}</span>
                <span class="assetBoxValue">{{asset.status}}</span>
              </span>
            </dd>
          </a>
        </dl>
      </div>

    </div>
  </form>
  <br/>

  <div>
    <span class="headline">{{ 'NAV_HISTORY' | translate }}   </span>

    <label class="selectdiv">
      <select class="btn btn-link smallButton" type="button" id="dropdownHistory">
        <option>ETP</option>
        <option ng-repeat="asset in assets">{{asset.symbol}}</option>
        <span class="caret"></span>
      </select>
    </label>

  </div>
  <br/>


  <form>
    <!--<div>{{ 'HISTORY_TIME_PERIOD' | translate }}</div>-->
    <div class="radioButton noPaddingLeftRight col-md-12">
      <span class="oneRadioButton">
        <input type="radio" name="radio" id="oneWeek" checked value="hideCustomDate" ng-click="setDates('week')"/>
        <label for="oneWeek">{{ 'HISTORY_ONE_WEEK' | translate }}</label>
      </span>
      <span class="oneRadioButton">
        <input type="radio" name="radio" id="oneMonth" value="hideCustomDate" ng-click="setDates('month')"/>
        <label for="oneMonth">{{ 'HISTORY_ONE_MONTH' | translate }}</label>
      </span>
      <span class="oneRadioButton">
        <input type="radio" name="radio" id="threeMonths" ng-click="setDates('threeMonths')"/>
        <label for="threeMonths">{{ 'HISTORY_THREE_MONTHS' | translate }}</label>
      </span>
      <!--Custom option TODO
      <span class="oneRadioButton">
        <input type="radio" name="radio" id="custom" ng-click="setDates('custom')"/>
        <label for="custom">{{ 'HISTORY_CUSTOM' | translate }}</label>
      </span>-->
    </div>

    <!--Custom option TODO
    <div ng-show="showDates" class="customDates">
      <div class="col-xs-6 noPaddingLeftRight">
        <div>{{ 'HISTORY_START_DATE' | translate }}</div>
        <div data-date-format="dd-mm-yyyy">
          <input class="calendarInput" value="14-07-2017" type="text">
          <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
      </div>
      <div class="col-xs-6 noPaddingLeftRight">
        <div>{{ 'HISTORY_END_DATE' | translate }}</div>
        <div data-date-format="dd-mm-yyyy">
          <input class="calendarInput" value="21-07-2017" type="text">
          <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
      </div>
    </div>
  -->

    <div class="col-xs-4 col-sm-2 noPaddingLeftRight">
      <br/>
      <input type="submit" class="btn btn-success" value="{{ 'HISTORY_SUBMIT' | translate }}" ng-click="displayUpdatedDates()"></input>
      <br/>
    </div>
  </form>

  <!--Display Transactions history-->
  <div class="col-xs-12 noPaddingLeftRight">
    <br/>
    <div class="headline">
      {{ 'HEADLINE_TRANSACTIONS' | translate }}
    </div>
    <br/>
    <!--Display the history in a table for large screens-->
    <div class="transactionBoxLarge hidden-xs hidden-sm">
      <div class="no_transaction_message" ng-show="transactions.length==0">
        {{'MESSAGES.NO_LISTED_TRANSACTIONS' | translate}}
      </div>
      <table class="col-md-12" ng-hide="transactions.length==0">
        <tr>
          <td>
            {{'HISTORY_TRANSACTION_DATE' | translate}}
          </td>
          <td>
            {{'HISTORY_TRANSACTION_FROM' | translate}}
          </td>
          <td>

          </td>
          <td>
            {{'HISTORY_TRANSACTION_TO' | translate}}
          </td>
          <td>
            {{'HISTORY_TRANSACTION_AMOUNT' | translate}}
          </td>
          <td>

          </td>
        </tr>
        <tr class="transactionLine" ng-repeat="transaction in transactions" ng-show= "dateRangeFilter(transaction.timestamp, startDateUpdated, endDateUpdated)">
          <td class="transactionBoxLargeTime noPaddingLeftRight col-md-2">
            {{transaction.timestamp | date: ('GENERAL.DATE_FORMAT' | translate) }}
          </td>
          <td class="transactionBoxLargeAddress noPaddingLeftRight col-md-3">
            <div ng-repeat="recipent in transaction.recipents" ng-if="transaction.direction=='receive'" class="address">{{recipent.address}}</div>
            <div ng-if="transaction.direction=='send'" class="address">My account</div>
            <div ng-if="transaction.direction=='issue'" class="address">Creation new asset</div>
          </td>
          <td class="noPaddingLeftRight col-md-1">
            <span class="glyphicon glyphicon-arrow-right receiveSign" ng-if="transaction.direction=='receive'"></span>
            <span class="glyphicon glyphicon-arrow-right sendSign" ng-if="transaction.direction=='send'"></span>
            <span class="glyphicon glyphicon-plus issueSign" ng-if="transaction.direction=='issue'"></span>
          </td>
          <!--Recipent-->
          <td class="transactionBoxLargeAddress noPaddingLeftRight col-md-3">
            <div ng-repeat="recipent in transaction.recipents" class="address">{{recipent.address}}</div>
          </td>

          <!--Amount-->
          <td class="noPaddingLeftRight col-md-1 right-align">
            {{transaction.value | assetformat : transaction.decimal_number}}
          </td>

          <!--Type (ETP,...)
          <div class="col-md-3">
          {{transaction.type}}
        </div>-->

        <!--Transaction code-->
        <td class="col-md-1 hash">
          <a class="btn-link linkToExplorerButton" target="_blank" href="http://explorer.mvs.live/#!/tx/{{transaction.hash}}">{{'HISTORY_TRANSACTION_CHECK' | translate}}</a>
        </td>
      </tr>
    </table>
    <!--Pagination TODO <dir-pagination-controls></dir-pagination-controls> -->
  </div>

  <!--Display the history in div for small screens-->
  <div class="visible-xs visible-sm">
    <div class="no_transaction_message" ng-show="transactions.length==0">
      {{'MESSAGES.NO_LISTED_TRANSACTIONS' | translate}}
    </div>
    <div class="transactionBoxSmall" ng-repeat="transaction in transactions" ng-show= "dateRangeFilter(transaction.timestamp, startDateUpdated, endDateUpdated)">
      <div class="transactionBoxSmallInfo col-xs-10 col-sm-10">
        <div class="transactionBoxSmallAmount">
          {{transaction.value | assetformat : transaction.decimal_number}}
        </div>
        <div class="transactionBoxSmallAddress">
          <span class="glyphicon glyphicon-arrow-left receiveSign"></span>
          <span ng-repeat="recipent in transaction.recipents" ng-if="transaction.direction=='receive'" class="address">
            {{recipent.address}}
          </span>
        </div>
        <div class="transactionBoxSmallAddress">
          <span class="glyphicon glyphicon-arrow-right sendSign"></span>
          <span ng-repeat="recipent in transaction.recipents" ng-if="transaction.direction=='receive'" class="address">
            {{recipent.address}}
          </span>
        </div>
        <div class="transactionBoxSmallTime">
          {{transaction.timestamp | date: ('GENERAL.DATE_FORMAT' | translate) }}
        </div>
      </div>
      <div class="transactionBoxSmallLinkToExplorer col-xs-2 col-sm-2">
        <a class="btn-link linkToExplorerButton" target="_blank" href="http://explorer.mvs.live/#!/tx/{{transaction.hash}}">{{'HISTORY_TRANSACTION_CHECK' | translate}}</a>
      </div>
    </div>
  </div>
</div>
