<div class="content">
  <div class="headline">{{ 'NAV_PRO' | translate }}</div>
  <div>
    <ul class="nav nav-pills tabsMenu">
      <li role="presentation"><a href="#!/advanced/mining" class="btn-link-menu">{{'NAV_MINING' | translate}}</a></li>
      <li role="presentation" class="active"><a href="#!/advanced/console" class="btn-link-menu">{{'NAV_CONSOLE' | translate}}</a></li>
    </ul>
  </div>
  <br/>
  <div class="console_query" >
    <span class="span1" ng-hide="connected">{{ 'CONSOLE.CONNECTION' | translate }}</span>
  </div>

  <div ng-repeat="log in consolelog">
    <div class="console_query">
      <span class="span1">{{log.query}}</span>
    </div>
    <div class="console_answer" >
      <span class="span1">{{log.answer}}</span>
    </div>
  </div>
  <input type="text" rows="5" ng-show="connected" ng-model="querystring" ng-keyup="$event.keyCode == 13 && query()" class="forminput" id="inputField" placeholder="{{ 'CONSOLE.INSERT_PROMPT' | translate }}">
</div>
