<div class="content">
	<span class="headline">{{ 'DEPOSIT.HEADLINE' | translate }}</span>

	<!--Navigation Manual/Auto selection of addresse-->
	<div class="col-xs-12 noPaddingLeftRight">
		<ul class="nav nav-pills tabsMenu">
			<li role="presentation"><a class="btn btn-link" ng-click="selectAddress('auto','')" ng-style="{ 'text-decoration' : underlineAuto}">{{ 'DEPOSIT_SELECT_AUTO_ADRESS' | translate }}</a></li>
			<li role="presentation"><a class="btn btn-link" ng-click="selectAddress('manual','')" ng-style="{ 'text-decoration' : underlineManual}">{{ 'DEPOSIT_SELECT_MANUAL_ADDRESS' | translate }}</a></li>
		</ul>
	</div>


	<!--Display the total ETP in automatic selection-->
	<div class="col-xs-12 noPaddingLeftRight" ng-show=autoSelectAddress>
		<a href="">
			<dd class="panel assetBox assetBoxChecked col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" >
				<span class="assetBoxSymbolImg"><img class="assetSymbol" src="favicon.png" alt=""/></span>
				<span class="assetBoxTextInfo">
					<div>
						<span class="checked"><span>
					</div>
					<span class="assetBoxSymbolName">ETP</span>
					<span class="assetBoxTitle">{{ 'BALANCE' | translate }}</span>
					<span class="assetBoxValue">{{balance['total-unspent']/100000000}}</span>
					<span class="assetBoxTitle">{{ 'FROZEN' | translate}}</span>
					<span class="assetBoxValue">{{balance['total-frozen']/100000000}}</span>
				</span>
			</dd>
		</a>
	</div>

	<!--Display all the addresses if the user choose to let it manually-->
	<div class="col-xs-12 noPaddingLeftRight" ng-hide=autoSelectAddress>
		<div class="radioButtonAddress noPaddingLeftRight" ng-repeat="address in addresses | orderBy:sortType:sortReverse" ng-click="selectAddress('selectionAddress',address.address)" ng-hide="(address.balance == 0)">
			<dd class="panel addressBox noPaddingLeftRight col-xs-1">
				<input type="radio" name="radioDeposit" id={{address}} checked value="hideCustomDate"/>
				<label for={{address}}>

					<div class="addressBoxSymbolImgDeposit">
						<img class="assetSymbol assetSymbolDeposit" src="favicon.png" alt=""/>
					</div>
					<div class="addressBoxTextInfoDeposit">
						<span class="addressBoxNameDeposit">New address</span>
						<span class="addressBoxAddressDeposit">{{address.address}}</span>
						<span class="col-xs-6 noPaddingLeftRight">
							<span class="assetBoxTitle">{{ 'BALANCE' | translate }}</span>
							<span class="assetBoxValue">{{address.balance/100000000 }}</span>
						</span>
						<span class="col-xs-6 noPaddingLeftRight">
							<span class="assetBoxTitle">{{ 'FROZEN' | translate}}</span>
							<span class="assetBoxValue">{{address.frozen/100000000 }}</span>
						</span>
					</div>
				</label>
			</dd>
		</div>
	</div>
	<!--Interest rates table-->
	<!--<div class="balanceAndInterestRates">

	<div class="col-sm-5">
	<table class="info_table">
	<tr><th>{{ 'DEPOSIT.PERIOD' | translate }}</th><th>{{ 'DEPOSIT.INTEREST_RATE' | translate }}</th><th>{{ 'DEPOSIT.ANNUAL_RATE' | translate }}</th></tr>
	<tr ng-class="{'selected_row' : period_select == deposit_option}" ng-repeat="(deposit_option, interest_rate) in deposit_options">
	<td>{{deposit_option | translate}}</td>
	<td>{{interest_rate[0] * 100 | number : 2}} %</td>
	<td>{{interest_rate[1] * 100 | number : 2}} %</td>
</tr>
</table>
</div>
</div>-->
<form class="col-xs-12 noPaddingLeftRight">
	<div class="col-xs-12 noPaddingLeftRight">
		<br/>
		<div class="form-group col-md-6">
			<span class="dropdown">
				<label for="value" class="control-label">{{ 'TRANSFER_VALUE' | translate }}
				</label>
				<input type="number" min="0" step="0.00000001" max="{{balance['total-unspent']/100000000}}" class="form-control" name="value" placeholder="0.00000000" ng-model="value" autocomplete="off" required="">
			</span>
		</div>

		<!--Appear when an amount and a period are selected, display the profits-->
		<div class="form-group quickResponse col-md-6">
			<span class="" ng-show="deposit_options[period_select][0]*value">
				{{ 'DEPOSIT.PROFIT' | translate }}: {{deposit_options[period_select][0]*value | number : 4}} {{factor | translate}}
			</span>
		</div>

		<!--Selection of the time period-->
		<div class="col-xs-12 noPaddingLeftRight">
			<div class="radioButtonPeriodDeposit">
				<span class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2" ng-repeat="(deposit_option, interest_rate) in deposit_options" value="{{deposit_option}}">
					<input type="radio" name="radioPeriodDeposit" id={{deposit_option}} value="hideCustomDate" ng-click="setDepositPeriod(deposit_option)"/>
					<label for={{deposit_option}}>
						<span class="periodDeposit">
							{{deposit_option | translate}}
						</span>
						<span class="interestDeposit">
							{{'DEPOSIT.INTEREST_RATE' | translate}}: {{interest_rate[0] * 100 | number : 2}} %
						</span>
					</label>
				</span>
			</div>
		</div>
	</div>







	<!--Checkbox to deposit to a specify address-->
	<div class="form-group col-xs-12 depositAddressCheckbox">
		<div class="checkboxCircle">
			<input type="checkbox" name="address_option" ng-model="address_option" id="checkboxCircleDeposit">
			<label for="checkboxCircleDeposit"></label>
			<span class="textCheckbox">{{ 'DEPOSIT.ADDRESS_OPTION' | translate }}</span>
		</div>
	</div>
	<div class="form-group col-xs-12 noPaddingLeftRight" ng-show="address_option">
		<div class="form-group col-md-6 ">
			<label for="password" class="control-label">
				{{ 'DEPOSIT_ADDRESS_TO_DEPOSIT' | translate }}
			</label>
			<input type="text" class="form-control" name="deposit_address" ng-model="deposit_address">
		</div>
	</div>

	<!--<div class="form-group col-md-12">
	<label for="address_option" class="control-label">{{ 'DEPOSIT.ADDRESS_OPTION' | translate }}</label>
	<input type="checkbox" class="form-control pull-right" name="address_option" ng-model="address_option">
	<input type="text" class="form-control" name="deposit_address" ng-model="deposit_address" ng-show="address_option">
</div>-->



<!--Password-->
<div  class="form-group col-xs-12 noPaddingLeftRight">
	<div class="form-group col-md-6 ">
		<label for="password" class="control-label">
			{{ 'TRANSFER_PASSWORD' | translate }}
		</label>
		<input type="password" class="form-control" name="password" id="" autocomplete="new-password" ng-model="password" required="">
	</div>
</div>

<!--Total deposit + profits-->
<div  class="form-group col-xs-12" ng-show="deposit_options[period_select][0]*value">
	<div class="col-xs-12 noPaddingLeftRight">
		<label for="password" class="control-label">
			{{ 'DEPOSIT_TOTAL_DUE' | translate }}
		</label>
	</div>
	<div class="col-xs-12 noPaddingLeftRight">
		<span class="totalDue" >
			{{value+(deposit_options[period_select][0]*value) | number : 4}}
		</span>
		<span class="profit" >
			(+{{deposit_options[period_select][0]*value | number : 4}})
		</span>
	</div>
</div>

<!--Submit button-->
<div  class="col-xs-12">
	<div class="col-md-4 col-lg-3 noPaddingLeftRight">
		<button class="btn btn-success" type="submit" id="transferBtn" ng-click="deposit()">{{ 'DEPOSIT.SEND' | translate }}</button>
	</div>
</div>
</form>
</div>
