<div class="content">
	<span class="headline">{{ 'DEPOSIT.HEADLINE' | translate }}</span>
	<div class="col-md-12 noPaddingLeftRight">
		<br/>
	</div>
	<a href="#!/account/addresses">
		<dd class="panel assetBox col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" >
			<span class="assetBoxSymbolImg"><img class="assetSymbol" src="favicon.png" alt=""/></span>
			<span class="assetBoxTextInfo">
				<span class="assetBoxSymbolName">ETP</span>
				<span class="assetBoxTitle">{{ 'BALANCE' | translate }}</span>
				<span class="assetBoxValue">{{balance['total-unspent']/100000000}}</span>
				<span class="assetBoxTitle">{{ 'FROZEN' | translate}}</span>
				<span class="assetBoxValue">{{balance['total-frozen']/100000000}}</span>
			</span>
		</dd>
	</a>


	<!--Navigation Manual/Auto selection of addresse-->
	<div class="col-md-12 noPaddingLeftRight">
		<ul class="nav nav-pills tabsMenu">
			<li role="presentation"><a class="btn btn-link" ng-click="selectAddress('auto')" ng-style="{ 'text-decoration' : underlineAuto}">{{ 'DEPOSIT_SELECT_AUTO_ADRESS' | translate }}</a></li>
			<li role="presentation"><a class="btn btn-link" ng-click="selectAddress('manual')" ng-style="{ 'text-decoration' : underlineManual}">{{ 'DEPOSIT_SELECT_MANUAL_ADDRESS' | translate }}</a></li>
		</ul>
	</div>

	<!--Display all the addresses if the user choose to let it manually-->
	<div class="col-md-12 noPaddingLeftRight" ng-hide=autoSelectAddress>
		<div class="radioButtonAddress noPaddingLeftRight" ng-repeat="address in addresses | orderBy:sortType:sortReverse" ng-hide="(address.balance == 0)">
			<dd class="panel addressBox noPaddingLeftRight col-xs-1">
				<input type="radio" name="radioDeposit" id={{address}} checked value="hideCustomDate"/>
				<label for={{address}}>

			      <div class="addressBoxSymbolImgDeposit">
			        <img class="assetSymbol assetSymbolDeposit" src="favicon.png" alt=""/>
			      </div>
			      <div class="addressBoxTextInfoDeposit">
			      	<span class="addressBoxNameDeposit">New address</span>
			      	<span class="addressBoxValueDeposit">{{address.balance/100000000 }} ETP</span>
			      	<span class="addressBoxAddressDeposit">{{address.address}}</span>
			      </div>
				</label>
			</dd>
		</div>
	</div>
		<!--Interest rates table-->
	<!--<div class="balanceAndInterestRates">

		<div class="col-sm-5">
			<table class="info_table">
				<tr><th>{{ 'DEPOSIT.PERIOD' | translate }}</th><th>{{ 'DEPOSIT.INTEREST_RATE' | translate }}</th><th>{{ 'DEPOSIT.ANNUAL_RATE' | translate }}</th></tr>
				<tr ng-class="{'selected_row' : period_select == deposit_option}" ng-repeat="(deposit_option, interest_rate) in deposit_options">
					<td>{{deposit_option | translate}}</td>
					<td>{{interest_rate[0] * 100 | number : 2}} %</td>
					<td>{{interest_rate[1] * 100 | number : 2}} %</td>
				</tr>
			</table>
		</div>
	</div>-->
	<form>
		<div class="col-md-6">
			<br/>
			<div class="form-group">
				<span class="dropdown">
					<label for="value" class="control-label">{{ 'TRANSFER_VALUE' | translate }}
					</label>
					<input type="text" class="form-control" name="value" placeholder="0.00000000" ng-model="value" autocomplete="off" required="">
				</span>
			</div>
			<div class="form-group">
				<label for="recipent_address" class="control-label">
					{{ 'DEPOSIT.PERIOD' | translate }}
				</label>
				<select class="form-control" name="period" ng-model="period_select" required>
					<option ng-repeat="(deposit_option, interest_rate) in deposit_options" value="{{deposit_option}}">{{deposit_option | translate}}</option>
				</select>
			</div>


			<p><span class="quick_response positive" ng-show="deposit_options[period_select][0]*value">{{ 'DEPOSIT.PROFIT' | translate }}: {{deposit_options[period_select][0]*value | number : 4}} {{factor | translate}}</span></p>
			<div class="form-group">
				<label for="password" class="control-label">{{ 'TRANSFER_PASSWORD' | translate }}：<span class="red big">*</span></label>
				<input type="password" class="form-control" name="password" id="" autocomplete="new-password" ng-model="password" required="">
			</div>
			<div class="form-group">
				<label for="address_option" class="control-label">{{ 'DEPOSIT.ADDRESS_OPTION' | translate }}</label>
				<input type="checkbox" class="form-control pull-right" name="address_option" ng-model="address_option">
				<input type="text" class="form-control" name="deposit_address" ng-model="deposit_address" ng-show="address_option">
			</div>
			<button type="submit" id="transferBtn" ng-click="deposit()">{{ 'DEPOSIT.SEND' | translate }}</button>
		</div>
		<div class="col-sm-1"></div>
	</form>
</div>
