<!--------------------------------------头部----------------------------------->
<div class="panel">
  <div class="header">
    <div class="logo hidden-xs">
      <a href="#!/assets">
        <img src="img/metaverse_logo.png" class="logoMetaverseSmall" alt="" />
      </a>
    </div>
    <div class="form-group research col-xs-offset-0 col-xs-10 col-sm-offset-2 col-sm-7 col-md-offset-2 col-md-5 col-lg-offset-4 col-lg-4">
      <!--Search TextBox-->
      <input type="text" class="form-control researchTextBox" placeholder="{{ 'EXPLORER.SHOW_TRANSACTION' | translate }}">
      <!--Search button-->
      <button type="submit" class="btn btn-success smallButton hidden-xs">{{ 'EXPLORER.SHOW_TRANSACTION' | translate }}</button>
      <button type="submit" class="btn btn-success smallButton hidden-sm hidden-md hidden-lg hidden-xl"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      <!--ng-model="vm.username">-->
    </div>
    <div class="pull-right col-xs-2 col-sm-3 col-md-5 col-lg-4">
      <div class="header-right">
        <!--User name-->
        <div class="own userName hidden-xs hidden-sm">{{vm.account}}</div>
        <!--Setup button-->
        <div class="own hidden-xs">
          <a href="#!/account/details" class="btn btn-success smallButton">Setup</a>
          <!--<a href="#!/account/details"><img src="images/icon-settings.png" alt="" class="install"/></a>-->
        </div>
        <!--Logout button-->
        <div class="own hidden-xs">
          <a href="#!/login" class="btn logoutButton">Logout</a>
          <!--Previous Logout<a href="#!/login" class="own glyphicon glyphicon-log-out huge red"></a>-->
        </div>
      </div>
    </div>
    <!--Menu button for XS device-->
    <div class="menuButtonSmallScreen pull-right visible-xs">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuSmallScreen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#!/account/addresses" class="btn">{{ 'NAV_ACCOUNT' | translate }}</a></li>
        <li><a href="#!/asset/details/" class="btn">{{ 'NAV_ASSETS' | translate }}</a></li>
        <li><a href="#!/account/details" class="btn">{{ 'NAV_ACCOUNT_SETTING' | translate }}</a></li>
        <div class="menuLine"></div>
        <li><a href="#!/console" class="btn">{{ 'NAV_CONSOLE' | translate }}</a></li>
        <li><a href="#!/mining" class="btn">{{ 'NAV_MINING' | translate }}</a></li>
        <li class="divider" role="separator"></li>
        <li><a href="#!/account/details" class="btn">Setup</a></li>
        <li><a href="#!/login" class="btn">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
<!---------------------------------内容------------------------------------------------->

<div class="layout">
  <div class="leftnav greybg hidden-xs">
    <!--Left Main menu-->
    <div class="leftMenu" id="sub-header">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#!/account/addresses" class="leftMenuButtons">{{ 'NAV_ACCOUNT' | translate }}</a></li>
        <li role="presentation"><a href="#!/asset/details/" class="leftMenuButtons">{{ 'NAV_ASSETS' | translate }}</a></li>
        <li role="presentation"><a href="#!/account/details" class="leftMenuButtons">{{ 'NAV_ACCOUNT_SETTING' | translate }}</a></li>
        <li class="dropdown-header">高级</li>
        <div class="menuLine">
        </div>
        <li role="presentation"><a href="#!/console" class="leftMenuButtons">{{ 'NAV_CONSOLE' | translate }}</a></li>
        <li role="presentation"><a href="#!/mining" class="leftMenuButtons">{{ 'NAV_MINING' | translate }}</a></li>

      </ul>
      <br/>
      <br/>
      <!--Language button-->
      <div>
        <button class="btn btn-default dropdown-toggle languageButton" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Language
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a ng-click="vm.changeLang('zh_ZH')"><img class="zh" src="images/zh.png" alt="" /> 中文</a></li>
          <li><a ng-click="vm.changeLang('en_US')"><img class="en" src="images/en.png" alt="" /> English</a></li>
          <li><a ng-click="vm.changeLang('de_DE')"><img class="de" src="images/en.png" alt="" /> Deutsch</a></li>
        </ul>
      </div>
    </div>


    <!--<a href="#!/assets" class="current">
    <h2 class="leftnav-home"><em class="em3"></em><span>{{ 'NAV_HOME' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></h2>
  </a>
  <h2 class="leftnav-account" ng-click="show_account_menu()"><a class="current" ><em class="em1"></em><span>{{ 'NAV_ACCOUNT' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></a></h2>
  <ul class="accountUl" ng-show="menu.account.show">
  <li><a href="#!/account/addresses" class="current">{{ 'NAV_ACCOUNT_ADDRESSES' | translate }}</a></li>
  <li><a href="#!/account/details" class="current">{{ 'NAV_ACCOUNT_SETTING' | translate }}</a></li> -->
  <!-- <li><a class="current">{{ 'NAV_DIGITAL_IDENTITY' | translate }}</a></li> -->
  <!-- </ul>
  <h2 class="leftnav-assets" ng-click="show_assets_menu()"><em class="em1"></em><span>{{ 'NAV_ASSETS' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></h2>
  <ul class="assetUl" ng-show="menu.assets.show">
  <li><a href="#!/transfer" class="current">{{ 'NAV_ETP' | translate }}</a></li>
  <li><a href="#!/asset/details/" class="current">{{ 'NAV_ASSET_DETAILS' | translate }}</a></li>
  <li><a href="#!/asset/create" class="current">{{ 'NAV_ASSET_CREATE' | translate }}</a></li>
  <li><a href="#!/asset/all" class="current">{{ 'NAV_ASSET_ALL' | translate }}</a></li>
</ul>

<a href="#!/mining" class="current">
<h2 class="leftnav-mining"><em class="em3"></em><span>{{ 'NAV_MINING' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></h2>
</a>
<a href="#!/deposit" class="current">
<h2 class="leftnav-deposit"><em class="em4"></em><span>{{ 'NAV_DEPOSIT' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></h2>
</a>
<a href="#!/console" class="current">
<h2 class="leftnav-console"><em class="em4"></em><span>{{ 'NAV_CONSOLE' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></h2>
</a>
<a href="#!/explorer" class="current">
<h2 class="leftnav-explorer"><em class="em4"></em><span>{{ 'EXPLORER.NAV_ITEM' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></h2>
</a>-->
    <div class="version">{{ 'METAVERSE_VERSION' | translate }} <<<version>>>
    </div>
  </div>
  <div class="admin">
    <div class="alert" ng-class="{ 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" >
      <div class="" ng-bind="flash.message">
      </div>
    </div>
    <ui-view/>
  </div>
  <footer class="greybg">
    <span>{{ 'CONNECTION_PEERS' | translate }}:</span> <span></span>
    <div class="footerRight"> <span>{{ 'CONNECTION_BLOCKS' | translate }}:</span> <span>{{height}}</span> </div>
  </footer>
</div>
