<!--------------------------------------头部----------------------------------->
<div class="panel">
  <div class="header">
    <div class="logo hidden-xs">
      <img src="img/metaverse_logo.png" class="logoMetaverseSmall" alt="" />
    </div>
    <div class="research col-xs-offset-0 col-xs-10 col-sm-offset-2 col-sm-7 col-md-offset-2 col-md-5 col-lg-offset-4 col-lg-4">
      <!--Search TextBox-->
      <input type="text" class="researchTextBox">
      <!--Search button-->
      <button type="submit" class="btn btn-success headerButton hidden-xs">Search</button>
      <button type="submit" class="btn btn-success headerButton hidden-sm hidden-md hidden-lg hidden-xl"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      <!--ng-model="vm.username">-->
    </div>
    <div class="pull-right col-xs-2 col-sm-3 col-md-5 col-lg-4">
      <div class="header-right">
        <!--User name-->
        <div class="own userName hidden-xs hidden-sm">{{vm.account}}</div>
        <!--Setup button-->
        <div class="own hidden-xs">
          <a href="#!/account/details" class="btn btn-success headerButton">Setup</a>
          <!--<a href="#!/account/details"><img src="images/icon-settings.png" alt="" class="install"/></a>-->
        </div>
        <!--Logout button-->
        <div class="own hidden-xs">
          <a href="#!/login" class="btn headerButton logoutButton">Logout</a>
          <!--Previous Logout<a href="#!/login" class="own glyphicon glyphicon-log-out huge red"></a>-->
        </div>
      </div>
    </div>
    <!--Menu button for XS device-->
    <div class="menuButtonSmallScreen pull-right visible-xs">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuSmallScreen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#!/account/details" class="btn">Setup</a></li>
        <li><a href="#!/login" class="btn">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
<!---------------------------------内容------------------------------------------------->

<div class="layout">
  <div class="centent">

    <div class="leftnav greybg"> <a href="#!/assets" class="current">
      <a href="#!/assets" class="current">
        <h2 class="leftnav-home"><em class="em3"></em><span>{{ 'NAV_HOME' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></h2>
      </a>
      <h2 class="leftnav-account" ng-click="show_account_menu()"><a class="current" ><em class="em1"></em><span>{{ 'NAV_ACCOUNT' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></a></h2>
      <ul class="accountUl" ng-show="menu.account.show">
        <li><a href="#!/account/addresses" class="current">{{ 'NAV_ACCOUNT_ADDRESSES' | translate }}</a></li>
        <li><a href="#!/account/details" class="current">{{ 'NAV_ACCOUNT_SETTING' | translate }}</a></li>
        <!-- <li><a class="current">{{ 'NAV_DIGITAL_IDENTITY' | translate }}</a></li> -->
      </ul>
      <h2 class="leftnav-assets" ng-click="show_assets_menu()"><em class="em1"></em><span>{{ 'NAV_ASSETS' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></h2>
      <ul class="assetUl" ng-show="menu.assets.show">
        <li><a href="#!/transfer" class="current">{{ 'NAV_ETP' | translate }}</a></li>
        <li><a href="#!/asset/details/" class="current">{{ 'NAV_ASSET_DETAILS' | translate }}</a></li>
        <li><a href="#!/asset/create" class="current">{{ 'NAV_ASSET_CREATE' | translate }}</a></li>
        <li><a href="#!/asset/all" class="current">{{ 'NAV_ASSET_ALL' | translate }}</a></li>
      </ul>

      <a href="#!/mining" class="current">
        <h2 class="leftnav-mining"><em class="em3"></em><span>{{ 'NAV_MINING' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></h2>
      </a>
      <a href="#!/deposit" class="current">
        <h2 class="leftnav-deposit"><em class="em4"></em><span>{{ 'NAV_DEPOSIT' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></h2>
      </a>
      <a href="#!/console" class="current">
        <h2 class="leftnav-console"><em class="em4"></em><span>{{ 'NAV_CONSOLE' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></h2>
      </a>
      <a href="#!/explorer" class="current">
        <h2 class="leftnav-explorer"><em class="em4"></em><span>{{ 'EXPLORER.NAV_ITEM' | translate }}</span><em class="em2"><img src="images/icon-arrow.png" width="9" height="15"></em></h2>
      </a>
      <p>{{ 'METAVERSE_VERSION' | translate }} <<<version>>></p>
      </div>
      <div class="admin">
        <div class="alert" ng-class="{ 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" >
          <div class="" ng-bind="flash.message">
          </div>
        </div>
        <ui-view/>
      </div>
      <footer class="greybg">
        <span>{{ 'CONNECTION_PEERS' | translate }}:</span> <span></span>
        <div class="footerRight"> <span>{{ 'CONNECTION_BLOCKS' | translate }}:</span> <span>{{height}}</span> </div>
      </footer>
    </div>


  </div>
</div>
