<div class="content">

  <div class="spinner-icon">

  </div>

  <div class="headline">{{ 'NAV_PRO' | translate }}</div>
  <div>
    <ul class="nav nav-pills tabsMenu">
      <li role="presentation" class="active"><a href="#!/advanced/mining" class="btn-link-menu">{{'NAV_MINING' | translate}}</a></li>
      <li role="presentation"><a href="#!/advanced/console" class="btn-link-menu">{{'NAV_CONSOLE' | translate}}</a></li>
    </ul>
  </div>
  <h4 ng-show="isMining" style="isMiningText">{{ 'MINING_IS_MINING' | translate }}
    <div class="miningSpinner">
    </div>
  </h4>
  <div class="mining">
    <div class="row">
      <!--View recommended configuration-->
      <div class="configText">
        <div type="text" ng-hide="isMining" class="miningRecommendation">{{ 'MINING_NOT_RECOMMENDED' | translate }}   </div>
        <!--<div ng-hide="isMining" class="miningRecommendation"><a href="#!/mining" class="btn btn-link">{{ 'MINING_RECOMMENDED_CONFIG' | translate }}</a></div>-->
        <div ng-show="isMining" class="miningEnd">{{ 'MINING_HOW_STOP' | translate }}</div>
        <br><br>
      </div>
      <!--Table for mining Rate, Difficulty and Height-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <table class="table miningTable">
          <tbody>
            <tr>
              <td>{{ 'MINING_RATE' | translate }}</td>
              <td>{{status.rate}}</td>
            </tr>
            <tr>
              <td>{{ 'MINING_DIFFICULTY' | translate }}</td>
              <td>{{status.difficulty}}</td>
            </tr>
            <tr>
              <td>{{ 'MINING_HEIGHT' | translate }}</td>
              <td>{{status.height}}</td>
            </tr>
          </tbody>
        </table>
        <!--Mining buttons-->
        <div>
          <!--Play button, when not mining-->
          <button class="btn btn-success" ng-click="start()" ng-hide="isMining">
            <i class="glyphicon glyphicon-play"></i> {{ 'MINING_START' | translate }}
          </button>
          <!--Pause button, when mining-->
          <button class="btn btn-secondary" ng-click="stop()" ng-show="isMining">
            <i class="glyphicon glyphicon-pause"></i> {{ 'MINING_END' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
