<div class="content">
  <span class="headline">
    <div ng-show="showWhenNotMining">ETP {{ 'HEADLINE_MINING' | translate }}</div>
    <div ng-show="showWhenMining" style="isMiningText">{{ 'MINING_IS_MINING' | translate }}
      <div class="spinner showWhenMining">
      </div>
    </div>
  </span>
  <div class="mining">
    <div class="row">
      <!--View recommended configuration-->
      <div class="configText">
        <div type="text" ng-show="showWhenNotMining" class="miningRecommendation">{{ 'MINING_NOT_RECOMMENDED' | translate }}   </div>
        <div ng-show="showWhenNotMining" class="miningRecommendation"><a href="#!/mining" class="btn btn-link">{{ 'MINING_RECOMMENDED_CONFIG' | translate }}</a></div>
        <div ng-show="showWhenMining" class="miningEnd">{{ 'MINING_HOW_STOP' | translate }}</div>
        <br><br>
      </div>
      <!--Table for mining Rate, Difficulty and Height-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <table class="table miningTable">
          <tbody>
            <tr>
              <td>{{ 'MINING_RATE' | translate }}</td>
              <td>{{status.rate}}</td>
            </tr>
            <tr>
              <td>{{ 'MINING_DIFFICULTY' | translate }}</td>
              <td>{{status.difficulty}}</td>
            </tr>
            <tr>
              <td>{{ 'MINING_HEIGHT' | translate }}</td>
              <td>{{status.height}}</td>
            </tr>
          </tbody>
        </table>
        <!--Mining buttons-->
        <div>
          <!--Play button, when not mining-->
          <button class="btn btn-success miningButtonWhenNotMining" ng-click="start()" ng-show="showWhenNotMining">
            <i class="glyphicon glyphicon-play"></i> {{ 'MINING_START' | translate }}
          </button>
          <!--Pause button, when mining-->
          <button class="btn btn-success miningButtonWhenMining" ng-click="stop()" ng-show="showWhenMining">
            <i class="glyphicon glyphicon-pause"></i> {{ 'MINING_END' | translate }}
          </button>
          <!--<input class="btn btn-success miningButton" ng-click="start()" ng-show="showWhenNotMining" value="{{ 'MINING_START' | translate }}">
          <input class="btn btn-success miningButton" ng-click="stop()" ng-show="showWhenMining" value="{{ 'MINING_END' | translate }}">-->
        </div>
      </div>
    </div>
  </div>
</div>
