<div class="content">
	<span class="headline"><em></em>{{ 'HEADLINE_ETP_TRANSFER' | translate }}</span>
				<div class="">
					<div class="row">
						<form>
						<div class="col-sm-5">
							<div class="form-group">
								<label for="recipent_address" class="control-label">{{ 'TRANSFER_RECIPENT_ADDRESS' | translate }}：<span class="red big">*</span></label>
									<input type="text" class="form-control" name="recipent_address" id="" ng-model="sendto" autocomplete="off">
							</div>
							<div class="form-group">
								<span class="dropdown">
								<label for="value" class="control-label">{{ 'TRANSFER_VALUE' | translate }}：<span class="red big">*</span></label>
								<div class="input-group">
								<span class="input-group-addon clickable" data-toggle="dropdown">{{factor | translate}}</span>
								<ul class="dropdown-menu clickable">
									<li><a ng-click="changeFactor('etp')">{{ 'FACTOR_ETP' | translate }}</a></li>
									<li><a ng-click="changeFactor('satoshi')">{{ 'FACTOR_SATOSHI' | translate }}</a></li>
								</ul>
									<input type="text" class="form-control" name="value" ng-model="value" autocomplete="off">
								</div>
							</span>
							</div>
						</div>
						<div class="col-sm-1"></div>
						<div class="col-sm-5">
              <div class="form-group">
                  <label for="from_address" class="control-label">{{ 'TRANSFER_FROM_ADDRESS' | translate }}：</label>
                <select class="form-control" name="period" ng-model="from_address" required>
                    <option value="">{{'TRANSFER_FROM_ADDRESS_AUTOMATIC'|translate}}</option>
                  <option ng-repeat="address in from_addresses" value="{{address.balance.address}}">{{address.balance.address}} ({{(address.balance.unspent-address.balance.frozen)/100000000}} ETP)</option>
                </select>
							</div>
							<div class="form-group">
								<label for="password" class="control-label">{{ 'TRANSFER_PASSWORD' | translate }}：<span class="red big">*</span></label>
									<input type="password" class="form-control" name="password" id="" autocomplete="new-password" ng-model="password">
							</div>
							<button type="submit" id="transferBtn" ng-click="transfer()">{{ 'TRANSFER_SEND' | translate }}</button>
						</div>
					</form>
					</div>

			</div>
</div>
<div class="content">
	<div class="headline"><em></em>{{ 'HEADLINE_TRANSACTIONS' | translate }}</div>
	<div class="">
		<div class="transactionbox" dir-paginate="transaction in transactions | orderBy:'height':1 | itemsPerPage: 10">
			<div class="row">
				<div class="col-md-1">
					<img src="images/receiveBig.png" ng-show="transaction.direction=='receive'">
					<img src="images/sendBig.png" ng-show="transaction.direction=='send'">
				</div>
				<div class="col-md-11">
						<div class="row">
							<div class="col-md-12 hash">
								{{transaction.hash}}
						</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								{{transaction.value}} ETP
							</div>
							<div class="col-md-4">
								{{ 'TRANSFER_RECIPENT' | translate }}: <div ng-repeat="recipent in transaction.recipents" class="address">{{recipent.address}}</div>
							</div>
						</div>
				</div>
			</div>
			</div>
			<dir-pagination-controls></dir-pagination-controls>
	</div>
</div>
