<div>
  <ul class="nav nav-pills tabsMenu">
    <li role="presentation"><a href="#!/avatar/myavatars/" class="btn-link-menu">{{'PROFILE.MY_PROFILE' | translate}}</a></li>
    <li role="presentation"><a href="#!/avatar/all" class="btn-link-menu">{{'PROFILE.ALL' | translate}}</a></li>
    <li role="presentation"><a href="#!/avatar/transfercert/" class="btn-link-menu">{{ 'TRANSFER_CERT.HEADLINE' | translate }}</a></li>
    <li class="active" role="presentation"><a href="#!/avatar/issuecert/" class="btn-link-menu">{{ 'ISSUE_CERT.HEADLINE' | translate }}</a></li>
  </ul>
</div>
<div class="row">
  <br/>
  <form ng-hide="confirmation">
    <div class="col-sm-12 col-md-6">
      <!--My Domain-->
      <div class="form-group">
        <label class="control-label">{{ 'ISSUE_CERT.MY_DOMAIN' | translate }}</label>
        <span class="fa fa-question-circle help-tooltip" bs-tooltip data-placement="top" title="{{ 'HELP.ISSUE_CERT_DOMAIN' | translate }}"></span>
        <span ng-hide="myCertsLoaded" class="miniSpinner"></span>
        <select name="domain" type="domain" name="domain" class="form-control" placeholder="" ng-model="domain" ng-class="{validInput: !error.domain_empty && myCertsLoaded, wrongInput: error.domain_empty || !myCertsLoaded}" ng-change="changeDomain(domain)" required>
					<option ng-repeat="cert in myCerts" ng-if="cert.cert == 'domain'" value="{{cert.symbol}}" title="{{cert.symbol}}">{{cert.symbol}}</option>
          <option ng-if="myCertsLoaded && myCerts.length == 0" value="">{{ 'ISSUE_CERT.NO_DOMAIN' | translate }}</option>
				</select>
      </div>
      <!--Type-->
      <div class="form-group">
        <label for="useAddress" class="control-label">{{ 'ISSUE_CERT.TYPE' | translate }}</label>
        <span class="fa fa-question-circle help-tooltip" bs-tooltip data-placement="top" title="{{ 'HELP.ISSUE_CERT_TYPE' | translate }}"></span>
        <div class="form-control" name="certType" id="" name="certType" ng-class="{validInput: true, wrongInput: false}" disabled>{{ 'PROFIL.CERT_NAMING' | translate }}</div>
      </div>
      <!--Certificate symbol-->
      <div class="form-group">
        <label for="symbol" class="control-label">{{ 'ISSUE_CERT.SYMBOL' | translate }}</label>
        <span class="fa fa-question-circle help-tooltip" bs-tooltip data-placement="top" title="{{ 'HELP.ISSUE_CERT_SYMBOL' | translate }}"></span>
        <input class="form-control uppercase" name="symbol" ng-model="symbol" ng-class="{validInput: !error.domain_empty && !error.symbol_empty && !error.symbol_not_under_my_domain && !error.symbol_already_exist, wrongInput: error.domain_empty || error.symbol_empty || error.symbol_not_under_my_domain ||error.symbol_already_exist}" required>
        <div ng-show="error.symbol_wrong_char" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'CREATE_ASSET.SYMBOL_WRONG_CHAR' | translate }}</div>
        <div ng-show="error.domain_empty && !error.symbol_empty" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'ISSUE_CERT.ERROR_SYMBOL_SELECT_DOMAIN_FIRST' | translate }}</div>
        <div ng-show="error.symbol_already_exist" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'CREATE_ASSET.ERROR_SYMBOL_ALREADY_EXIST' | translate }}</div>
        <div ng-show="warning.symbol_end_dot" class="warningInputComment"><span class="glyphicon glyphicon-warning-sign"></span> {{ 'ISSUE_CERT.UNUSUAL_FORMAT' | translate }}</div>
      </div>
      <!--Recipient DID-->
      <div class="form-group">
        <label for="toDID" class="control-label">{{ 'TRANSFER_CERT.TODID' | translate }}</label>
        <span class="fa fa-question-circle help-tooltip" bs-tooltip data-placement="top" title="{{ 'HELP.ISSUE_CERT_TODID' | translate }}"></span>
        <input class="form-control" name="toDID" ng-model="toDID" ng-class="{validInput: !error.toDID_empty && !error.toDID_not_exist, wrongInput: error.toDID_empty || error.toDID_not_exist}" required>
        <div ng-show="error.toDID_not_exist" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'TRANSFER.INCORRECT_RECIPIENT_AVATAR' | translate }}</div>
      </div>
      <!--Fee-->
      <div class="form-group">
        <label for="fee" class="control-label col-xs-6 noPaddingLeftRight">{{ 'TRANSFER_FEE' | translate }}</label>
        <input type="number" step="0.00000001" class="form-control" name="fee" id="" ng-model="transactionFee" ng-class="{validInput: !error.fee_empty && !error.fee_too_low, wrongInput: error.fee_empty || error.fee_too_low}">
        <div ng-show="error.fee_too_low" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'MESSAGES.TOO_LOW_FEE' | translate }}</div>
      </div>

      <div class="row">
        <br>
        <!--Buttons-->
        <div class="col-xs-6">
          <button type="submit" ng-click="checkInputs(password)" class="btn btn-success" ng-disabled="!submittable">{{ 'ISSUE_CERT.TRANSFER_BUTTON' | translate }}</button>
        </div>
        <div class="col-xs-6">
          <a href="#!/avatar/myavatars/" class="btn btn-success btn-success-secondary">{{ 'CREATE_PROFILE.BACK_TO_PROFILE' | translate }}</a>
        </div>
      </div>
    </div>
    <!--Certificates details-->
    <div class="col-sm-12 col-md-6">
      <div class="assetDetailsPanel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'ISSUE_CERT.EXPLANATION_TITLE' | translate}}</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'PROFIL.CERT_SECONDARY_ISSUE' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{ 'ISSUE_CERT.EXPLANATION_SECONDARY_ISSUE' | translate }}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'PROFIL.CERT_DOMAIN' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{'ISSUE_CERT.EXPLANATION_DOMAIN' | translate}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine" ng-class="{'selected_row' : true}">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'PROFIL.CERT_NAMING' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{'ISSUE_CERT.EXPLANATION_NAMING' | translate}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'PROFIL.CERT_MINING' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{'PROFIL.CERTIFICATES_EXPLANATION_MINING' | translate}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-12 noPaddingLeftRight">{{ 'ISSUE_CERT.EXPLANATION_COMMENT' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
    
  </form>

  <form ng-show="confirmation">
    <br/>
    <div class="col-lg-6 col-md-12">
      <div class="assetDetailsPanel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'TRANSFER.CONFIRMATION_TITLE' | translate}}</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'ISSUE_CERT.MY_DOMAIN' | translate }}</div>
            <div class="assetValueColumn col-xs-3 noPaddingLeftRight">{{domain}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'ISSUE_CERT.TYPE' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{'PROFIL.CERT_NAMING' | translate}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'ISSUE_CERT.SYMBOL' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{symbol}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_CERT.TODID' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{toDID}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_FEE' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{transactionFee}} ETP</div>
          </div>
        </div>
      </div>
      <!--Password-->
      <div class="form-group">
        <label for="password" class="control-label">{{ 'TRANSFER_PASSWORD' | translate }}</label>
        <input type="password" class="form-control" name="password" id="" name="password" ng-model="password" ng-class="{validInput: !errorPassword, wrongInput: errorPassword}" autocomplete="off">
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group noPaddingLeftRight">
      <br>
      <!--Submit button-->
      <div class="col-xs-6 col-sm-6 col-md-3">
        <button type="submit" class="btn btn-success" ng-click="issueCert(domain, symbol, toDID, transactionFee, password)" ng-disabled="errorPassword">{{ 'ISSUE_CERT.TRANSFER_BUTTON' | translate }}</button>
      </div>
      <!--Return button-->
      <div class="col-xs-6 col-sm-6 col-md-3">
        <button class="btn btn-success btn-success-secondary" ng-click="confirmation = false; password = ''">{{ 'CANCEL_BUTTON' | translate }}</button>
      </div>
    </div>
  </form>
</div>
