<div>
  <ul class="nav nav-pills tabsMenu">
    <li role="presentation" class="active"><a class="btn-link-menu">{{ 'PROFILE.MODIFY_ADDRESS' | translate }}</a></li>
  </ul>
</div>

<div class="row">
  <br/>
  <form ng-hide="confirmation">
    <div class="col-xs-12 col-sm-6">
      <!--DID-->
      <div class="form-group">
        <label for="useDid" class="control-label">{{ 'PROFIL.DID' | translate }}</label>
        <span ng-show="!noDids && myDids.length == 0" class="miniSpinner"></span>
        <select name="useDid" type="text" class="form-control" placeholder="" ng-model="selectedDid" ng-change="changeDid(selectedDid)" ng-class="{validInput: !error.selectedDid, wrongInput: error.selectedDid}">
          <option ng-repeat="did in myDids" value="{{did.symbol}}" title="{{did.symbol}}">{{did.symbol}}</option>
          <option ng-if="noDids" value="">{{ 'PROFIL.NO_DID' | translate }}</option>
        </select>
      </div>
      <!--Current Address-->
      <div class="form-group">
        <label for="useAddress" class=" ddd control-label">{{ 'PROFIL_MODIFY_ADDRESS.FROM_ADDRESS' | translate }}</label>
        <span ng-show="(selectedDidAddress == '' && selectedDid != '') || (!noDids && myDids.length == 0)" class="miniSpinner"></span>
        <input type="address" class="form-control" name="currentAddress" id="" name="fromAddress" ng-model="selectedDidAddress" ng-class="{validInput: !error.selectedDid, wrongInput: error.selectedDid}" disabled>
      </div>
      <!--New Address-->
  		<div class="form-group">
				<label for="useAddress" class=" ddd control-label">{{ 'PROFIL_MODIFY_ADDRESS.TO_ADDRESS' | translate }}</label>
        <span ng-show="listAddresses.length == 0" class="miniSpinner"></span>
        <select name="useAddress" type="address" name="toAddress" class="form-control" placeholder="" ng-model="toAddress" ng-class="{validInput: !error.toAddress_empty && !error.toAddress_already_used && !error.toAddress_not_enough_balance, wrongInput: error.toAddress_empty || error.toAddress_already_used || error.toAddress_not_enough_balance}" required>
					<option ng-repeat="oneAddress in listAddresses | orderBy:'balance':true" value="{{oneAddress.address}}" title="{{oneAddress.available | assetformat : 8}} ETP">{{oneAddress.address}} - {{oneAddress.available | assetformat : 8}} ETP</option>
				</select>
        <div ng-show="error.toAddress_already_used" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'PROFIL_MODIFY_ADDRESS.ADDRESS_ALREADY_USED' | translate }}</div>
        <div ng-show="error.toAddress_not_enough_balance" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'PROFIL_MODIFY_ADDRESS.ADDRESS_NOT_ENOUGH_BALANCE' | translate }}</div>
  		</div>
      <!--Fee-->
      <div class="form-group">
        <label for="fee" class="control-label col-xs-6 noPaddingLeftRight">{{ 'TRANSFER_FEE' | translate }}</label>
        <input type="number" step="0.00000001" class="form-control" name="fee" id="" ng-model="transactionFee" ng-class="{validInput: !error.fee_empty && !error.fee_too_low, wrongInput: error.fee_empty || error.fee_too_low}">
        <div ng-show="error.fee_too_low" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'MESSAGES.TOO_LOW_FEE' | translate }}</div>
      </div>
    </div>
    <div class="col-xs-12 col-md-12 noPaddingLeftRight">
      <br>
      <!--Buttons-->
      <div class="col-xs-6 col-sm-3">
        <input type="submit" ng-click="checkInputs(password)" value="{{ 'PROFIL_MODIFY_ADDRESS.MODIFY_BUTTON' | translate }}" class="btn btn-success" ng-disabled="!submittable">
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#!/avatar/myavatars" class="btn btn-success btn-success-secondary">{{ 'CREATE_PROFILE.BACK_TO_PROFILE' | translate }}</a>
      </div>
    </div>
  </form>

  <form ng-show="confirmation">
    <br/>
    <div class="col-lg-6 col-md-12">
      <div class="assetDetailsPanel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'TRANSFER.CONFIRMATION_TITLE' | translate}}</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'PROFIL.DID' | translate }}</div>
            <div class="assetValueColumn col-xs-3 noPaddingLeftRight">{{selectedDid}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'PROFIL_MODIFY_ADDRESS.FROM_ADDRESS' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{selectedDidAddress}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'PROFIL_MODIFY_ADDRESS.TO_ADDRESS' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{toAddress}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_FEE' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{transactionFee}} ETP</div>
          </div>
        </div>
      </div>
      <!--Password-->
      <div class="form-group">
        <label for="password" class="control-label">{{ 'TRANSFER_PASSWORD' | translate }}</label>
        <input type="password" class="form-control" name="password" id="" name="password" ng-model="password" ng-class="{validInput: !errorPassword, wrongInput: errorPassword}" autocomplete="off">
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group noPaddingLeftRight">
      <br>
      <!--Submit button-->
      <div class="col-xs-6 col-sm-6 col-md-3">
        <input type="submit" class="btn btn-success" ng-click="modifyAddress(selectedDid, toAddress, transactionFee, password)" value="{{ 'PROFIL_MODIFY_ADDRESS.MODIFY_BUTTON' | translate }}" ng-disabled="errorPassword">
      </div>
      <!--Return button-->
      <div class="col-xs-6 col-sm-6 col-md-3">
        <button class="btn btn-success btn-success-secondary" ng-click="confirmation = false; password = ''">{{ 'CANCEL_BUTTON' | translate }}</button>
      </div>
    </div>
  </form>
</div>
