<div class="AStitle-tabs">
  <ul class="nav nav-pills tabsMenu">
    <li class="active" role="presentation"><a href="#!/profile/myprofile" class="btn-link-menu">{{'PROFILE.MY_PROFILE' | translate}}</a></li>
    <li class="disabled" role="presentation"><a href="#!/profile/myprofile" class="btn-link-menu">{{'PROFILE.AUTHORIZE' | translate}}</a></li>
    <li class="disabled" role="presentation"><a href="#!/profile/myprofile" class="btn-link-menu">{{'PROFILE.REQUEST_LIST' | translate}}</a></li>
    <li class="disabled" role="presentation"><a href="#!/profile/myprofile" class="btn-link-menu">{{'PROFILE.RELATIONSHIPS' | translate}}</a></li>
    <li class="" role="presentation"><a href="#!/profile/all" class="btn-link-menu">{{'PROFILE.ALL' | translate}}</a></li>
  </ul>
</div>

<div class=" ">
  <div class="col-xs-12 noPaddingLeftRight">
    <div class="col-xs-6 noPaddingLeftRight onOffChainButtons">
      <button class="btn-link-black smallButton menuButton" ng-click="onChain = true" ng-class="{selectedOnOffChain:onChain === true}">On-chain</button>
      <span> / </span>
      <button class="btn-link-black smallButton menuButton" ng-click="onChain = false" ng-class="{selectedOnOffChain:onChain === false}">Off-chain</button>
    </div>
    <div class="col-xs-6 moreAssetsButton noPaddingLeftRight">
      <a href="#!/profile/create" class="btn btn-success smallButton"><span class="glyphicon glyphicon-plus"></span> {{ 'PROFILE.CREATE_NEW_PROFILE_BUTTON' | translate }}</a>
    </div>
  </div>


	<!--DID-->
	<div class="col-md-12 form-group noPaddingLeftRight">
		<div class="col-md-6 form-group noPaddingLeftRight">
      <label for="useDid" class="control-label">{{ 'PROFIL.DID' | translate }}</label>
      <select name="useDid" type="text" class="form-control" placeholder="" ng-model="selectedDid" ng-change="changeDid(selectedDid)">
        <option ng-repeat="did in myDids" value="{{did.address}}" title="{{did.symbol}}">{{did.symbol}} - {{did.address}}</option>
      </select>
		</div>
	</div>


	<form ng-show="onChain" class="row">
		<!--Address-->
		<div class="col-md-12">
			<div class="col-md-6 noPaddingLeftRight">
				<div class="form-group">
					<label for="address" class="control-label col-xs-6 noPaddingLeftRight">{{ 'PROFIL.ADDRESS' | translate }}</label>
					<input type="address" class="form-control readonly" name="address" ng-model="address" readonly>
				</div>
			</div>
		</div>
	</form>

  <form ng-hide="onChain" class="row">
    <!--Field 1-->
		<div class="col-xs-12">
			<div class="col-xs-6 noPaddingLeftRight">
				<div class="form-group">
					<label for="field1" class="control-label col-xs-6 noPaddingLeftRight">{{ 'PROFILE.DATA_FIELD' | translate }}1</label>
					<input type="test" class="form-control" name="field1" ng-model="field1">
				</div>
			</div>
      <div class="profilFieldButtons">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Edit" class="btn btn-success">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Remove" class="btn btn-success btn-success-secondary">
      </div>
		</div>

    <!--Field 1-->
		<div class="col-xs-12">
			<div class="col-xs-6 noPaddingLeftRight">
				<div class="form-group">
					<label for="field1" class="control-label col-xs-6 noPaddingLeftRight">{{ 'PROFILE.DATA_FIELD' | translate }}2</label>
					<input type="test" class="form-control" name="field1" ng-model="field1">
				</div>
			</div>
      <div class="profilFieldButtons">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Edit" class="btn btn-success">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Remove" class="btn btn-success btn-success-secondary">
      </div>
		</div>

    <!--Field 1-->
    <div class="col-xs-12">
      <div class="col-xs-6 noPaddingLeftRight">
        <div class="form-group">
          <label for="field1" class="control-label col-xs-6 noPaddingLeftRight">{{ 'PROFILE.DATA_FIELD' | translate }}3</label>
          <input type="test" class="form-control" name="field1" ng-model="field1">
        </div>
      </div>
      <div class="profilFieldButtons">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Edit" class="btn btn-success">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Remove" class="btn btn-success btn-success-secondary">
      </div>
    </div>

    <!--Field 1-->
    <div class="col-xs-12">
      <div class="col-xs-6 noPaddingLeftRight">
        <div class="form-group">
          <label for="field1" class="control-label col-xs-6 noPaddingLeftRight">{{ 'PROFILE.DATA_FIELD' | translate }}4</label>
          <input type="test" class="form-control" name="field1" ng-model="field1">
        </div>
      </div>
      <div class="profilFieldButtons">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Edit" class="btn btn-success">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Remove" class="btn btn-success btn-success-secondary">
      </div>
    </div>

    <!--Field 1-->
    <div class="col-xs-12">
      <div class="col-xs-6 noPaddingLeftRight">
        <div class="form-group">
          <label for="field1" class="control-label col-xs-6 noPaddingLeftRight">{{ 'PROFILE.DATA_FIELD' | translate }}5</label>
          <input type="test" class="form-control" name="field1" ng-model="field1">
        </div>
      </div>
      <div class="profilFieldButtons">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Edit" class="btn btn-success">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Remove" class="btn btn-success btn-success-secondary">
      </div>
    </div>

    <!--Field 1-->
    <div class="col-xs-12">
      <div class="col-xs-6 noPaddingLeftRight">
        <div class="form-group">
          <label for="field1" class="control-label col-xs-6 noPaddingLeftRight">{{ 'PROFILE.DATA_FIELD' | translate }}6</label>
          <input type="test" class="form-control" name="field1" ng-model="field1">
        </div>
      </div>
      <div class="profilFieldButtons">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Edit" class="btn btn-success">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Remove" class="btn btn-success btn-success-secondary">
      </div>
    </div>

    <!--Field 1-->
    <div class="col-xs-12">
      <div class="col-xs-6 noPaddingLeftRight">
        <div class="form-group">
          <label for="field1" class="control-label col-xs-6 noPaddingLeftRight">{{ 'PROFILE.DATA_FIELD' | translate }}7</label>
          <input type="test" class="form-control" name="field1" ng-model="field1">
        </div>
      </div>
      <div class="profilFieldButtons">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Edit" class="btn btn-success">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Remove" class="btn btn-success btn-success-secondary">
      </div>
    </div>

    <!--Field 1-->
    <div class="col-xs-12">
      <div class="col-xs-6 noPaddingLeftRight">
        <div class="form-group">
          <label for="field1" class="control-label col-xs-6 noPaddingLeftRight">{{ 'PROFILE.DATA_FIELD' | translate }}8</label>
          <input type="test" class="form-control" name="field1" ng-model="field1">
        </div>
      </div>
      <div class="profilFieldButtons">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Edit" class="btn btn-success">
          <input type="submit" ng-click="showprivatekey(privatekey_password, privatekey_last_word)" value="Remove" class="btn btn-success btn-success-secondary">
      </div>
    </div>

  </form>
</div>
