<div class="bg"></div>

    <form >
    <div class="lightgreybg loginbox">

        <div class="text-center margin-big padding-big-top">
        	<img src="images/logo-black.png" class="logo" alt="" />
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-12">
          <div class="form-group">
            	<label for="username" class="control-label">{{ 'LOGIN.ENTER_ACCOUNT_NAME' | translate }}<i>*</i></label>
              <input type="text" name="username" class="form-control" ng-model="vm.username">
          </div>
          <div class="form-group">
            	<label for="password" class="control-label">{{ 'LOGIN.ENTER_ACCOUNT_PASSWORD' | translate }}<i>*</i></label>
              <input type="password" name="password" class="form-control" ng-model="vm.password">
          </div>

        	<p class="pull-right"><a href="#!/reset">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a></p>

<br><br><br>
          <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || vm.dataLoading" ng-click="vm.login()">{{ 'LOGIN.LOGIN_BUTTON' | translate }}</button>
          <a href="#!/register" class="btn btn-info">{{ 'LOGIN.REGISTGER_BUTTON' | translate }}</a>
          <div class="dropdown pull-right">
            <button class="btn btn-primary" type="button" data-toggle="dropdown">
              Language
              <span class="glyphicon glyphicon-flag" ></span></button>
  <ul class="dropdown-menu">
    <li><a ng-click="vm.changeLang('zh_ZH')">中文</a></li>
    <li><a ng-click="vm.changeLang('en_US')">English</a></li>
    <li><a ng-click="vm.changeLang('de_DE')">Deutsch</a></li>
  </ul>
  </div>
  <br><br>
  <div class="alert" ng-class="{ 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" >
    <div class="" ng-bind="flash.message">
    </div>
  </div>
        </div>


      </div>
</div>
    </div>
    </form>
