<div class="bg"></div>
<div class="alert" ng-class="{ 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" >
  <div class="" ng-bind="flash.message">
  </div>
</div>
  <div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom">
            </div>
            <form>
            <div class="loginPassbox">
            	<div class="loginBoxTop panel">
	                <div class="text-center margin-big padding-big-top">
	                	<img src="images/logo-black.png" alt="" />
	                </div>
	                <div class="login_center_top">
                        <p>{{ 'FORGOT_PASSWORD.ENTER_PRIVATE_KEY' | translate }}<i>*</i></p>
	                	<textarea id="registerBox" contenteditable="true" ng-model="vm.resetpassword.private_key"></textarea>
	                  </div>

	            </div>
                <div class="loginBoxBottom panel">
                	<p>{{ 'FORGOT_PASSWORD.CHOOSE_PASSWORD' | translate }}<i>*</i></p>
                	<input type="password" ng-model="vm.resetpassword.password"/>
                	<p>{{ 'FORGOT_PASSWORD.REPEAT_PASSWORD' | translate }}<i>*</i></p>
                	<input type="password" ng-model="vm.resetpassword.password_repeat"/>
                	<div style="margin-top:15px;">
	                	<a href="#!/login" class="btn btn-default">{{ 'FORGOT_PASSWORD.LOGIN_BUTTON' | translate }}</a>
	                	<button type="submit" class="btn btn-primary" ng-click="vm.reset()">{{ 'FORGOT_PASSWORD.RESET_PASSWORD_BUTTON' | translate }}</button>
	                </div>
                </div>


            </div>
            </form>
        </div>
    </div>
</div>
