<div class="content">
	<span class="headline">{{ 'HEADLINE_ETP_TRANSFER' | translate }}</span>


	<!--Before sending a transaction-->
	<div ng-hide="transferSuccess">
		<ul class="nav nav-pills tabsMenu">
			<li role="presentation"><a href="#!/transfer/ETP" class="btn-link-menu">{{ 'TRANSFER_TYPE_SIMPLE' | translate }}</a></li>
			<li role="presentation" class="active"><a href="#!/transfer/multisignature" class="btn-link-menu">{{ 'TRANSFER_TYPE_MULTISIG' | translate }}</a></li>
			<li role="presentation"><a href="#!/transfer/sign" class="btn-link-menu">{{ 'TRANSFER_TYPE_SIGN' | translate }}</a></li>
			<!--<li role="presentation"><a href="#!/account/subscribe" class="btn-link-menu">{{ 'NAV_ACCOUNT_SUBSCRIBE' | translate }}</a></li>-->
		</ul>

  	<form ng-hide="confirmation" class="row">
			<br/>
			<!--Sender-->
			<div class="col-sm-12 col-md-6">
				<div class="form-group">
					<label for="addressFrom" class="control-label col-xs-3 col-sm-3 col-md-3 noPaddingLeftRight">{{ 'TRANSFER_FROM_ADDRESS' | translate }}</label>
					<div class="createAddress col-xs-9 col-sm-9 col-md-9 noPaddingLeftRight">
						<a href="#!/addresses/newmultisignature" class="btn-link-black smallButton" tabIndex="-1"><span class="glyphicon glyphicon-plus"></span>{{ 'TRANSFER_MULTISIGNATURE_ADD' | translate }}</a>
					</div>
					<select ng-hide="listMultiSig.length == 0" name="addressFrom" type="address" class="form-control" placeholder="" ng-model="sendfrom"  ng-change="availBalance(sendfrom)" ng-class="{validInput: !error.sendfrom, wrongInput: error.sendfrom}">
						<option ng-repeat="multiSig in listMultiSig | orderBy:'available':true" title="{{multiSig.balance | assetformat : 8}} ETP" value="{{multiSig.address}}">{{multiSig.address}} - {{multiSig.available | assetformat : 8}} ETP</option>
					</select>
					<select ng-show="listMultiSig.length == 0" name="addressFrom" type="address" class="form-control" placeholder="" ng-model="sendfrom" disabled bs-tooltip data-placement="top" title="{{ 'TRANSFER_NO_MULTISIG_ADDR' | translate }}" ng-class="{wrongInput: true}">
					</select>
				</div>

				<!--Recipient(s)-->
				<div class="form-group">
					<label for="recipent_address" class="control-label">{{ 'TRANSFER_RECIPENT_ADDRESS' | translate }}</label>
					<input type="text" class="form-control" name="recipent_address" id="" ng-model="sendTo" ng-change="checkRecipent(sendTo)" ng-class="{validInput: (correctEtpAddress || correctAvatar || burnAddress) && !error.sendto_empty, wrongInput: (!correctEtpAddress && !correctAvatar && !burnAddress) || error.sendto_empty}">
					<div ng-show="!correctEtpAddress && !correctAvatar && !burnAddress && !error.sendTo_empty" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'TRANSFER.INCORRECT_RECIPIENT' | translate }}</div>
					<div ng-show="correctEtpAddress" class="correctInputComment"><span class="glyphicon glyphicon-ok"></span> {{ 'TRANSFER.CORRECT_RECIPIENT_ADDRESS' | translate }}</div>
					<div ng-show="correctAvatar" class="correctInputComment"><span class="glyphicon glyphicon-ok"></span> {{ 'TRANSFER.CORRECT_RECIPIENT_AVATAR' | translate }}</div>
					<div ng-show="burnAddress" class="warningInputComment"><span class="glyphicon glyphicon-warning-sign"></span> {{ 'TRANSFER.CORRECT_RECIPIENT_BURN' | translate }}</div>
				</div>

				<!--Amount-->
				<div class="form-group">
					<label for="value" class="control-label col-xs-6 noPaddingLeftRight">{{ 'TRANSFER_VALUE' | translate }}</label>
					<!--Available Balance-->
					<div class="col-xs-6 noPaddingLeftRight addRecipent">
						<button type="button" class="btn-link-red addRecipentButton" ng-click="sendAllMultisig()" tabIndex="-1">{{ 'TRANSFER_AMOUNT_AVALAIBLE' | translate }}: {{availableBalance | assetformat : 8}} ETP</button>
					</div>
					<input type="number" min=0 step="0.00000001" class="form-control" placeholder="0.00000000" name="value" ng-model="quantity" autocomplete="off" ng-class="{validInput: !error.quantity_empty && !error.quantity_not_enough_balance, wrongInput: error.quantity_empty || error.quantity_not_enough_balance}">
					<span ng-show="error.quantity_not_enough_balance" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'TRANSFER.NOT_ENOUGH_ETP' | translate }}</span>
				</div>

				<!--Fee-->
				<div class="form-group">
					<label for="fee" class="control-label col-xs-6 noPaddingLeftRight">{{ 'TRANSFER_FEE' | translate }}</label>
					<input type="number" step="0.00000001" class="form-control" name="fee" id="" ng-model="transactionFee" ng-class="{validInput: !error.fee_empty && !error.fee_too_low, wrongInput: error.fee_empty || error.fee_too_low}">
				</div>
			</div>

			<!--Submit button-->
			<div class="col-xs-12 col-sm-12 col-md-12 noPaddingLeftRight">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<br/>
					<button type="submit" class="btn btn-success" id="transferBtn" ng-click="checkInputs()" ng-disabled="!submittable">{{ 'TRANSFER_SEND' | translate }}</button>
				</div>
			</div>
		</form>
	</div>

  <form ng-show="confirmation" class="row">
    <br/>
    <div class="col-lg-6 col-md-12">
      <div class="assetDetailsPanel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'TRANSFER.CONFIRMATION_TITLE' | translate}}</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_FROM_ADDRESS' | translate }}</div>
            <div ng-hide="sendfrom == ''" class="assetValueColumn col-xs-9 noPaddingLeftRight">{{sendfrom}}</div>
            <div ng-show="sendfrom == ''" class="assetValueColumn col-xs-9 noPaddingLeftRight">{{ 'TRANSFER_FROM_ADDRESS_AUTOMATIC' | translate }}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div ng-show="correctEtpAddress" class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_RECIPENT_ADDRESS' | translate }}</div>
            <div ng-show="correctAvatar" class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_RECIPENT_AVATAR' | translate }}</div>
            <div ng-show="burnAddress" class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_RECIPIENT_BURN' | translate }}</div>
            <div ng-hide="correctAvatar" class="assetValueColumn col-xs-9 noPaddingLeftRight">{{sendTo}}</div>
            <div ng-show="correctAvatar" class="assetValueColumn col-xs-9 noPaddingLeftRight">{{sendTo}} ({{allDidsAddresses[sendTo]}})</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_VALUE' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{quantity}} {{asset.symbol}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
						<div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_FEE' | translate }}</div>
						<div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{transactionFee}} ETP</div>
					</div>
        </div>
      </div>
      <!--Password-->
			<div class="form-group">
				<label for="password" class="control-label">{{ 'TRANSFER_PASSWORD' | translate }}</label>
				<input type="password" class="form-control" name="password" id="" ng-model="password" ng-class="{validInput: !errorPassword, wrongInput: errorPassword}">
			</div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group noPaddingLeftRight">
      <br>
      <!--Submit button-->
      <div class="col-xs-6 col-sm-6 col-md-3">
        <input type="submit" class="btn btn-success" ng-click="createMultisigTx(sendfrom, sendTo, quantity, transactionFee, password)" value="{{ 'TRANSFER_SEND' | translate }}" ng-disabled="errorPassword">
      </div>
      <!--Return button-->
      <div class="col-xs-6 col-sm-6 col-md-3">
        <button class="btn btn-success btn-success-secondary" ng-click="confirmation = false; password = ''">{{ 'CANCEL_BUTTON' | translate }}</button>
      </div>
    </div>
  </form>

	<!--After sending a transaction successfully-->
	<div ng-show="transferSuccess">
		<div class="form-group">{{ 'TRANSFER_MULTISIGNATURE_SUCCESS' | translate}}</div>
		<div class="form-group">
			<!--<button class="btn btn-success smallButton" bs-popover data-clipboard-text="{{resultCreateTx}}" data-toggle="popover" data-placement="top" data-content="{{ 'TRANSFER_MULTISIGNATURE_POPOVER_COPIED' | translate }}" role="button">
				<span class="glyphicon glyphicon-file"></span>  {{ 'TRANSFER_MULTISIGNATURE_COPY_BUTTON' | translate }}
			</button>-->
		</div>
		<textarea class="form-control" rows="5">{{resultCreateTx}}</textarea>
		<br>
		<div class="col-xs-12 noPaddingLeftRight spe-addrbox">
			<div class="checkboxCircle">
				<div class="checkbox-box">
					<input type="checkbox" checked ng-model="fileSaved" id="checkboxAgree">
					<label for="checkboxAgree"></label>
				</div>
				<span class="textCheckbox">{{ 'TRANSFER_MULTISIGNATURE_I_HAVE_COPIED' | translate}}</span>
			</div>
		</div>
		<div ng-show="fileSaved">
			<div class="col-xs-12 col-sm-6 col-md-3 ">
				<br/>
				<a href="#!/home" class="btn btn-success">{{ 'TRANSFER_MULTISIGNATURE_BACK_WALLET' | translate }}</a>
			</div>
		</div>
	</div>
</div>
