<div class="content">
	<span class="headline">{{ 'HEADLINE_ETP_TRANSFER' | translate }}</span>
	<!--Before sending a transaction-->
	<div ng-hide="transferSuccess">
		<ul class="nav nav-pills tabsMenu">
			<li role="presentation"><a href="#!/transfer/ETP" class="btn-link-menu">{{ 'TRANSFER_TYPE_SIMPLE' | translate }}</a></li>
			<li role="presentation"><a href="#!/transfer/multisignature" class="btn-link-menu">{{ 'TRANSFER_TYPE_MULTISIG' | translate }}</a></li>
			<li role="presentation" class="active"><a href="#!/transfer/sign" class="btn-link-menu">{{ 'TRANSFER_TYPE_SIGN' | translate }}</a></li>
			<!--<li role="presentation"><a href="#!/account/subscribe" class="btn-link-menu">{{ 'NAV_ACCOUNT_SUBSCRIBE' | translate }}</a></li>-->
		</ul>
		<br/>
		<div class="form-group">{{ 'TRANSFER_SIGN_HEADER' | translate}}:</div>
		<textarea class="form-control" ng-model="transaction" rows="5"></textarea>
		<br>
		<div class="col-xs-12 noPaddingLeftRight spe-addrbox">
			<div class="checkboxCircle">
				<div class="checkbox-box">
					<input type="checkbox" checked ng-model="lastTx" id="checkboxAgree" ng-click="!displayEmptyAdresses && displayEmpty() ; displayEmptyAdresses && hideEmpty()"  >
					<label for="checkboxAgree"></label>
				</div>
				<span class="textCheckbox">{{ 'TRANSFER_SIGN_IS_LAST_TRANSACTION' | translate}}</span>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 col-md-3 noPaddingLeftRight">
			<br/>
			<button type="submit" class="btn btn-success" ng-click="signMultisigTx(transaction, lastTx)">{{ 'TRANSFER_SIGN_SIGN_BUTTON' | translate }}</button>
		</div>
		<div class="col-xs-6 col-sm-3 col-md-3 noPaddingLeftRight">
			<br/>
			<a href="#!/home" class="btn btn-link-red">{{ 'TRANSFER_MULTISIGNATURE_BACK_WALLET' | translate }}</a>
		</div>
	</div>

	<!--After the signature-->
	<div ng-show="transferSuccess">
		<!--After signing NOT the last transaction-->
		<div ng-hide="lastTx">
			<div class="form-group"><b class="warningText">{{ 'TRANSFER_SIGN_SUCCESS' | translate}}</b></div>
			<div class="form-group">
				<!--<button class="btn btn-success smallButton" bs-popover data-clipboard-text="{{resultSignTx}}" data-toggle="popover" data-placement="top" data-content="{{ 'TRANSFER_MULTISIGNATURE_POPOVER_COPIED' | translate }}" role="button">
					<span class="glyphicon glyphicon-file"></span>  {{ 'TRANSFER_MULTISIGNATURE_COPY_BUTTON' | translate }}
				</button>-->
			</div>
			<textarea class="form-control" rows="5">{{resultSignTx}}</textarea>
			<br>
			<div class="col-xs-12 noPaddingLeftRight spe-addrbox checkboxAgreeSaved">
				<div class="checkboxCircle">
					<div class="checkbox-box">
						<input type="checkbox" ng-model="fileSaved" id="checkboxAgreeSaved">
						<label for="checkboxAgreeSaved"></label>
					</div>
					<span class="textCheckbox">{{ 'TRANSFER_MULTISIGNATURE_I_HAVE_COPIED' | translate}}</span>
				</div>
			</div>
			<div ng-show="fileSaved">
				<br/>
				<div class="col-xs-6 col-sm-4 col-md-4 noPaddingLeftRight">
					<a href="#!/home" class="btn btn-success">{{ 'TRANSFER_MULTISIGNATURE_BACK_WALLET' | translate }}</a>
				</div>
			</div>
		</div>
		<!--After signing the last transaction-->
		<div ng-show="lastTx">
			<div class="form-group">{{ 'TRANSFER_SIGN_LAST_TX_SUCCESS' | translate}}</div>
		</div>

	</div>
</div>
