<div class="content">
	<span class="headline">{{ 'HEADLINE_ETP_TRANSFER' | translate }}</span>

	<ul ng-hide="confirmation" class="nav nav-pills tabsMenu">
		<li role="presentation" class="active"><a class="btn-link-menu">{{ 'TRANSFER_TYPE_SIMPLE' | translate }}</a></li>
		<li role="presentation"><a href="#!/transfer/multisignature/ETP" class="btn-link-menu">{{ 'TRANSFER_TYPE_MULTISIG' | translate }}</a></li>
		<li role="presentation"><a href="#!/transfer/sign/ETP" class="btn-link-menu">{{ 'TRANSFER_TYPE_SIGN' | translate }}</a></li>
	</ul>

	<!--Select type of Asset-->
	<!--<div class="selectAssetType">
	<button class="dropdown-togglen assetTypeButton" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	{{symbol}}
	<span class="caret"></span>
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
<li><a ng-click="selectAssetType('ETP')" href="#!/transfer/ETP" >ETP</a></li>
<li class="divider" role="separator"></li>
<li ng-repeat="asset in assetsIssued | orderBy:'symbol'"><a ng-click="selectAssetType(asset.symbol)" href="#!/transfer/asset/{{asset.symbol}}/" >{{asset.symbol}}</a></li>
</ul>-->


	<!--<div class="selectAssetType">
		<a href="#!/transfer/multisignature/{{symbol}}" class="btn btn-success smallButton">{{ 'TRANSFER_GO_TO_MULTISIGNATURE' | translate }}</a>
	</div>-->

	<form ng-hide="confirmation" class="ddbr row">
		<div class="col-sm-12 col-md-6">
			<br/>
			<!--Sender-->
			<div class="form-group">
				<label for="addressFrom" class="control-label">{{ 'TRANSFER_FROM_ADDRESS' | translate }}</label>
				<select name="addressFrom" type="address" class="form-control" placeholder="" ng-model="sendfrom" ng-change="availBalance(sendfrom)" ng-class="{validInput: !error.sendfrom, wrongInput: error.sendfrom}">
					<option title="{{balance['total-available'] | assetformat : 8}} ETP" value="">{{ 'TRANSFER_FROM_ADDRESS_AUTOMATIC' | translate }}</option>
					<option ng-repeat="oneAddress in listAddresses | orderBy:'available':true" value="{{oneAddress.address}}" title="{{oneAddress.available | assetformat : 8}} ETP" ng-if="allDidsAddresses[oneAddress.address] && recipents.length == 1 && addresses[oneAddress.address].type == 'single'">{{allDidsAddresses[oneAddress.address]}} - {{oneAddress.address}} - {{oneAddress.available | assetformat : 8}} ETP</option>
          <option ng-repeat="oneAddress in listAddresses | orderBy:'available':true" value="{{oneAddress.address}}" title="{{oneAddress.available | assetformat : 8}} ETP" ng-if="!allDidsAddresses[oneAddress.address] && oneAddress.available != 0 && recipents.length == 1 && addresses[oneAddress.address].type == 'single'">{{oneAddress.address}} - {{oneAddress.available | assetformat : 8}} ETP</option>
				</select>
			</div>

			<!--Recipient(s)-->
			<div class="spe-addrgroup" ng-repeat="recipent in recipents | orderBy:'index'">
				<div class="form-group">
					<label for="recipent_address" class="control-label col-xs-6 noPaddingLeftRight">{{ 'TRANSFER_RECIPENT_ADDRESS_OR_AVATAR' | translate }}<span ng-show="recipents.length > 1"> {{recipent.index}}<span></label>
					<!--Add Recipent button, only on the first one-->
					<div class="col-xs-6 noPaddingLeftRight addRecipent" ng-show="recipent.index == 1">
						<button type="button" ng-click="addRecipent()" tabIndex="-1" class="btn-link-red addRecipentButton"><span class="glyphicon glyphicon-plus"></span> {{ 'TRANSFER_ADD_RECIPENT' | translate }}</button>
					</div>
					<!--Remove Recipent button, on the last one-->
					<div class="col-xs-6 noPaddingLeftRight addRecipent" ng-show="(recipents.length>1) && (recipent.index == recipents.length)">
						<button type="button" ng-click="removeRecipent()" tabIndex="-1" class="btn-link-red addRecipentButton"><span class="glyphicon glyphicon-minus"></span> {{ 'TRANSFER_REMOVE_RECIPENT' | translate }}</button>
					</div>
					<input type="etpaddress" class="form-control" name="recipent_address" id="" ng-model="recipent.address" ng-change="checkRecipent(recipent.address, recipent.index)" required ng-class="{validInput: (recipent.correctEtpAddress || recipent.correctAvatar || recipent.burnAddress) && recipent.address != '', wrongInput: (!recipent.correctEtpAddress && !recipent.correctAvatar && !recipent.burnAddress) || recipent.address == ''}">
					<span ng-show="!recipent.correctEtpAddress && !recipent.correctAvatar && !recipent.burnAddress && recipent.address != ''" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'TRANSFER.INCORRECT_RECIPIENT' | translate }}</span>
					<span ng-show="recipent.correctEtpAddress" class="correctInputComment"><span class="glyphicon glyphicon-ok"></span> {{ 'TRANSFER.CORRECT_RECIPIENT_ADDRESS' | translate }}</span>
					<span ng-show="recipent.correctAvatar" class="correctInputComment"><span class="glyphicon glyphicon-ok"></span> {{ 'TRANSFER.CORRECT_RECIPIENT_AVATAR' | translate }}</span>
					<span ng-show="recipent.burnAddress" class="warningInputComment"><span class="glyphicon glyphicon-warning-sign"></span> {{ 'TRANSFER.CORRECT_RECIPIENT_BURN_ETP' | translate }}</span>
				</div>

				<!--Amount-->
				<div ng-show="false">{{availableBalance | assetformat : 8}}</div>  <!--Needed to update the available balance in the button-->
				<div class="form-group">
					<label for="value" class="control-label col-xs-6 noPaddingLeftRight">{{ 'TRANSFER_VALUE' | translate }}<span ng-show="recipents.length > 1"> {{recipent.index}}<span></label>
					<!--AvailableBalance-->
					<div class="col-xs-6 noPaddingLeftRight addRecipent" ng-show="(recipent.index == 1)">
						<button type="button" tabIndex="-1" class="btn-link-red addRecipentButton" ng-click="sendAll()">{{ 'TRANSFER_AMOUNT_AVALAIBLE' | translate }}: {{availableBalance | assetformat : 8}} ETP</button>
					</div>
					<input type="number" min=0 step="0.00000001" required class="form-control" placeholder="0.00000000" name="value" ng-model="recipent.value" autocomplete="off" ng-change="checkAmount(recipent.value, recipent.index)" ng-class="{validInput: !recipent.wrongAmount && !recipent.notEnough && !recipent.emptyAmount, wrongInput: recipent.wrongAmount || recipent.notEnough || recipent.emptyAmount}">
					<span ng-show="recipent.wrongAmount" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'TRANSFER.WRONG_AMOUNT' | translate }}</span>
					<span ng-show="recipent.notEnough" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'TRANSFER.NOT_ENOUGH_ETP' | translate }}</span>
				</div>
			</div>

			<!--Fee-->
			<div class="form-group">
				<label for="fee" class="control-label col-xs-6 noPaddingLeftRight">{{ 'TRANSFER_FEE' | translate }}</label>
				<input type="number" step="0.00000001" class="form-control" name="fee" id="" ng-model="transactionFee" ng-class="{validInput: !error.fee_empty && !error.fee_too_low, wrongInput: error.fee_empty || error.fee_too_low}">
				<span ng-show="error.fee_too_low" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'MESSAGES.TOO_LOW_FEE' | translate }}</span>
			</div>

			<!--Memo-->
			<div class="form-group" ng-show="(recipents.length == 1)">
				<label for="memo" class="control-label">{{ 'TRANSFER_MEMO' | translate }}</label>
				<span class="fa fa-question-circle help-tooltip" bs-tooltip data-placement="top" title="{{ 'HELP.MEMO' | translate }}"></span>
				<input type="memo" class="form-control" name="memo" id="" ng-model="memo" ng-class="{validInput: !option.memo_empty && !error.memo_wrong_char && !error.memo_too_long, wrongInput: error.memo_wrong_char || error.memo_too_long}" >
			</div>
		</div>

		<!--Submit button-->
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-xs-12 col-sm-6 col-md-3 noPaddingLeftRight">
				<br/>
				<button type="submit" class="btn btn-success" id="transferBtn" ng-click="checkInputs(sendfrom, recipents, transactionFee, memo)" ng-disabled="!submittable">{{ 'TRANSFER_SEND' | translate }}</button>
			</div>
		</div>

	</form>

	<form ng-show="confirmation" class="row">
		<br/>
		<div class="col-lg-6 col-md-12">
			<div class="assetDetailsPanel panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{'TRANSFER.CONFIRMATION_TITLE' | translate}}</h3>
				</div>
				<div class="panel-body">
					<div class="col-xs-12 noPaddingLeftRight assetDataLine">
						<div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_FROM_ADDRESS' | translate }}</div>
						<div ng-show="sendfrom == ''" class="assetValueColumn col-xs-9 noPaddingLeftRight">{{ 'TRANSFER_FROM_ADDRESS_AUTOMATIC' | translate }}</div>
						<div ng-show="sendfrom != '' && !allDidsAddresses[sendfrom]" class="assetValueColumn col-xs-9 noPaddingLeftRight">{{sendfrom}}</div>
						<div ng-show="sendfrom != '' && allDidsAddresses[sendfrom]" class="assetValueColumn col-xs-9 noPaddingLeftRight">{{allDidsAddresses[sendfrom]}} ({{sendfrom}})</div>
					</div>
					<div ng-repeat="recipent in recipents | orderBy:'index'">
						<div class="col-xs-12 noPaddingLeftRight assetDataLine">
							<div ng-show="recipent.correctEtpAddress" class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_RECIPENT_ADDRESS' | translate }}<span ng-show="recipents.length > 1"> {{recipent.index}}<span></div>
							<div ng-show="recipent.burnAddress" class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_RECIPIENT_BURN' | translate }}<span ng-show="recipents.length > 1"> {{recipent.index}}<span></div>
							<div ng-show="recipent.correctAvatar" class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_RECIPENT_AVATAR' | translate }}</div>
							<div ng-hide="recipent.correctAvatar" class="assetValueColumn col-xs-9 noPaddingLeftRight">{{recipent.address}}</div>
							<div ng-show="recipent.correctAvatar" class="assetValueColumn col-xs-9 noPaddingLeftRight">{{recipent.address}} ({{didFromAddress[recipent.address]}})</div>
						</div>
						<div class="col-xs-12 noPaddingLeftRight assetDataLine">
							<div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_VALUE' | translate }}<span ng-show="recipents.length > 1"> {{recipent.index}}<span></div>
							<div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{recipent.value | number : 8}} ETP</div>
						</div>
					</div>
					<div class="col-xs-12 noPaddingLeftRight assetDataLine">
						<div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_FEE' | translate }}</div>
						<div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{transactionFee}} ETP</div>
					</div>
					<div ng-hide="memo == ''" class="col-xs-12 noPaddingLeftRight assetDataLine">
						<div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'TRANSFER_MEMO' | translate }}</div>
						<div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{memo}}</div>
					</div>
				</div>
			</div>
			<!--Password-->
			<div class="form-group">
				<label for="password" class="control-label">{{ 'TRANSFER_PASSWORD' | translate }}</label>
				<input type="password" class="form-control" name="password" id="" ng-model="password" required ng-model="password" ng-class="{validInput: !errorPassword, wrongInput: errorPassword}">
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 form-group noPaddingLeftRight">
			<br>
			<!--Submit button-->
			<div class="col-xs-6 col-sm-6 col-md-3">
				<input type="submit" class="btn btn-success" ng-click="transfer(sendfrom, recipents, transactionFee, memo, password)" value="{{ 'TRANSFER_SEND' | translate }}" ng-disabled="errorPassword">
			</div>
			<!--Return button-->
			<div class="col-xs-6 col-sm-6 col-md-3">
				<button class="btn btn-success btn-success-secondary" ng-click="confirmation = false; password = ''">{{ 'CANCEL_BUTTON' | translate }}</button>
			</div>
		</div>
	</form>
</div>
