<div class="content">
  <div class="">
    <span class="headline">{{ 'HEADLINE_ASSET_TRANSFER' | translate }} - {{symbol}}</span>

    <div>
      <br/>
      <span>{{ 'TRANSFER_ASSET_FEE_START' | translate }} <b class="red">0.0001</b> {{ 'TRANSFER_ASSET_FEE_END' | translate }}<span>
    </div>

      <!--Display all the addresses if the user choose to let it manually-->
      <!--<div class="col-xs-12 noPaddingLeftRight" ng-hide=autoSelectAddress>
        <div class="radioButtonAddress noPaddingLeftRight" ng-repeat="asset in assetAddresses | orderBy:'quantity':true" ng-click="selectAddress('selectionAddress',asset.address)" ng-show="(asset.symbol == symbol)">
          <dd class="panel addressBox noPaddingLeftRight col-xs-1">
            <input type="radio" name="radioDeposit" id={{asset.symbol}}.{{asset.address}} value="hideCustomDate" checked/>
            <label for={{asset.symbol}}.{{asset.address}}>
              <div class="addressBoxSymbolImgDeposit">
                <img class="assetSymbol assetSymbolDeposit" src="images/favicon.jpg" alt=""/>
              </div>
              <div class="addressBoxTextInfoDeposit">
                <span class="addressBoxNameDeposit">{{asset.name}}</span>
                <span class="addressBoxAddressDeposit">{{asset.address}}</span>
                <span class="col-xs-6 noPaddingLeftRight">
                  <span class="assetBoxTitle">{{ 'BALANCE' | translate }}</span>
                  <span class="assetBoxValue">{{asset.quantity | assetformat : asset.decimal_number}}</span>
                </span>
            </div>
          </label>
        </dd>
      </div>
    </div>-->

    <form class="row">
      <!--Sender-->
      <div class="col-md-12 form-group">
        <br/>
        <div class="col-md-6 noPaddingLeftRight">
          <label for="addressFrom" class="control-label">{{ 'TRANSFER_FROM_ADDRESS' | translate }}</label>
          <select name="addressFrom" type="address" class="form-control" placeholder="" ng-model="sendfrom">
            <option value="" ng-show="(asset.symbol == symbol)">{{ 'TRANSFER_FROM_ADDRESS_AUTOMATIC' | translate }}</option>
            <option ng-repeat="asset in assetAddresses | orderBy:'quantity':true" value="{{asset.address}}">{{asset.address}}</option>
            <!-- - {{asset.name}} - {{asset.quantity | assetformat : asset.decimal_number}}-->
          </select>
        </div>
      </div>

      <!--Recipient-->
      <div class="col-md-12 form-group">
        <div class="col-md-6 noPaddingLeftRight">
          <label for="recipent_address" class="control-label">{{ 'TRANSFER_RECIPENT_ADDRESS' | translate }}</label>
          <input type="etpaddress" class="form-control" name="recipent_address" id="" ng-model="recipent_address" required autocomplete="off">
        </div>
      </div>

      <!--Amount-->
      <div class="col-md-12 form-group">
        <div class="col-md-6 noPaddingLeftRight">
          <div class="form-group">
            <label for="value" class="control-label">{{ 'TRANSFER_VALUE' | translate }}</label>
            <input type="number" ng-model="quantity" name="quantity" min=0 required class="form-control" placeholder="0" autocomplete="off">
          </div>
        </div>
      </div>

      <!--Password-->
      <div class="col-md-12 form-group">
        <div class="col-md-6 noPaddingLeftRight">
          <label for="password" class="control-label">{{ 'TRANSFER_PASSWORD' | translate }}</label>
          <input type="password" class="form-control" name="password" id="" autocomplete="new-password" required ng-model="password">
        </div>
      </div>

      <!--Submit button-->
      <div class="col-xs-12 col-sm-12 col-md-12 noPaddingLeftRight">
        <div class="col-xs-12 col-sm-6 col-md-3 ">
          <br/>
          <input type="submit" class="btn btn-success" ng-click="sendasset(recipent_address,symbol,quantity)" value="{{ 'TRANSFER_SEND' | translate }}">
          <!--Back to Assets button-->
          <!--<div class="form-group col-xs-6 col-md-6">
          <a href="#!/asset/myassets" class="btn btn-info">{{ 'TRANSFER_BACK_ASSETS' | translate }}</a>
        </div>-->
      </div>
    </form>
  </div>
</div>
