<div class="content">
	<span class="headline">{{ 'HEADLINE_ETP_CREATE_MULTISIGNATURE' | translate }}</span>

	<form class="row">
		<br/>
		<div class="col-md-6">
			<!--Sender-->
			<div class="form-group">
				<label for="addressFrom" class="ddd control-label">{{ 'CREATE_MULTISIGNATURE_MY_ADDRESS' | translate }}</label>
				<select name="addressFrom" type="address" class="form-control" placeholder="" ng-model="sendfrom" ng-change="getPublicKey(sendfrom)" ng-class="{validInput: !error.sendfrom, wrongInput: error.sendfrom}">
					<option ng-repeat="oneAddress in listAddresses | orderBy:'available':true" value="{{oneAddress.address}}" title="{{oneAddress.available | assetformat : 8}} ETP" ng-show="addresses[oneAddress.address].type == 'single'">{{oneAddress.address}} - {{oneAddress.available | assetformat : 8}} ETP</option>
				</select>
			</div>

			<!--Sender key-->
			<div class="form-group">
				<label for="publicKey" class="control-label col-xs-6 noPaddingLeftRight">{{ 'CREATE_MULTISIGNATURE_MY_PUBLIC_KEY' | translate }}</label>
				<div class="col-xs-6 noPaddingLeftRight addRecipent">
					<button class="btn btn-link-red btnCopySmall" data-clipboard-text="{{publicKey}}" role="button"><span class="glyphicon glyphicon-copy btnCopySmall"></span>{{ 'CREATE_MULTISIGNATURE.COPY_PUBLIC_KEY' | translate }}</button>
				</div>
				<input type="multisig" class="form-control" name="publicKey" id="" ng-model="publicKey" readonly="readonly" ng-class="{validInput: !error.publicKey, wrongInput: error.publicKey}">
			</div>

			<!--Co-signers-->
			<div class="form-group" ng-repeat="cosigner in cosigners | orderBy:'index'">
				<label for="cosigner" class="control-label col-xs-6 noPaddingLeftRight">{{ 'CREATE_MULTISIGNATURE_PUBLIC_KEY_OTHERS' | translate }} {{cosigner.index}}</label>
				<!--Add Recipent button, only on the first one-->
				<div class="col-xs-6 noPaddingLeftRight addRecipent" ng-show="cosigner.index == 1">
					<button type="button" ng-click="addCoSigner()" class="btn-link-red addRecipentButton"><span class="glyphicon glyphicon-plus"></span>{{ 'CREATE_MULTISIGNATURE_ADD_COSIGNER' | translate }}</button>
				</div>
				<!--Remove Recipent button, on the last one-->
				<div class="col-xs-6 noPaddingLeftRight addRecipent" ng-show="(cosigners.length>1) && (cosigner.index == cosigners.length)">
					<button type="button" ng-click="removeCoSigner()" class="btn-link-red addRecipentButton"><span class="glyphicon glyphicon-minus"></span>{{ 'CREATE_MULTISIGNATURE_REMOVE_COSIGNER' | translate }}</button>
				</div>
				<input type="multisig" class="form-control" name="cosigner" id="" ng-model="cosigner.publicKey" ng-change="checkHash(cosigner.publicKey, cosigner.index)" ng-class="{validInput: !cosignersError[cosigner.index-1], wrongInput: cosignersError[cosigner.index-1]}">
			</div>

			<div class="form-group">
				<label for="nbrSign" class="control-label">{{ 'CREATE_MULTISIGNATURE_NBR_COSIGNER_REQUIRED' | translate }}</label>
				<select type="number" class="form-control" name="nbrSign" placeholder="" ng-model="nbrCosignersRequired" ng-class="{validInput: !error.nbrCosignersRequired, wrongInput: error.nbrCosignersRequired}">
		      <option ng-repeat="i in getNumber(cosigners.length) track by $index" value="{{$index+2}}">{{$index+2}}</option>
		    </select>
			</div>

			<div class="form-group">
				<br>
				<!--Submit button-->
				<div class="col-xs-6 noPaddingLeftRight">
					<button type="submit" class="btn btn-success" ng-click="getNewMultisign()" ng-disabled="!submittable">{{ 'CREATE_MULTISIGNATURE_CREATE' | translate }}</button>
				</div>
				<!--Return button-->
				<div class="col-xs-6">
					<a href="#!/transfer/ETP" class="btn btn-link-red">{{ 'CREATE_MULTISIGNATURE_RETURN' | translate }}</a>
				</div>
			</div>
		</div>
	</form>
</div>
