<div class="content">
	<span class="headline">{{ 'HEADLINE_LINK_ETH' | translate }}</span>

	<form class="row" ng-show="!confirmation">
		<br/>
		<div class="col-sm-12 col-md-6">
			<!--ETP address-->
			<div class="form-group">
				<label for="addressFrom" class="ddd control-label">{{ 'LINK_ETH.ETP_ADDRESS_OR_AVATAR' | translate }}</label>
				<span class="fa fa-question-circle help-tooltip" bs-tooltip data-placement="top" title="{{ 'HELP.LINK_ETP_ADDRESS' | translate }}"></span>
				<span ng-show="!senderAddressesLoaded" class="miniSpinner"></span>
				<select name="etpAddress" type="address" class="form-control" placeholder="" ng-model="etpAddress" ng-class="{validInput: !error.etpAddress, wrongInput: error.etpAddress}">
					<option ng-repeat="oneAddress in listAddresses | orderBy:'available':true" value="{{oneAddress.address}}" title="{{oneAddress.available | assetformat : 8}} ETP" ng-if="myDidsAddresses[oneAddress.address] && oneAddress.address.charAt(0) != '3'">{{myDidsAddresses[oneAddress.address]}} - {{oneAddress.address}} - {{oneAddress.available | assetformat : 8}} ETP</option>
					<option ng-repeat="oneAddress in listAddresses | orderBy:'available':true" value="{{oneAddress.address}}" title="{{oneAddress.available | assetformat : 8}} ETP" ng-if="!myDidsAddresses[oneAddress.address] && oneAddress.address.charAt(0) != '3'">{{oneAddress.address}} - {{oneAddress.available | assetformat : 8}} ETP</option>
				</select>
			</div>

			<div class="row form-group">
				<br>
				<!--Submit button-->
				<div class="col-xs-6">
					<button type="submit" class="btn btn-success" ng-click="registerEthBridge(etpAddress)" ng-disabled="!submittable || !senderAddressesLoaded">{{ 'LINK_ETH.LINK_BUTTON' | translate }}</button>
				</div>
				<!--Return button-->
				<div class="col-xs-6">
					<a href="#!/addresses/myaddresses" class="btn btn-link-red">{{ 'LINK_ETH.RETURN_BUTTON' | translate }}</a>
				</div>
				<br>
			</div>
		</div>
		<!--How to link details-->
    <div class="col-sm-12 col-md-6">
      <div class="assetDetailsPanel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'LINK_ETH.EXPLANATION_TITLE' | translate}}</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'LINK_ETH.WHY_TITLE' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{ 'LINK_ETH.WHY_EXPLANATION' | translate }}</div>
          </div>
					<div class="col-xs-12 noPaddingLeftRight assetDataLine">
						<div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'LINK_ETH.HOW_TO_LINK_TITLE' | translate }}</div>
						<div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{'LINK_ETH.HOW_TO_LINK_EXPLANATION' | translate}}</div>
					</div>
					<div class="col-xs-12 noPaddingLeftRight assetDataLine">
						<div class="assetDataColumn col-xs-12 noPaddingLeftRight">{{ 'LINK_ETH.BOTTOM_EXPLANATION' | translate }}</div>
					</div>
        </div>
      </div>
    </div>
	</form>

  <form ng-show="confirmation" class="row">
    <br/>
    <div class="col-sm-12 col-md-6">
      <div class="assetDetailsPanel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'LINK_ETH.CONFIRMATION_TITLE' | translate}}</h3>
        </div>
        <div class="panel-body">
					<div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div ng-show="myDidsAddresses[etpAddress]" class="assetDataColumn col-xs-5 noPaddingLeftRight">{{ 'LINK_ETH.ETP_AVATAR' | translate }}</div>
						<div ng-show="!myDidsAddresses[etpAddress]" class="assetDataColumn col-xs-5 noPaddingLeftRight">{{ 'LINK_ETH.ETP_ADDRESS' | translate }}</div>
            <div ng-show="myDidsAddresses[etpAddress]" class="assetValueColumn col-xs-7 noPaddingLeftRight">{{myDidsAddresses[etpAddress]}}</div>
						<div ng-show="!myDidsAddresses[etpAddress]" class="assetValueColumn col-xs-7 noPaddingLeftRight">{{etpAddress}}</div>
          </div>
					<div class="col-xs-12 noPaddingLeftRight assetDataLine">
						<div class="assetDataColumn col-xs-5 noPaddingLeftRight">
							{{ 'LINK_ETH.RESULT_DATA' | translate }}
							<button class="btn btn-link-black btnCopySmall" data-clipboard-text="{{result}}" role="button" tabIndex="-1">
								<span class="glyphicon glyphicon-copy btnCopySmall"></span>
							</button>
						</div>
						<div class="assetValueColumn col-xs-7 noPaddingLeftRight">{{result}}</div>
					</div>
        </div>
      </div>
			<div class="row">
				<br>
	      <!--Copy button-->
	      <div class="col-xs-6">
	        <button type="submit" class="btn btn-success" bs-popover data-clipboard-text="{{result}}" data-toggle="popover" data-placement="top" data-content="{{ 'LINK_ETH.POPOVER_COPIED' | translate }}">
						<span class="glyphicon glyphicon-copy"></span> {{ 'LINK_ETH.COPY_DATA' | translate }}
					</button>
	      </div>
	      <!--Return button-->
	      <div class="col-xs-6">
	        <button class="btn btn-success btn-success-secondary" ng-click="confirmation = false; password = ''">{{ 'CANCEL_BUTTON' | translate }}</button>
	      </div>
				<br>
			</div>
    </div>
		<!--Link addresses next explanation-->
    <div class="col-sm-12 col-md-6">
      <div class="assetDetailsPanel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'LINK_ETH.EXPLANATION_NEXT_TITLE' | translate}}</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'LINK_ETH.GO_ETH_WALLET_TITLE' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{ 'LINK_ETH.GO_ETH_WALLET_EXPLANATION' | translate }}</div>
          </div>
					<div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'LINK_ETH.SEND_ETH_TITLE' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">
								<div>{{ 'LINK_ETH.SEND_ETH_EXPLANATION1' | translate }}</div>
								<div class="ETPMap">
										{{ETPMap}}
										<button class="btn btn-link-black btnCopySmall" data-clipboard-text="{{ETPMap}}" role="button" tabIndex="-1"><span class="glyphicon glyphicon-copy btnCopySmall"></span></button>
								</div>
								<div>{{ 'LINK_ETH.SEND_ETH_EXPLANATION2' | translate }}</div>
						</div>
          </div>
					<div class="col-xs-12 noPaddingLeftRight assetDataLine">
						<div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'LINK_ETH.LINKED_TITLE' | translate }}</div>
						<div class="assetValueColumn col-xs-9 noPaddingLeftRight">
							<div class="explanation">{{ 'LINK_ETH.LINKED_EXPLANATION1' | translate }}</div>
							<div>{{ 'LINK_ETH.LINKED_EXPLANATION2' | translate }}</div>
							<div class="ETPMap">
									{{SwapAddress}}
									<button class="btn btn-link-black btnCopySmall" data-clipboard-text="{{SwapAddress}}" role="button" tabIndex="-1"><span class="glyphicon glyphicon-copy btnCopySmall"></span></button>
							</div>
							<div>{{ 'LINK_ETH.LINKED_EXPLANATION3' | translate }}</div>
						</div>
					</div>
        </div>
      </div>
    </div>
  </form>
</div>
