
  <div class="headline">
    ETP
    <!--{{ 'NAV_ACCOUNT_ADDRESSES' | translate }}-->
    <!--<a href="#!/deposit/ETP" class="btn btn-success smallButton">{{ 'DEPOSIT.HEADLINE' | translate }}</a>-->
  </div>
  <!--<div>
    <ul class="nav nav-pills tabsMenu">
      <li role="presentation" class="active"><a href="#!/addresses/myaddresses" class="btn-link-menu">{{ 'ADDRESSES_MY_ADDRESSES' | translate }}</a></li>
      <li role="presentation"><a href="#!/addresses/multisignatureaddresses" class="btn-link-menu">{{ 'ADDRESSES_MULTISIG_ADDRESSES' | translate }}</a></li>
    </ul>
  </div>-->

  <!--ETP Balance-->
  <div class="assetBox C-assetBox col-xs-12 col-sm-12 col-md-12 " >
    <!--<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">-->
      <!--<div class="assetBoxSymbolImg">-->
        <!--<img class="assetSymbol" src="images/favicon.jpg" alt=""/>-->
      <!--</div>-->
      <!--<div class="assetBoxSymbolNameETP">-->
        <!--<a href="#!/addresses/myaddresses" class="btn-link-black">ETP</a>-->
      <!--</div>-->
    <!--</div>-->
    <div class="assetBoxBalance col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 noPaddingLeftRight">
      <div class="assetBoxTitle">{{ 'BALANCE' | translate }}</div>
      <div class="assetBoxValue overflow">{{balance['total-unspent']/100000000}}</div>
    </div>
    <div class="assetBoxFrozen col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 noPaddingLeftRight">
      <div class="assetBoxTitle">{{ 'FROZEN' | translate}}</div>
      <div class="assetBoxValue overflow">{{balance['total-frozen']/100000000}}</div>
    </div>
    <div class="assetBoxButtons">
      <a href="#!/deposit/ETP" class="btn btn-link-red smallButton assetBoxButton">{{ 'DEPOSIT.HEADLINE' | translate}}</a>
      <a class="btn btn-success smallButton assetBoxButton" href="#!/transfer/ETP">{{ 'ASSETS_SEND' | translate}}</a>
    </div>
  </div>

  <!--Show/Hide empty addresses-->
  <div class="whiteSpace">
    <br/>
  </div>
  <div class="col-xs-12 noPaddingLeftRight spe-addrbox">
    <div class="col-xs-6">
      <div class="checkboxCircle">
        <input type="checkbox" ng-model="displayEmptyAdresses" id="checkboxCircleAdresses" ng-click="!displayEmptyAdresses && displayEmpty() ; displayEmptyAdresses && hideEmpty()" >
        <label for="checkboxCircleAdresses"></label>
        <span class="textCheckbox">{{ 'ADDRESSES_HIDE_EMPTY' | translate }}</span>
      </div>
    </div>
    <!--Get new address-->
    <div class="createAddress col-xs-6 noPaddingLeftRight">
      <!--New Multisignature address-->
      <!--<a href="#!/transfer/newmultisignature" class="btn-link-black smallButton"><span class="glyphicon glyphicon-plus"></span>{{ 'TRANSFER_MULTISIGNATURE_ADD' | translate }}</a>-->
      <!--New personnal address-->
      <button ng-click="getnewaddress()" class="btn-link-black smallButton"><span class="glyphicon glyphicon-plus"></span> {{ 'ADDRESSES_CREATE_NEW_ADDRESS' | translate }}</button>
    </div>
  </div>

  <!--QR Code pop-up-->
  <div class="modal fade" id="showqrmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content panel">
        <div class="qrCodePopUp" id="modal_qr"></div>
        <div class="addressQRCode" id="modal_address"></div>
      </div>
    </div>
  </div>
  <br/>

  <!--Display all the ETP adresses-->
  <div dir-paginate="address in addressesDisplay | orderBy:'balance':true | itemsPerPage: 10" ng-hide="(displayEmptyAdresses == true && address.balance == 0)" ng-model='chkMonitor'>
    <dd class="assetBoxAdd assetBox col-xs-12 col-sm-12 col-md-12" >
      <div class="assetBoxBalance col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
        <!--Display editable name of the address-->
        <div ng-hide="address.edit">
          <span class="addressBoxName" readonly="true" id="editAddressName">{{address.name}}</span>
          <button class="fa fa-edit editAddressNameButton" bs-tooltip data-placement="top" title="{{ 'ADDRESSES_TOOLTIP_EDIT_NAME' | translate }}" ng-click="enableEditAddressName(address.address)"></button>
        </div>
        <!--Display while editing-->
        <div class="input-group" ng-show="address.edit">
          <input type="text" ng-model="address.newName" class="form-control addressBoxNameUpdate" id="editAddressNameEditing" maxlength="40" ng-keyup="$event.keyCode == 13 && endEditAddressName(address.address, address.newName)">
          <span class="input-group-addon editAddressName">
            <button class="glyphicon glyphicon-floppy-saved editAddressNameButtonEditing" ng-click="endEditAddressName(address.address, address.newName)"></button>
          </span>
          <span class="input-group-addon editAddressName">
            <button class="glyphicon glyphicon-remove editAddressNameButtonEditing" ng-click="cancelEditAddressName(address.address)"></button>
          </span>
        </div>

        <span class="col-xs-12 noPaddingLeftRight addressBoxAddressDeposit overflow">{{address.address}}</span>

      </div>
      <div class="assetBoxBalance col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 noPaddingLeftRight">
        <div class="assetBoxTitle">{{ 'BALANCE' | translate }}</div>
        <div class="assetBoxValue col-xd-12 noPaddingLeftRight overflow">{{address.balance/100000000}}</div>
      </div>
      <div class="assetBoxFrozen col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 noPaddingLeftRight">
        <div class="assetBoxTitle">{{ 'FROZEN' | translate}}</div>
        <div class="assetBoxValue col-xd-12 noPaddingLeftRight overflow">{{address.frozen/100000000}}</div>
      </div>
      <div class="assetBoxCopy col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 noPaddingLeftRight">
        <span class="copyAddress">
          <button class="btn btn-link-black addressLinkButton" bs-popover data-clipboard-text="{{address.address}}" data-toggle="popover" data-placement="top" data-content="{{ 'ADDRESSES_POPOVER_COPIED' | translate }}" role="button">
            <span class="glyphicon fa fa-copy"></span> {{ 'ADDRESSES_COPY_ADDRESS' | translate }}
          </button>
        </span>
      </div>
      <div class="assetBoxCopy col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 noPaddingLeftRight">
        <span class="qrCode">
          <button id="element" class="btn btn-link-black addressLinkButton" ng-click="showqr(address.address)" alt="receive">
            <span class="glyphicon glyphicon-qrcode"></span> {{ 'ADDRESSES_QR_CODE' | translate }}
          </button>
        </span>
      </div>
    </dd>
  </div>

  <!--Pagination-->
  <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5 col-xl-offset-5">
    <dir-pagination-controls></dir-pagination-controls>
  </div>
