<div class="headline"><em></em>{{ 'HEADLINE_ADDRESSES' | translate }}</div>
<div class="modal fade" id="showqrmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content panel">
      <div class="address" id="modal_address"></div>
      <div id="modal_qr">
      </div>
    </div>
  </div>
</div>

<div class="mainContent" >
<div class="account_content_center">
  <table cellspacing="0" class='centertable'>
    <tr>
      <th class="center">{{ 'DATE_CREATED' | translate }}
        <span>
            </span></th>
      <th class="center clickable" ng-click="setOrder('address')">
        {{ 'ADDRESS' | translate }}
        <span>
          <i ng-show="sortType=='address' && sortReverse==false" class="fa fa-caret-up"></i>
          <i ng-show="sortType=='address' && sortReverse==true" class="fa fa-caret-down"></i>
        </span>
      </th>
      <th class="center clickable right-align" ng-click="setOrder('balance')">
        {{ 'BALANCE' | translate }}
        <span>
          <i ng-show="sortType=='balance' && sortReverse==false" class="fa fa-caret-up"></i>
          <i ng-show="sortType=='balance' && sortReverse==true" class="fa fa-caret-down"></i>
          </span>
        </th>

    </tr>
    <tr ng-repeat="address in addresses | orderBy:sortType:sortReverse" >
      <td></td>
      <td><span class="address">{{address.address}} <a href=""><img src="images/receiveBig.png" ng-click="showqr(address.address)" alt="receive"/></a></span></td>
      <td class="right-align">{{address.balance/100000000 }} ETP</td>
    </tr>
  </table>
  <div class="center"><input class="btn btn-success" ng-click="getnewaddress()" value="Create new address"></div>

</div>
</div>
