<div class="headline">
  {{ 'NAV_ETP' | translate }}
  <a href="#!/deposit" class="btn btn-success smallButton">{{ 'DEPOSIT.HEADLINE' | translate }}</a>
</div>

<div class="modal fade" id="showqrmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content panel">
      <div class="qrCodePopUp" id="modal_qr"></div>
      <div class="addressQRCode" id="modal_address"></div>
    </div>
  </div>
</div>

<br/>
<div class="mainContent" >




  <!--Display all the ETP adresses-->
  <div ng-repeat="address in addresses | orderBy:sortType:sortReverse" ng-hide="(displayEmptyAdresses == true && address.balance == 0)">
    <dd class="panel addressBox col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" >
      <span class="addressBoxSymbolImg">
        <img class="assetSymbol" src="favicon.png" alt=""/>
      </span>


      <div class="addressBoxTextInfo">
        <div class="copyAndQrCode">
          <span class="qrCode">
            <a class="btn btn-link addressLinkButton" ng-click="showqr(address.address)" alt="receive"><img src="images/qrcode.png" alt="" /> {{ 'ADDRESSES_QR_CODE' | translate }}</a>
          </span>
          <span class="copyAddress">
            <a class="btn btn-link addressLinkButton"><img src="images/copy-address.png" alt="" /> {{ 'ADDRESSES_COPY_ADDRESS' | translate }}</a>
          </span>
        </div>
        <div class=addressText>
          <span class="addressBoxName">{{ 'ADDRESSES_CREATE_NEW_ADDRESS' | translate }}</span>
          <span class="addressBoxValue">{{address.balance/100000000 }} ETP</span>
          <span class="addressBoxAddress">{{address.address}}</span>
        </div>
      </div>
    </dd>
  </div>

  <div class="createAddress col-xs-12 col-sm-12 col-md-12 noPaddingLeftRight">
    <button ng-click="getnewaddress()" class="btn-link createAddressButton"><span class="glyphicon glyphicon-plus"></span> {{ 'ADDRESSES_CREATE_NEW_ADDRESS' | translate }}</button>
  </div>



</div>
