<span class="headline">{{ 'NAV_ACCOUNT_SETTING' | translate }}</span>
<div>
  <ul class="nav nav-pills tabsMenu">
    <li role="presentation" class="active"><a href="#!/account/details" class="btn-link-menu">{{ 'SETTINGS.CHANGE_PASSWORD' | translate }}</a></li>
    <li role="presentation"><a href="#!/account/privatekey" class="btn-link-menu">{{ 'SETTINGS.PRIVATE_KEY' | translate }}</a></li>
        <li role="presentation"><a href="#!/account/export" class="btn-link-menu">{{ 'SETTINGS.EXPORT' | translate }}</a></li>
        <!--<li role="presentation"><a href="#!/account/subscribe" class="btn-link-menu">{{ 'NAV_ACCOUNT_SUBSCRIBE' | translate }}</a></li>-->
  </ul>
</div>
<div class="row">
  <div class="col-md-6">
    <br/>
    <form ng-hide="privatekey">
      <div class="form-group">
        <label for="password" class="control-label">{{ 'SETTINGS.PASSWORD' | translate }}</label>
        <input type="password" class="form-control" name="password" id="" ng-model="chpwd_password" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="password" class="control-label">{{ 'SETTINGS.NEW_PASSWORD' | translate }}</label>
        <input type="password" class="form-control" name="password" id="" ng-model="chpwd_new_password" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="password" class="control-label">{{ 'SETTINGS.NEW_PASSWORD_REPEAT' | translate }}</label>
        <input type="password" class="form-control" name="password" id="" ng-model="chpwd_new_password_repeat" autocomplete="off">
      </div>
      <br/>
      <div class="row col-md-6">
        <input type="submit" ng-click="changepassword(chpwd_password, chpwd_new_password, chpwd_new_password_repeat)" value="{{ 'SETTINGS.CHANGE_PASSWORD_BUTTON' | translate }}" class="btn btn-success  col-xs-12 col-sm-6 col-md-12">
      </div>
    </form>
  </div>
</div>


<!--Account Information
<div class="accountContentBottom">
  <div class="headline"><em></em>{{ 'SETTINGS_ACCOUNT_INFORMATION' | translate }}</div>
  <input class="btn btn-success" ng-hide="debugState" ng-click="setDeugger(1)" value="{{ 'SETTINGS.DEBUG_ENABLE' | translate }}">
  <input class="btn btn-danger"  ng-show="debugState" ng-click="setDeugger(0)" value="{{ 'SETTINGS.DEBUG_DISABLE' | translate }}">
</div>-->
