<div>
  <ul class="nav nav-pills tabsMenu">
    <li role="presentation" class="active"><a href="#!/account/details" class="btn-link-menu">{{ 'SETTINGS.CHANGE_PASSWORD' | translate }}</a></li>
    <li role="presentation"><a href="#!/account/privatekey" class="btn-link-menu">{{ 'SETTINGS.PRIVATE_KEY' | translate }}</a></li>
    <!--li class="disabled" role="presentation"><a class="btn-link-menu">{{ 'SETTINGS.EXPORT' | translate }}</a></li-->
    <li role="presentation"><a href="#!/account/export" class="btn-link-menu">{{ 'SETTINGS.EXPORT' | translate }}</a></li>
  </ul>
</div>
<br/>
<form class="row">
  <div class="col-md-12 form-group noPaddingLeftRight">
    <div class="col-md-6">
      <label for="password" class="control-label">{{ 'SETTINGS.PASSWORD' | translate }}</label>
      <input type="password" class="form-control" name="password" id="" ng-model="chpwd_password" autocomplete="off">
    </div>
  </div>
  <div class="col-md-12 form-group noPaddingLeftRight">
    <div class="col-md-6">
      <label for="password" class="control-label">{{ 'SETTINGS.NEW_PASSWORD' | translate }}</label>
      <input type="password" class="form-control" name="password" id="" ng-model="chpwd_new_password" autocomplete="off">
    </div>
  </div>
  <div class="col-md-12 form-group noPaddingLeftRight">
    <div class="col-md-6">
      <label for="password" eclass="control-label">{{ 'SETTINGS.NEW_PASSWORD_REPEAT' | translate }}</label>
      <input type="password" class="form-control" name="password" id="" ng-model="chpwd_new_password_repeat" autocomplete="off">
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 form-group noPaddingLeftRight">
    <br>
    <!--Submit button-->
    <div class="col-xs-12 col-sm-6 col-md-3">
      <button type="submit" ng-click="changepassword(chpwd_password, chpwd_new_password, chpwd_new_password_repeat)" class="btn btn-success col-xs-12 col-sm-6 col-md-12">{{ 'SETTINGS.CHANGE_PASSWORD_BUTTON' | translate }}</button>
    </div>
  </div>
</form>


<!--Account Information
<div class="accountContentBottom">
  <div class="headline"><em></em>{{ 'SETTINGS_ACCOUNT_INFORMATION' | translate }}</div>
  <input class="btn btn-success" ng-hide="debugState" ng-click="setDeugger(1)" value="{{ 'SETTINGS.DEBUG_ENABLE' | translate }}">
  <input class="btn btn-danger"  ng-show="debugState" ng-click="setDeugger(0)" value="{{ 'SETTINGS.DEBUG_DISABLE' | translate }}">
</div>-->
