<div>
  <ul class="nav nav-pills tabsMenu">
    <li role="presentation"><a href="#!/account/details" class="btn-link-menu">{{ 'SETTINGS.CHANGE_PASSWORD' | translate }}</a></li>
    <li role="presentation"><a href="#!/account/privatekey" class="btn-link-menu">{{ 'SETTINGS.PRIVATE_KEY' | translate }}</a></li>
    <li role="presentation" class="active"><a href="#!/account/export" class="btn-link-menu">{{ 'SETTINGS.EXPORT' | translate }}</a></li>
  </ul>
</div>
<!--QR Code pop-up-->
<div class="modal fade" id="showqrmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content panel">
      <div class="qrCodePopUp" id="modal_qr"></div>
      <div class="addressQRCode" id="modal_account"></div>
    </div>
  </div>
</div>
<br/>
<form class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label for="password" class="control-label">{{ 'SETTINGS_BACKUP_PASSWORD' | translate }}</label>
      <input type="password" class="form-control" name="password" id="" ng-model="password" autocomplete="off" required>
    </div>
    <div class="form-group">
      <label for="password" class="control-label">{{ 'SETTINGS.MNEMONIC_LAST_WORD' | translate }}</label>
      <input type="password" class="form-control" name="password" id="" ng-model="last_word" autocomplete="off" required>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="red"><span class="glyphicon glyphicon-warning-sign"></span> {{ 'SETTINGS.EXPORT_WARNING_KEEP_KEYFILE' | translate }}</div>
  </br>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 form-group noPaddingLeftRight">
    <!--Submit button-->
    <div class="col-xs-6 col-sm-3">
      <button type="submit" class="btn btn-success" ng-click="exportAccount(password, last_word, true)">{{ 'SETTINGS_EXPORT_ACCOUNT_BUTTON' | translate }}</button>
    </div>
    <!--Return button-->
    <div class="col-xs-6 col-sm-3">
      <button type="submit" class="btn btn-success btn-success-secondary" ng-click="exportAccount(password, last_word, false)">{{ 'SETTINGS_EXPORT_ACCOUNT_BUTTON_TO_APP' | translate }}</button>
    </div>
  </div>
</form>
