<div class="headline">{{ 'HEADLINE_ASSETS_CREATE' | translate }}</div>
<!--<div>
  <ul class="nav nav-pills tabsMenu">
    <li role="presentation"><a href="#!/asset/myassets" class="btn-link-menu">{{'ASSET_MY_ASSETS' | translate}}</a></li>
    <li role="presentation"><a href="#!/asset/all" class="btn-link-menu">{{'ASSET_ALL_ASSETS' | translate}}</a></li>
  </ul>
</div>-->
<br/>
<form>
  <div class="col-sm-6">

    <!--Form via HTML5 and SCSS-->
    <form class="form-horizontal spe-form" role="form">
      <!--Symbol-->
      <div class="form-group">
        <label for="symbol" class="control-label">{{ 'ASSET_ASSET_CREATE_SYMBOL' | translate }}</label>
        <input type="text" class="form-control uppercase" name="symbol" required placeholder="" ng-model="symbol" autocomplete="off">
      </div>
      <!--Maximum supply-->
      <div class="form-group col-xs-8 noPaddingLeftRight maxSupply">
        <label for="max_supply" class="control-label">{{ 'ASSET_ASSET_CREATE_MAX_SUPPLY' | translate }}</label>
        <input type="number" min="0" class="form-control" name="max_supply" required placeholder="" ng-model="max_supply" autocomplete="off">
      </div>
      <!--Decimals-->
      <div class="form-group col-xs-4 noPaddingLeftRight">
        <label for="decimals" class="control-label">{{ 'ASSET_ASSET_CREATE_DIGITS' | translate }}</label>
        <select type="number" class="form-control" name="decimals" required placeholder="" required ng-model="decimals">
          <option value=""></option>
          <option value="0">0</option>
          <option value="1" ng-show="max_supply<=1000000000000000000">1</option>
          <option value="2" ng-show="max_supply<=100000000000000000">2</option>
          <option value="3" ng-show="max_supply<=10000000000000000">3</option>
          <option value="4" ng-show="max_supply<=1000000000000000">4</option>
          <option value="5" ng-show="max_supply<=100000000000000">5</option>
          <option value="6" ng-show="max_supply<=10000000000000">6</option>
          <option value="7" ng-show="max_supply<=1000000000000">7</option>
          <option value="8" ng-show="max_supply<=100000000000">8</option>
        </select>
      </div>
      <!--Secondary Offering-->
      <!--<div class="form-group">
        <label for="second_offering" class="control-label">{{ 'ASSET_ASSET_CREATE_SECONDARY_OFFERING' | translate }}</label>
        <select type="text" min="0" class="form-control" name="secondary_offering" placeholder="" ng-model="secondary_offering" autocomplete="off">
          <option value="0">0 %</option>
          <option ng-repeat="n in range(51,100)" value="{{n}}11">{{n}} %</option>
        </select>
      </div>-->
      <!--Description-->
      <div class="form-group">
        <label for="description" class="control-label">{{ 'ASSET_ASSET_CREATE_DESCRIPTION' | translate }}</label>
        <textarea class="form-control" name="description" required rows="6" cols="35" ng-model="description" autocomplete="off"></textarea>
      </div>
      <!--Password-->
      <div class="form-group ddeg4">
        <label for="password" class="control-label">{{ 'ASSET_ASSET_CREATE_PASSWORD' | translate }}</label>
        <input type="password" class="form-control" name="password" placeholder="" required ng-class="{ 'border-danger' : (error.password && password)}" ng-model="password" autocomplete="new-password">
      </div>
      <br/>
      <div class="creatAssetBtnbox">
        <input type="submit" class="btn btn-success" ng-click="createasset()" value="{{ 'ASSET_ASSET_CREATE_SUBMIT_BUTTON' | translate }}">
      </div>
    </form>
  </div>
</form>


<script type="text/ng-template" id="templateId">
  <h2 class="center">
    {{ 'ASSET_CREATE_SUCCESS_TITLE' | translate }}
  </h2>
  <div class="it-list">
    {{ 'ASSET_CREATE_SUCCESS_TEXT1' | translate }}
  </div>
  <div class="consume_bit it-list">
    {{ 'ASSET_CREATE_SUCCESS_TEXT01' | translate }} <span class="consume_bit-num">{{ 'ASSET_CREATE_SUCCESS_TEXT02' | translate }}</span>
  </div>
  <div class="it-list">
    {{ 'ASSET_CREATE_SUCCESS_TEXT3' | translate }}
  </div>
  <div class="popupButtons">
    <button class="btn btn-link-red createAssetPopupButtons col-xs-6" ng-click="closeAll()">
      <a href="#!/asset/myassets">{{ 'ASSET_CREATE_SUCCESS_CANCEL_BUTTON' | translate }}</a>
    </button>
    <button class="btn btn-success createAssetPopupButtons col-xs-6" ng-click="issue(symbol);closeAll()">
      {{ 'ASSET_CREATE_SUCCESS_ISSUE_NOW' | translate }}
    </button>
  </div>
</script>
