<!--Display one specific Asset-->
<div class="headline">{{asset.symbol}}</div>

<table class="assetDetailsTable">
  <div class="col-lg-6 col-md-12">
    <div class="assetDetailsPanel panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{'ASSET_ASSET_DETAILS_GENERAL_INFO' | translate}}</h3>
      </div>
      <div class="panel-body">
        <div class="col-xs-12 noPaddingLeftRight assetDataLine">
          <div class="assetDataColumn col-xs-4 noPaddingLeftRight">{{'ASSET_ASSET_CREATE_MAX_SUPPLY' | translate}}</div>
          <div class="assetValueColumn col-xs-8 noPaddingLeftRight">{{assetOriginal + assetSecondaryIssue | assetformat : asset.decimal_number}}</div>
        </div>
        <div ng-show="assetSecondaryIssue != 0" class="col-xs-12 noPaddingLeftRight assetDataLine">
          <div class="assetDataColumn col-xs-4 noPaddingLeftRight">{{'ASSET_ALL.INITIAL_MAX_SUPPLY' | translate}}</div>
          <div class="assetValueColumn col-xs-8 noPaddingLeftRight">{{assetOriginal | assetformat : asset.decimal_number}}</div>
        </div>
        <div ng-show="assetSecondaryIssue != 0" class="col-xs-12 noPaddingLeftRight assetDataLine">
          <div class="assetDataColumn col-xs-4 noPaddingLeftRight">{{'ASSET_ALL.ADDED_VIA_SECONDARY_ISSUE' | translate}}</div>
          <div class="assetValueColumn col-xs-8 noPaddingLeftRight">{{assetSecondaryIssue | assetformat : asset.decimal_number}}</div>
        </div>
        <div class="col-xs-12 noPaddingLeftRight assetDataLine">
          <div class="assetDataColumn col-xs-4 noPaddingLeftRight">{{'ASSET_CREATE.SECONDARY_ISSUE' | translate}}</div>
          <div ng-hide="asset.secondaryissue_threshold == 127" class="assetValueColumn col-xs-4 noPaddingLeftRight">{{asset.secondaryissue_threshold}} %</div>
          <div ng-show="asset.secondaryissue_threshold == 127" class="assetValueColumn col-xs-4 noPaddingLeftRight">{{'ASSET_CREATE.SECONDARY_ISSUE_UNLIMITED' | translate}}</div>
          <div class="sendAssetButton col-xs-4 noPaddingLeftRight assetDetailsBoxButton" ng-show="asset.status=='issued'">
            <a href="#!/asset/secondaryissue/{{asset.symbol}}">
              <button ng-hide="asset.secondaryissue_threshold == '0'" class="btn btn-success smallButton assetBoxButton">{{'ASSET_CREATE.SECONDARY_ISSUE_BUTTON' | translate}}</button>
              <button ng-show="asset.secondaryissue_threshold == '0'" class="btn btn-success smallButton assetBoxButton" ng-disabled="true" bs-tooltip data-placement="top" title="{{ 'HELP.SECONDARY_ISSUE_BUTTON_DISABLED' | translate }}">{{'ASSET_CREATE.SECONDARY_ISSUE_BUTTON' | translate}}</button>
            </a>
          </div>
        </div>
        <div class="col-xs-12 noPaddingLeftRight assetDataLine">
          <div class="assetDataColumn col-xs-4 noPaddingLeftRight">{{'ASSET_ASSET_DETAILS_DIGITS' | translate}}</div>
          <div class="assetValueColumn col-xs-8 noPaddingLeftRight">{{asset.decimal_number}}</div>
        </div>
        <div class="col-xs-12 noPaddingLeftRight assetDataLine">
          <div class="assetDataColumn col-xs-4 noPaddingLeftRight">{{'ASSET_ASSET_CREATE_DESCRIPTION' | translate}}</div>
          <div class="assetValueColumn col-xs-8 noPaddingLeftRight">{{asset.description}}</div>
        </div>
        <div class="col-xs-12 noPaddingLeftRight assetDataLine">
          <div class="assetDataColumn col-xs-4 noPaddingLeftRight">{{'STATUS' | translate}}</div>
          <div ng-show="asset.status == 'unissued'" class="assetValueColumn col-xs-8 noPaddingLeftRight">{{ 'ASSET.STATUS_UNISSUED' | translate }}</div>
          <div ng-show="asset.status == 'issued'" class="assetValueColumn col-xs-8 noPaddingLeftRight">{{ 'ASSET.STATUS_ISSUED' | translate }}</div>
          <div ng-show="asset.status == 'unspent'" class="assetValueColumn col-xs-8 noPaddingLeftRight">{{ 'ASSET.STATUS_UNSPENT' | translate }}</div>
          <div ng-hide="asset.status == 'unissued' || asset.status == 'issued' || asset.status == 'unspent'" class="assetValueColumn col-xs-8 noPaddingLeftRight">{{asset.status}}</div>
        </div>
        <div class="col-xs-12 noPaddingLeftRight assetDataLine">
          <div class="assetDataColumn col-xs-4 noPaddingLeftRight">{{'ISSUER' | translate}}</div>
          <div class="assetValueColumn col-xs-8 noPaddingLeftRight">{{asset.issuer}}</div>
        </div>
        <div class="col-xs-12 noPaddingLeftRight assetDataLine">
          <div class="assetDataColumn col-xs-4 noPaddingLeftRight">{{'ADDRESS_OF_CREATOR' | translate}}</div>
          <div class="assetValueColumn col-xs-8 noPaddingLeftRight">{{asset.address}}</div>
        </div>
      </div>
    </div>
  </div>
  <!--My asset-->
  <div class="col-lg-6 col-md-12">
    <div class="assetDetailsPanel panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{'ASSET_ASSET_DETAILS_MY_INFO' | translate}}{{asset.symbol}}</h3>
      </div>
      <div class="panel-body">
        <div class="col-xs-12 noPaddingLeftRight assetDataLine">
          <div class="assetDataColumn col-xs-4 noPaddingLeftRight">{{'BALANCE' | translate}}</div>
          <div class="assetValueColumn col-xs-4 noPaddingLeftRight" ng-show="myAsset.quantity != undefined">{{myAsset.quantity | assetformat : myAsset.decimal_number}}</div>
          <div class="assetValueColumn col-xs-4 noPaddingLeftRight" ng-hide="myAsset.quantity != undefined">0</div>
          <div class="sendAssetButton col-xs-4 noPaddingLeftRight assetDetailsBoxButton" ng-show="asset.status=='issued'">
            <a href="#!/transfer/asset/{{asset.symbol}}">
              <button class="btn btn-success smallButton assetBoxButton">{{'ASSETS_SEND' | translate}}</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</table>

<!--QR Code pop-up-->
<div class="modal fade" id="showqrmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content panel">
      <div class="qrCodePopUp" id="modal_qr"></div>
      <div class="addressQRCode" id="modal_address"></div>
    </div>
  </div>
</div>

<!--Display all the adresses having this Asset-->
<div dir-paginate="address in assetAddresses | orderBy:'quantity':true | itemsPerPage: 10" ng-hide="(asset.quantity == 0)">
  <dd class="assetBoxAdd assetBox col-xs-12 col-sm-12 col-md-12" >
    <div class="assetBoxBalance col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
      <!--Display editable name of the address-->
      <div ng-show="myDidsAddresses[address.address]" class="addressBoxName" readonly="true" id="editAddressName">
        <a href="#!/avatar/myavatars/{{myDidsAddresses[address.address]}}" class="btn-link-black">{{myDidsAddresses[address.address]}}
          <span class="fa fa-user"></span>
        </a>
      </div>
      <!--Display editable name of the address-->
      <div ng-hide="address.edit || myDidsAddresses[address.address]">
        <span class="addressBoxName" readonly="true" id="editAddressName">{{address.name}}</span>
        <button class="fa fa-edit editAddressNameButton" bs-tooltip data-placement="top" title="{{ 'ADDRESSES_TOOLTIP_EDIT_NAME' | translate }}" ng-click="enableEditAddressName(address.address)"></button>
      </div>
      <!--Display while editing-->
      <div class="input-group" ng-show="address.edit">
        <input type="text" ng-model="address.newName" class="form-control addressBoxNameUpdate" id="editAddressNameEditing" maxlength="40" ng-keyup="$event.keyCode == 13 && endEditAddressName(address.address, address.newName)">
        <span class="input-group-addon editAddressName">
          <button class="glyphicon glyphicon-floppy-saved editAddressNameButtonEditing" ng-click="endEditAddressName(address.address, address.newName)"></button>
        </span>
        <span class="input-group-addon editAddressName">
          <button class="glyphicon glyphicon-remove editAddressNameButtonEditing" ng-click="cancelEditAddressName(address.address)"></button>
        </span>
      </div>
      <a href="#!/explorer/adr/{{address.address}}" class="btn-link-black col-xs-12 noPaddingLeftRight addressBoxAddressDeposit overflow">{{address.address}}</a>
    </div>

    <div class="assetBoxBalance col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 noPaddingLeftRight">
      <div class="assetBoxTitle">{{ 'BALANCE' | translate }}</div>
      <div class="assetBoxValue col-xd-12 noPaddingLeftRight overflow">{{address.quantity | assetformat : asset.decimal_number}}</div>
    </div>
    <div class="assetBoxFrozen col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 noPaddingLeftRight">
      <div class="assetBoxTitle">{{ 'FROZEN' | translate}}</div>
      <div class="assetBoxValue col-xd-12 noPaddingLeftRight">{{address.locked_quantity | assetformat : asset.decimal_number}}</div>
    </div>
    <div class="assetBoxCopy col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 noPaddingLeftRight">
      <span class="copyAddress">
        <button class="btn btn-link-black addressLinkButton" bs-popover data-clipboard-text="{{address.address}}" data-toggle="popover" data-placement="top" data-content="{{ 'ADDRESSES_POPOVER_COPIED' | translate }}" role="button">
          <span class="glyphicon"></span> {{ 'ADDRESSES_COPY_ADDRESS' | translate }}
        </button>
      </span>
    </div>
    <div class="assetBoxCopy col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 noPaddingLeftRight">
      <span class="qrCode">
        <button id="element" class="btn btn-link-black addressLinkButton" ng-click="showqr(address.address)" alt="receive">
          <span class="glyphicon glyphicon-qrcode"></span> {{ 'ADDRESSES_QR_CODE' | translate }}
        </button>
      </span>
    </div>
    <span class="addressIndex" bs-tooltip data-placement="left" title="{{ 'HELP.ADDRESS_INDEX' | translate }}">{{addressIndex[address.address]}}</span>
  </dd>
</div>

<!--Pagination-->
<div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5 col-xl-offset-5">
  <dir-pagination-controls></dir-pagination-controls>
</div>
