<!--Display one specific Asset-->

  <div class="headline">{{ 'HEADLINE_ASSETS_DETAILS' | translate }}</div>
  <div>
    <ul class="nav nav-pills tabsMenu">
      <li role="presentation"><a href="#!/asset/myassets" class="btn-link-menu">{{'ASSET_MY_ASSETS' | translate}}</a></li>
      <li role="presentation"><a href="#!/asset/all" class="btn-link-menu">{{'ASSET_ALL_ASSETS' | translate}}</a></li>
    </ul>
  </div>
  <br/>
  <h2 class="currentAsset">{{asset.symbol}}</h2>
  <table>
    <thead>
      <tr>
        <th class="assetEmptyColumn"></th>
        <th class="assetDataColumn"></th>
        <th class="assetValueColumn"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="row">
        <td class="assetDataColumn">{{'BALANCE' | translate}}:</td>
        <td class="assetValueColumn" ng-show="asset.quantity != undefined">{{asset.quantity | assetformat : asset.decimal_number}}</td>
        <td class="assetValueColumn" ng-hide="asset.quantity != undefined">0</td>
      </tr>
      <tr class="row">
        <td class="assetDataColumn">{{'ASSET_ASSET_CREATE_MAX_SUPPLY' | translate}}:</td>
        <td class="assetValueColumn">
          <!--Display the maximum supply-->
          <span>{{current_maximum_supply}}</span>
          <button ng-show="owner && asset.status=='issued'" class="glyphicon glyphicon-plus-sign editAddressNameButton" bs-tooltip data-placement="top" title="{{ 'ASSET_ASSET_DETAILS_TOOLTIP_INCREASE_SUPPLY' | translate }}" ng-click="enableEditAssetMaxSupply()"></button>
          <span ng-show="increase_maximum_supply != 0 && !editMaxSupply">{{increase_maximum_supply}}</span>
          <!--Display while editing-->
          <div class=" editMaxSupplyBox">
          <span class="input-group" ng-show="editMaxSupply">
            <input type="number" ng-model="increase_maximum_supply" class="form-control maxSupplyUpdateTextBox" min="0" ng-keyup="$event.keyCode == 13 && endEditAssetMaxSupply(new_maximum_supply)">
            <span class="input-group-addon editAddressName">
              <button class="glyphicon glyphicon-floppy-saved editAddressNameButtonEditing" ng-click="endEditAssetMaxSupply()"></button>
            </span>
            <span class="input-group-addon editAddressName">
              <button class="glyphicon glyphicon-remove editAddressNameButtonEditing" ng-click="cancelEditAssetMaxSupply()"></button>
            </span>
          </span>
        </div>
        </td>
      </tr>
      <tr class="row">
        <td class="assetDataColumn">{{'ASSET_ASSET_CREATE_SECONDARY_OFFERING' | translate}}:</td>
        <td class="assetValueColumn">{{asset.secondissue_assetshare_threshold}}</td>
      </tr>
      <tr class="row">
        <td class="assetDataColumn">{{'ASSET_ASSET_CREATE_DIGITS' | translate}}:</td>
        <td class="assetValueColumn">{{asset.decimal_number}}</td>
      </tr>
      <tr class="row">
        <td class="assetDataColumn">{{'ISSUER' | translate}}:</td>
        <td class="assetValueColumn">{{asset.issuer}}</td>
      </tr>
      <tr class="row">
        <td class="assetDataColumn">{{'ASSET_ASSET_CREATE_DESCRIPTION' | translate}}:</td>
        <td class="assetValueColumn">{{asset.description}}</td>
      </tr>
      <tr class="row">
        <td class="assetDataColumn">{{'STATUS' | translate}}:</td>
        <td class="assetValueColumn">{{asset.status}}</td>
      </tr>
      <tr class="row">
        <td class="assetDataColumn">{{'ADDRESS' | translate}}:</td>
        <td class="assetValueColumn">{{asset.address}}</td>
      </tr>
    </tody>
  </table>
  <br/>
  <br/>
  <div ng-show="asset.status=='unissued'" class="col-xs-12 col-sm-6 col-md-4">
    <a class="col-xs-6 col-xl-6" href="" ng-click="issue(asset.symbol)"><div class="btn btn-info">{{'ASSET_ISSUE' | translate}}</div></a>
    <a class="col-xs-6 col-xl-6" href="#!/asset/details/" ng-click="deleteAsset()"><div class="btn btn-danger">{{'ASSET_DELETE_ASSET' | translate}}</div></a>
  </div>
  <div ng-show="asset.status=='issued'" class="col-xs-12 col-sm-6 col-md-4">
    <a ng-hide="(increase_maximum_supply != 0)" class="col-xs-6 col-xl-6" href="#!/transfer/{{asset.symbol}}/"><input class="btn btn-info" value="{{'TRANSFER_SEND' | translate}}"></a>
    <a ng-hide="(increase_maximum_supply != 0)" class="col-xs-6 col-xl-6" href="#!/asset/myassets"><input class="btn btn-link" value="{{'TRANSFER_BACK_ASSETS' | translate}}"></a>
    <a ng-show="(increase_maximum_supply != 0)" class="col-xs-6 col-xl-6" ng-click="secondIssue(asset.symbol, increase_maximum_supply, asset.decimal_number)"><input type="button" class="btn btn-success" value="{{'ASSET_ASSET_DETAILS_SUBMIT' | translate}}"></a>
    <a ng-show="(increase_maximum_supply != 0)" class="col-xs-6 col-xl-6" href="#!/asset/myassets"><input class="btn btn-link" value="{{'ASSET_ASSET_DETAILS_CANCEL' | translate}}"></a>
  </div>
