<!--Display one specific Asset-->

  <!--<div class="headline">{{ 'HEADLINE_ASSETS_DETAILS' | translate }}</div>
  <div>
    <ul class="nav nav-pills tabsMenu">
      <li role="presentation"><a href="#!/asset/myassets" class="btn-link-menu">{{'ASSET_MY_ASSETS' | translate}}</a></li>
      <li role="presentation"><a href="#!/asset/all" class="btn-link-menu">{{'ASSET_ALL_ASSETS' | translate}}</a></li>
    </ul>
  </div>
  <br/>-->
  <div class="headline">{{asset.symbol}}</div>
  <table>
    <thead>
      <tr>
        <th class="assetEmptyColumn"></th>
        <th class="assetDataColumn"></th>
        <th class="assetValueColumn"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="row">
        <td class="assetDataColumn">{{'BALANCE' | translate}}</td>
        <td class="assetValueColumn" ng-show="asset.quantity != undefined">{{asset.quantity | assetformat : asset.decimal_number}}</td>
        <td class="assetValueColumn" ng-hide="asset.quantity != undefined">0</td>
      </tr>
      <tr class="row">
        <td class="assetDataColumn col-md-3 noPaddingLeftRight">{{'ASSET_ASSET_CREATE_MAX_SUPPLY' | translate}}</td>
        <td class="assetValueColumn col-md-3 noPaddingLeftRight">
          <!--Display the maximum supply-->
          <span>{{current_maximum_supply}}</span>
          <!--Secondary Offering-->
          <!--<button ng-show="owner && asset.status=='issued'" class="glyphicon glyphicon-plus-sign editAddressNameButton" bs-tooltip data-placement="top" title="{{ 'ASSET_ASSET_DETAILS_TOOLTIP_INCREASE_SUPPLY' | translate }}" ng-click="enableEditAssetMaxSupply()"></button>
          <span ng-show="increase_maximum_supply != 0 && !editMaxSupply">{{increase_maximum_supply}}</span>-->
          <!--Display while editing-->
          <!--<div class=" editMaxSupplyBox">
            <span class="input-group" ng-show="editMaxSupply">
              <input type="number" ng-model="increase_maximum_supply" class="form-control maxSupplyUpdateTextBox" min="0" ng-keyup="$event.keyCode == 13 && endEditAssetMaxSupply(new_maximum_supply)">
              <span class="input-group-addon editAddressName">
                <button class="glyphicon glyphicon-floppy-saved editAddressNameButtonEditing" ng-click="endEditAssetMaxSupply()"></button>
              </span>
              <span class="input-group-addon editAddressName">
                <button class="glyphicon glyphicon-remove editAddressNameButtonEditing" ng-click="cancelEditAssetMaxSupply()"></button>
              </span>
            </span>
          </div>-->
        </td>
        <!--Validation Secondary issuing button-->
        <!--<td class="sendAssetButton col-md-6">
          <a ng-show="(increase_maximum_supply != 0)" ng-click="secondIssue(asset.symbol, increase_maximum_supply, asset.decimal_number)">
            <button class="btn btn-success smallButton">{{'ASSET_ASSET_DETAILS_SUBMIT' | translate}}</button>
          </a>
        </td>-->
      </tr>
      <!--<tr class="row">
        <td class="assetDataColumn">{{'ASSET_ASSET_CREATE_SECONDARY_OFFERING' | translate}}</td>
        <td class="assetValueColumn">{{asset.secondissue_assetshare_threshold}}</td>
      </tr>-->
      <tr class="row">
        <td class="assetDataColumn">{{'ASSET_ASSET_CREATE_DIGITS' | translate}}</td>
        <td class="assetValueColumn">{{asset.decimal_number}}</td>
      </tr>
      <tr class="row">
        <td class="assetDataColumn">{{'ISSUER' | translate}}</td>
        <td class="assetValueColumn">{{asset.issuer}}</td>
      </tr>
      <tr class="row">
        <td class="assetDataColumn">{{'ASSET_ASSET_CREATE_DESCRIPTION' | translate}}</td>
        <td class="assetValueColumn">{{asset.description}}</td>
      </tr>
      <tr class="row">
        <td class="assetDataColumn">{{'STATUS' | translate}}</td>
        <td class="assetValueColumn">{{asset.status}}</td>
      </tr>
      <tr class="row">
        <td class="assetDataColumn col-md-3 noPaddingLeftRight">{{'ADDRESS' | translate}}</td>
        <td class="assetValueColumn col-md-3 noPaddingLeftRight">{{asset.address}}</td>
        <td class="sendAssetButton col-md-6" ng-show="asset.status=='issued'">
          <a href="#!/transfer/{{asset.symbol}}/">
            <button class="btn btn-success smallButton">{{'TRANSFER_SEND' | translate}}</button>
          </a>
        </td>
      </tr>
    </tody>
  </table>
  <br/>
  <br/>
  <div ng-show="asset.status=='unissued'" class="col-xs-12 col-sm-6 col-md-4">
    <a class="col-xs-6 col-xl-6" href="" ng-click="issue(asset.symbol)"><div class="btn btn-info">{{'ASSET_ISSUE' | translate}}</div></a>
    <a class="col-xs-6 col-xl-6" href="" ng-click="deleteAsset(asset.symbol)"><div class="btn btn-danger">{{'ASSET_DELETE_ASSET' | translate}}</div></a>
  </div>
  <div ng-show="asset.status=='issued'" class="col-xs-12 col-sm-6 col-md-4">
    <!--<a ng-hide="(increase_maximum_supply != 0)" class="col-xs-6 col-xl-6" href="#!/transfer/{{asset.symbol}}/"><input class="btn btn-info" value="{{'TRANSFER_SEND' | translate}}"></a>-->
    <!--<a ng-hide="(increase_maximum_supply != 0)" class="col-xs-6 col-xl-6" href="#!/asset/myassets"><input class="btn btn-link" value="{{'TRANSFER_BACK_ASSETS' | translate}}"></a>-->
    <!--<a ng-show="(increase_maximum_supply != 0)" class="col-xs-6 col-xl-6" ng-click="secondIssue(asset.symbol, increase_maximum_supply, asset.decimal_number)"><input type="button" class="btn btn-success" value="{{'ASSET_ASSET_DETAILS_SUBMIT' | translate}}"></a>-->
    <!--<a ng-show="(increase_maximum_supply != 0)" class="col-xs-6 col-xl-6" href="#!/asset/myassets"><input class="btn btn-link" value="{{'ASSET_ASSET_DETAILS_CANCEL' | translate}}"></a>-->
  </div>

  <!--QR Code pop-up-->
  <div class="modal fade" id="showqrmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content panel">
        <div class="qrCodePopUp" id="modal_qr"></div>
        <div class="addressQRCode" id="modal_address"></div>
      </div>
    </div>
  </div>

  <!--Display all the adresses having this Asset-->
  <div dir-paginate="asset in assetAddresses | orderBy:'quantity':true | itemsPerPage: 10" ng-hide="(asset.quantity == 0)">
    <dd class="assetBox col-xs-12 col-sm-12 col-md-12" >
      <div class="assetBoxBalance col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <!--Display editable name of the address-->
        <div ng-hide="asset.edit">
          <span class="addressBoxName" readonly="true" id="editAddressName">{{asset.name}}</span>
          <button class="fa fa-edit editAddressNameButton" bs-tooltip data-placement="top" title="{{ 'ADDRESSES_TOOLTIP_EDIT_NAME' | translate }}" ng-click="enableEditAddressName(asset.address)"></button>
        </div>
        <!--Display while editing-->
        <div class="input-group" ng-show="asset.edit">
          <input type="text" ng-model="asset.newName" class="form-control addressBoxNameUpdate" id="editAddressNameEditing" maxlength="40" ng-keyup="$event.keyCode == 13 && endEditAddressName(asset.address, asset.newName)">
          <span class="input-group-addon editAddressName">
            <button class="glyphicon glyphicon-floppy-saved editAddressNameButtonEditing" ng-click="endEditAddressName(asset.address, asset.newName)"></button>
          </span>
          <span class="input-group-addon editAddressName">
            <button class="glyphicon glyphicon-remove editAddressNameButtonEditing" ng-click="cancelEditAddressName(asset.address)"></button>
          </span>
        </div>

        <span class="col-xs-12 noPaddingLeftRight addressBoxAddressDeposit overflow">{{asset.address}}</span>

      </div>
      <div class="assetBoxBalance col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 noPaddingLeftRight">
        <div class="assetBoxTitle">{{ 'BALANCE' | translate }}</div>
        <div class="assetBoxValue overflow">{{asset.quantity | assetformat : asset.decimal_number}}</div>
      </div>
      <div class="assetBoxCopy col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 noPaddingLeftRight">
        <span class="copyAddress">
          <button class="btn btn-link-black addressLinkButton" bs-popover data-clipboard-text="{{asset.address}}" data-toggle="popover" data-placement="top" data-content="{{ 'ADDRESSES_POPOVER_COPIED' | translate }}" role="button">
            <!--<span class="glyphicon glyphicon-copy">-->
            </span> {{ 'ADDRESSES_COPY_ADDRESS' | translate }}
          </button>
        </span>
      </div>
      <div class="assetBoxCopy col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 noPaddingLeftRight">
        <span class="qrCode">
          <button id="element" class="btn btn-link-black addressLinkButton" ng-click="showqr(asset.address)" alt="receive">
            <span class="glyphicon glyphicon-qrcode"></span> {{ 'ADDRESSES_QR_CODE' | translate }}
          </button>
        </span>
      </div>
    </dd>
  </div>

  <!--Pagination-->
  <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5 col-xl-offset-5">
    <dir-pagination-controls></dir-pagination-controls>
  </div>
