<div class="headline">{{symbol}}</div>
<div>
  <ul class="nav nav-pills tabsMenu">
    <li role="presentation" class="active"><a class="btn-link-menu">{{ 'SECONDARY_ISSUE.SECONDARY_ISSUE' | translate }}</a></li>
  </ul>
</div>
<div class="row">
  <br/>
  <form ng-hide="confirmation">
    <div class="col-xs-12 col-sm-6">
      <!--Sender-->
      <div class="form-group">
        <label for="addressFrom" class="control-label">{{ 'SECONDARY_ISSUE.TO_AVATAR' | translate }}</label>
        <span class="fa fa-question-circle help-tooltip" bs-tooltip data-placement="top" title="{{ 'HELP.SECONDARY_ISSUE_AVATAR' | translate }}"></span>
        <select name="addressFrom" type="address" class="form-control" placeholder="" ng-model="address" ng-change="availBalance(address)" ng-class="{validInput: !error.address_empty && !error.address_not_enough_etp && !error.address_not_enough_asset, wrongInput: error.address_empty || error.address_not_enough_etp || error.address_not_enough_asset}">
          <option ng-repeat="oneAddress in listAddresses | orderBy:'available':true" value="{{oneAddress.address}}" ng-if="myDidsAddresses[oneAddress.address]">{{myDidsAddresses[oneAddress.address]}} - {{oneAddress.address}} - {{getAssetBalance[oneAddress.address] | assetformat : myAsset.decimal_number}} {{myAsset.symbol}}</option>
        </select>
        <div ng-show="error.address_not_enough_etp" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'SECONDARY_ISSUE.RECIPIENT_NOT_ENOUGH_ETP' | translate }}</div>
        <div ng-show="error.address_not_enough_asset" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'SECONDARY_ISSUE.RECIPIENT_NOT_ENOUGH_ASSET' | translate }}</div>
      </div>
      <!--Quantity-->
      <div class="form-group">
        <label for="quantity" class="control-label">{{ 'SECONDARY_ISSUE.QUANTITY' | translate }}</label>
        <span class="fa fa-question-circle help-tooltip" bs-tooltip data-placement="top" title="{{ 'HELP.SECONDARY_ISSUE_QUANTITY' | translate }}"></span>
        <input type="number" placeholder="0" class="form-control" name="quantity" id="" ng-model="quantity" ng-class="{validInput: !error.quantity, wrongInput: error.quantity}" ng-change="updateQuantity(quantity)">
      </div>
      <!--Appear when an amount and a period are selected, display the profits-->
      <div class="form-group">
        <div>
          {{ 'SECONDARY_ISSUE.CURRENT_MAX_SUPPLY' | translate }}: {{assetOriginal + assetSecondaryIssue | assetformat : myAsset.decimal_number}}
        </div>

        <div>
          {{ 'SECONDARY_ISSUE.NEW_MAX_SUPPLY' | translate }}: {{toTxConvertedQuantity + assetOriginal + assetSecondaryIssue | assetformat : myAsset.decimal_number}}
        </div>
      </div>
      <!--Model-->
      <div class="form-group">
        <label for="model" class="control-label">{{ 'SECONDARY_ISSUE.TYPE' | translate }}</label>
        <select name="model" type="model" class="form-control" placeholder="" ng-model="model" ng-class="{validInput: !error.model, wrongInput: error.model}">
          <option value="">{{ 'SECONDARY_ISSUE.TYPE_DEFAULT' | translate }}</option>
          <option value="1">{{ 'SECONDARY_ISSUE.TYPE_1' | translate }}</option>
          <option value="2">{{ 'SECONDARY_ISSUE.TYPE_2' | translate }}</option>
        </select>
      </div>
      <!--Type 1-->
      <div ng-show="model == 1 || model == 2">
        <!--UN-->
        <div class="form-group">
          <label for="unlockNumber" class="control-label">{{ 'SECONDARY_ISSUE.UNLOCK_NUMBER' | translate }}</label>
          <span class="fa fa-question-circle help-tooltip" bs-tooltip data-placement="top" title="{{ 'HELP.SECONDARY_ISSUE_UNLOCK_NUMBER' | translate }}"></span>
          <input type="number" placeholder="0" step="1" class="form-control" name="unlockNumber" id="" ng-model="unlockNumber" ng-change="updateUnlockNumber(unlockNumber)">
          <div ng-show="model == 2 && unlockNumber > 100" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'SECONDARY_ISSUE.MODEL2_MAX_UNLOCK_NUMBER_100' | translate }}</div>
        </div>
        <!--LQ-->
        <div class="form-group">
          <label for="quantityLocked" class="control-label">{{ 'SECONDARY_ISSUE.TOTAL_LOCKED_QUANTITY' | translate }}</label>
          <span class="fa fa-question-circle help-tooltip" bs-tooltip data-placement="top" title="{{ 'HELP.SECONDARY_ISSUE_TOTAL_LOCKED_QUANTITY' | translate }}"></span>
          <input type="number" placeholder="0" class="form-control" name="quantityLocked" id="" ng-model="quantityLocked">
        </div>
        <!--LP-->
        <div class="form-group">
          <label for="periodLocked" class="control-label">{{ 'SECONDARY_ISSUE.TOTAL_LOCKED_PERIOD' | translate }}</label>
          <span class="fa fa-question-circle help-tooltip" bs-tooltip data-placement="top" title="{{ 'HELP.SECONDARY_ISSUE_TOTAL_LOCKED_PERIOD' | translate }}"></span>
          <input type="number" placeholder="0" step="1" class="form-control" name="periodLocked" id="" ng-model="periodLocked">
        </div>
      </div>
      <div ng-show="model == 2" ng-repeat="period in model2 | limitTo:model2Displayed">
        <!--LP-->
        <div class="form-group">
          <label for="model2quantity" class="control-label">{{ 'SECONDARY_ISSUE.MODEL2_QUANTITY' | translate }}{{period.index+1}}</label>
          <span class="fa fa-question-circle help-tooltip" bs-tooltip data-placement="top" title="{{ 'HELP.SECONDARY_ISSUE_MODEL2_QUANTITY' | translate }}{{period.index+1}}"></span>
          <input type="number" placeholder="0" class="form-control" name="model2quantity" id="" ng-model="period.quantity">
        </div>
        <!--LP-->
        <div class="form-group">
          <label for="periodLocked" class="control-label">{{ 'SECONDARY_ISSUE.MODEL2_PERIOD' | translate }}{{period.index+1}}</label>
          <span class="fa fa-question-circle help-tooltip" bs-tooltip data-placement="top" title="{{ 'HELP.SECONDARY_ISSUE_MODEL2_PERIOD' | translate }}{{period.index+1}}"></span>
          <input type="number" placeholder="0" step="1" class="form-control" name="fee" id="" ng-model="period.number">
        </div>
      </div>
      <!--Fee-->
      <div class="form-group">
        <label for="fee" class="control-label">{{ 'TRANSFER_FEE' | translate }}</label>
        <input type="number" step="0.00000001" class="form-control" name="fee" id="" ng-model="transactionFee" ng-class="{validInput: !error.fee_empty && !error.fee_too_low, wrongInput: error.fee_empty || error.fee_too_low}">
        <div ng-show="error.fee_too_low" class="wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'MESSAGES.TOO_LOW_FEE' | translate }}</div>
      </div>
      <!--Buttons-->
      <div class="row">
        <br>
        <div class="col-xs-6">
          <input type="submit" ng-click="checkInputs(address, unlockNumber, model2, password)" value="{{ 'SECONDARY_ISSUE_BUTTON' | translate }}" class="btn btn-success" ng-disabled="!submittable">
        </div>
        <div class="col-xs-6">
          <a href="#!/asset/myassets" class="btn btn-success btn-success-secondary">{{ 'TRANSFER_BACK_ASSETS' | translate }}</a>
        </div>
      </div>
    </div>
    <!--Secondary Issue explanation-->
    <div class="col-xs-12 col-sm-6">
      <div class="assetDetailsPanel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'SECONDARY_ISSUE.REQUIREMENT_TITLE' | translate}}</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.REQUIREMENT_OWN_CERT' | translate }}</div>
            <div ng-show="!myCertsLoaded" class="assetDataColumn col-xs-6 noPaddingLeftRight"><span class="mediumSpinner"></span></div>
            <div ng-show="myCertsLoaded && issueCertOwner" class="assetDataColumn col-xs-6 noPaddingLeftRight correctInputComment"><span class="glyphicon glyphicon-ok"></span> {{ 'SECONDARY_ISSUE.REQUIREMENT_OWN_CERT_OK' | translate }}</div>
            <div ng-show="myCertsLoaded && !issueCertOwner" class="assetDataColumn col-xs-6 noPaddingLeftRight wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'SECONDARY_ISSUE.REQUIREMENT_OWN_CERT_KO' | translate }}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div ng-show="myAsset.secondaryissue_threshold != 127" class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.REQUIREMENT_PERCENTAGE' | translate }}: {{myAsset.secondaryissue_threshold}}%</div>
            <div ng-show="myAsset.secondaryissue_threshold == 127" class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.REQUIREMENT_PERCENTAGE' | translate }}: {{ 'ASSET_CREATE.SECONDARY_ISSUE_UNLIMITED' | translate }}</div>
            <div ng-show="myAsset.secondaryissue_threshold == 0" class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.REQUIREMENT_PERCENTAGE' | translate }}: {{ 'ASSET_CREATE.SECONDARY_ISSUE_DISABLED' | translate }}</div>
            <div ng-show="!balancesLoaded" class="assetDataColumn col-xs-6 noPaddingLeftRight"><span class="mediumSpinner"></span></div>
            <div ng-show="balancesLoaded && myAsset.secondaryissue_threshold != 0 && myAsset.secondaryissue_threshold != 127 && (availableBalanceAsset/(assetOriginal + assetSecondaryIssue)*100) >= myAsset.secondaryissue_threshold" class="assetDataColumn col-xs-6 noPaddingLeftRight correctInputComment"><span class="glyphicon glyphicon-ok"></span> {{ 'SECONDARY_ISSUE.REQUIREMENT_PERCENTAGE_OK' | translate }} ({{availableBalanceAsset/(assetOriginal + assetSecondaryIssue)*100 | number : 2}}%)</div>
            <div ng-show="balancesLoaded && myAsset.secondaryissue_threshold != 0 && myAsset.secondaryissue_threshold != 127 && !((availableBalanceAsset/(assetOriginal + assetSecondaryIssue)*100) >= myAsset.secondaryissue_threshold)" class="assetDataColumn col-xs-6 noPaddingLeftRight wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'SECONDARY_ISSUE.REQUIREMENT_PERCENTAGE_KO' | translate }} ({{availableBalanceAsset/(assetOriginal + assetSecondaryIssue)*100 | number : 2}}%)</div>
            <div ng-show="balancesLoaded && myAsset.secondaryissue_threshold == 127" class="assetDataColumn col-xs-6 noPaddingLeftRight correctInputComment"><span class="glyphicon glyphicon-ok"></span> {{ 'ASSET_CREATE.SECONDARY_ISSUE_UNLIMITED' | translate }}</div>
            <div ng-show="balancesLoaded && myAsset.secondaryissue_threshold == 0"><span class="glyphicon glyphicon-remove"></span> {{ 'ASSET_CREATE.SECONDARY_ISSUE_DISABLED' | translate }}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.REQUIREMENT_FEE' | translate }}</div>
            <div ng-show="!balancesLoaded" class="assetDataColumn col-xs-6 noPaddingLeftRight"><span class="mediumSpinner"></span></div>
            <div ng-show="balancesLoaded && availableBalance >= 10000" class="assetDataColumn col-xs-6 noPaddingLeftRight correctInputComment"><span class="glyphicon glyphicon-ok"></span> {{ 'SECONDARY_ISSUE.REQUIREMENT_FEE_OK' | translate }} ({{availableBalance | assetformat : 8}} ETP)</div>
            <div ng-show="balancesLoaded && availableBalance < 10000"class="assetDataColumn col-xs-6 noPaddingLeftRight wrongInputComment"><span class="glyphicon glyphicon-remove"></span> {{ 'SECONDARY_ISSUE.REQUIREMENT_FEE_KO' | translate }}</div>
          </div>
        </div>
      </div>
      <!--Models details-->
      <div class="assetDetailsPanel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'SECONDARY_ISSUE.TYPE' | translate}}</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.TYPE_DEFAULT' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{'SECONDARY_ISSUE.EXPLANATION_TYPE_DEFAULT' | translate}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.TYPE_1' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{'SECONDARY_ISSUE.EXPLANATION_TYPE_1' | translate}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-3 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.TYPE_2' | translate }}</div>
            <div class="assetValueColumn col-xs-9 noPaddingLeftRight">{{'SECONDARY_ISSUE.EXPLANATION_TYPE_1' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form ng-show="confirmation">
    <br/>
    <div class="col-lg-6 col-md-12">
      <div class="assetDetailsPanel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'TRANSFER.CONFIRMATION_TITLE' | translate}}</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'ASSET_ASSET_CREATE_SYMBOL' | translate }}</div>
            <div class="assetValueColumn col-xs-6 noPaddingLeftRight">{{symbol}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.TO_AVATAR' | translate }}</div>
            <div class="assetValueColumn col-xs-6 noPaddingLeftRight">{{recipientAvatar}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.QUANTITY' | translate }}</div>
            <div class="assetValueColumn col-xs-6 noPaddingLeftRight">{{toTxConvertedQuantity | assetformat : myAsset.decimal_number}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.CURRENT_MAX_SUPPLY' | translate }}</div>
            <div class="assetValueColumn col-xs-6 noPaddingLeftRight">{{assetOriginal + assetSecondaryIssue | assetformat : myAsset.decimal_number}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.NEW_MAX_SUPPLY' | translate }}</div>
            <div class="assetValueColumn col-xs-6 noPaddingLeftRight">{{toTxConvertedQuantity + assetOriginal + assetSecondaryIssue | assetformat : myAsset.decimal_number}}</div>
          </div>
          <div class="col-xs-12 noPaddingLeftRight assetDataLine">
            <div class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.TYPE' | translate }}</div>
            <div ng-show="model == ''" class="assetValueColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.TYPE_DEFAULT' | translate }}</div>
            <div ng-show="model == 1" class="assetValueColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.TYPE_1' | translate }}</div>
            <div ng-show="model == 2" class="assetValueColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.TYPE_2' | translate }}</div>
          </div>
          <div ng-show="model == 1 || model == 2">
            <div class="col-xs-12 noPaddingLeftRight assetDataLine">
              <div class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.UNLOCK_NUMBER' | translate }}</div>
              <div class="assetValueColumn col-xs-6 noPaddingLeftRight">{{unlockNumber}}</div>
            </div>
            <div class="col-xs-12 noPaddingLeftRight assetDataLine">
              <div class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.TOTAL_LOCKED_QUANTITY' | translate }}</div>
              <div class="assetValueColumn col-xs-6 noPaddingLeftRight">{{quantityLocked}}</div>
            </div>
            <div class="col-xs-12 noPaddingLeftRight assetDataLine">
              <div class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.TOTAL_LOCKED_PERIOD' | translate }}</div>
              <div class="assetValueColumn col-xs-6 noPaddingLeftRight">{{periodLocked}}</div>
            </div>
          </div>
          <div ng-show="model == 2" ng-repeat="period in model2ToSend | orderBy:'index'">
            <div class="col-xs-12 noPaddingLeftRight assetDataLine">
              <div class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.MODEL2_QUANTITY' | translate }}{{period.index+1}}</div>
              <div class="assetValueColumn col-xs-6 noPaddingLeftRight">{{period.quantity}}</div>
            </div>
            <div class="col-xs-12 noPaddingLeftRight assetDataLine">
              <div class="assetDataColumn col-xs-6 noPaddingLeftRight">{{ 'SECONDARY_ISSUE.MODEL2_PERIOD' | translate }}{{period.index+1}}</div>
              <div class="assetValueColumn col-xs-6 noPaddingLeftRight">{{period.number}}</div>
            </div>
          </div>
        </div>
      </div>
      <!--Password-->
      <div class="form-group">
        <label for="password" class="control-label">{{ 'SETTINGS_BACKUP_PASSWORD' | translate }}</label>
        <input type="password" class="form-control" name="password" id="" name="password" ng-model="password" ng-class="{validInput: !errorPassword, wrongInput: errorPassword}" autocomplete="off">
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group noPaddingLeftRight">
      <br>
      <!--Submit button-->
      <div class="col-xs-6 col-sm-6 col-md-3">
        <input type="submit" class="btn btn-success" ng-click="popupSecondaryIssue(password)" value="{{ 'CREATE_PROFILE.CREATE_PROFILE_BUTTON' | translate }}" ng-disabled="errorPassword">
      </div>
      <!--Return button-->
      <div class="col-xs-6 col-sm-6 col-md-3">
        <button class="btn btn-success btn-success-secondary" ng-click="confirmation = false; password = ''">{{ 'CANCEL_BUTTON' | translate }}</button>
      </div>
    </div>
  </form>
</div>


<script type="text/ng-template" id="secondaryIssue">
  <h2 class="center">
    {{ 'SECONDARY_ISSUE_VALIDATION.TITLE' | translate }}
  </h2>
  <div class="it-list">
    {{ 'SECONDARY_ISSUE_VALIDATION.TEXT1' | translate }}
    {{quantity}} {{symbol}}
    {{ 'SECONDARY_ISSUE_VALIDATION.TEXT2' | translate }}
  </div>
  <div class="popupButtons">
    <button class="btn btn-link-red createAssetPopupButtons col-xs-6" ng-click="closeAll()">
      {{ 'CANCEL_BUTTON' | translate }}
    </button>
    <button class="btn btn-success createAssetPopupButtons col-xs-6" ng-click="secondaryIssue();password='';closeAll()">
      {{ 'ASSET_CREATE_SUCCESS_ISSUE_NOW' | translate }}
    </button>
  </div>
</script>
