<div class="headline"><em></em>{{ 'HEADLINE_ASSETS_TRANSFER' | translate }}: {{symbol}}</div>
<div class="">
  <br/>
  <br/>
  <div class="row">
    <form>
      <div class="col-md-6">
        <div class="form-group">
          <label for="recipent_address" class="control-label">{{ 'TRANSFER_RECIPENT_ADDRESS' | translate }}：<span class="red big">*</span></label>
          <input type="text" class="form-control" name="recipent_address" ng-model="recipent_address">
        </div>
        <div class="form-group">
          <label for="quantity" class="control-label">{{ 'TRANSFER_VALUE' | translate }}：<span class="red big">*</span></label>
          <input type="number" class="form-control" name="quantity" ng-model="quantity">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="password" class="control-label">{{ 'TRANSFER_PASSWORD' | translate }}：<span class="red big">*</span></label>
          <input type="password" class="form-control" name="password" ng-model="password" autocomplete="">
        </div>
      </div>
      <div class="noPaddingLeftRight form-group col-md-12">
        <br/>
        <div class="form-group col-xs-6 col-md-6">
          <input type="submit" class="btn btn-success" ng-click="sendasset(recipent_address,symbol,quantity)" value="{{ 'TRANSFER_SEND' | translate }}">
        </div>
        <div class="form-group col-xs-6 col-md-6">
          <a href="#!/asset/details/" class="btn btn-info">{{ 'TRANSFER_BACK_ASSETS' | translate }}</a>
        </div>
      </div>
    </form>
  </div>
</div>
